Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SAR: add an upload-phase error classifier for Snowflake Apps (#209)
  src/snowflake/cli/_plugins/apps/upload_errors.py
  tests/apps/test_upload_errors.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: make Snowflake Apps upload prepare-phase errors actionable (#210)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix plan output
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
  src/snowflake/cli/_plugins/feature/commands.py
  tests/feature/test_commands.py
  tests/feature/test_verify_script_preflight.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing tests for describe --version
  tests/feature/test_commands.py
  tests/feature/test_manager.py
Due: none

feat: add --version to snow feature describe
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note describe --version in feature plugin DESIGN
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

fix: remove mention about accepted (wrong) values (#228)
  RELEASE-NOTES.md
Due: none

SAR: report Snowflake Apps upload push failures with context (#211)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3766357 Add powershell config note (#159)
  RELEASE-NOTES.md
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/encoding_diagnostics.py
  src/snowflake/cli/api/windows_console_encoding.py
  tests/helpers/test_detect_encoding.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: use managed compute pools in integration tests (#227)
  tests_integration/test_data/projects/snowflake_apps/snowflake.yml
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: none

test: drop details column from list/describe table projection
  tests/feature/test_commands.py
Due: none

refactor: drop details column from feature table projection
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note details is no longer a feature table display column
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

test: add structured-output tests for online-service describe list
  tests/feature/test_commands.py
Due: none

feat: structured ObjectResult for online-service and describe
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: document format-aware output for feature commands
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

test: add failing tests for stderr state-fetch progress bar
  tests/feature/test_commands.py
  tests/feature/test_manager.py
Due: none

feat: render stderr progress bar for plan/list state fetch
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: document stderr state-fetch progress bar for plan/list
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

fix: show 0/0 for empty state-fetch progress phase
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: cumulative monotonic state-fetch progress bar
  tests/feature/test_manager.py
Due: none

feat: cumulative monotonic state-fetch progress bar
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: describe cumulative monotonic state-fetch progress bar
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

test: front-loaded progress total with in-flight reserve
  tests/feature/test_manager.py
Due: none

feat: front-load state-fetch progress denominator
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: document front-loaded state-fetch progress denominator
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

test: state-fetch progress keeps stable phase-label description
  tests/feature/test_manager.py
Due: none

feat: keep stable phase label on state-fetch progress bar
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note per-item name is not rendered on progress bar
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

test: assert plan bundle drives progress like list (front-loaded)
  tests/feature/test_manager.py
Due: none

feat: mirror list progress design in plan state-fetch bundle
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note plan bundle mirrors list progress design
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

chore: add github workflow that mirrors release branch and tag when release tag is pushed (#229)
  .github/workflows/mirror-release.yml
  .github/workflows/mirror-tagged-release.yml
Due: none

feat: record Cortex session ID in CLI telemetry (#230)
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
