Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

SNOW-1282073: repl poc - capsys update
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - unified prompt for repl and exit marks & tests
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  src/snowflake/cli/api/console/enum.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - win32_dummy_console typo fix
  conftest.py
Due: none

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - use regular snapshot
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - cleanup pyproject
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - restore full tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - yield after all patches
  conftest.py
Due: none

SNOW-1282073: repl poc - tests for ramka
  pyproject.toml
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope 3
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope 2
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - support for ctrl+j on some terminals
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - force full rich features in tests
  conftest.py
Due: none

SNOW-1282073: repl poc - drop coverage from tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - no VerboseCursor for REPL
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - use regular enter before `;` after send query
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - sort dependencies
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshots
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - resolved search enter behaviour
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - after rebase fixes
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1282073: repl poc - restore maxfail
  pyproject.toml
  tests/sql/__snapshots__/test_sql.ambr
Due: dependencies-sync

Change table behaviour in snow logs
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2032682] fix project entity_id vs identifier
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Change table behaviour in snow logs (#2190)
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2032682] fix project entity_id vs identifier (#2191)
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

init release plugin
  scripts/release-plugin/pyproject.toml
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/__init__.py
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/hello_language.py
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/manager.py
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/plugin_spec.py
Due: none

Fix
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

Add final to cherrypick branch
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

Tag command
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

fix check branch exists
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

status command beginning
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

fix
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

create rc
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

remove test
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

Add github token
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none
