Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Moved fix for large files uploaded to AWS S3 to 2.7.0 version (#1403)
  RELEASE-NOTES.md
Due: none

build fix
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/snowpark_package_paths.py
  src/snowflake/cli/plugins/snowpark/zipper.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove streamlit template
  src/snowflake/cli/templates/default_streamlit/snowflake.yml
Due: none

Removed test_project_definition_v2_is_disabled test
  tests/project/test_config.py
Due: none

Update test_integration.yaml for debugging
  .github/workflows/test_integration.yaml
Due: none

Added debug for integration trusted
  .github/workflows/test_integration.yaml
Due: none

Update src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Set test config file mode to 600 to prevent warnings (#1398)
  tests/testing_utils/fixtures.py
  tests_integration/config/world_readable.toml
  tests_integration/conftest.py
  tests_integration/test_config.py
Due: none

Remove streamlit template (#1405)
  src/snowflake/cli/templates/default_streamlit/snowflake.yml
Due: none

Integration test CI improvements (#1396)
  .github/workflows/test_integration.yaml
  pyproject.toml
Due: dependencies-sync

query problem
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "Added debug for integration trusted"
  .github/workflows/test_integration.yaml
Due: none

Revert "Removed test_project_definition_v2_is_disabled test"
  tests/project/test_config.py
Due: none

Fixed cherry-pick with feature flags
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

test entity_model_to_entity_map
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump version to 2.7.0rc4
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix for zipper
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/zipper.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

manager tests
  tests/workspace/test_manager.py
  tests/workspace/utils.py
Due: none

Test fix
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/package_utils.py
  tests/project/test_project_definition_v2.py
  tests_integration/test_snowpark.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test fix
  tests_integration/test_snowpark.py
Due: none

addressing pr comments
  src/snowflake/cli/api/entities/application_entity.py
  src/snowflake/cli/api/entities/application_package_entity.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/streamlit_entity.py
  src/snowflake/cli/api/exceptions.py
  src/snowflake/cli/plugins/workspace/commands.py
  src/snowflake/cli/plugins/workspace/manager.py
  tests/workspace/test_manager.py
  tests/workspace/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix
  src/snowflake/cli/plugins/connection/commands.py
  src/snowflake/cli/plugins/connection/util.py
  tests/__snapshots__/test_connection.ambr
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  RELEASE-NOTES.md
Due: none

Fix
  src/snowflake/cli/plugins/connection/commands.py
  tests/__snapshots__/test_connection.ambr
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  .github/workflows/lint.yaml
Due: none

another try at Fix
  .github/workflows/lint.yaml
Due: none

Fix
  .pre-commit-config.yaml
Due: none

Fix
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  src/snowflake/cli/app/commands_registration/command_plugins_loader.py
  src/snowflake/cli/app/snow_connector.py
  src/snowflake/cli/app/telemetry.py
  src/snowflake/cli/plugins/nativeapp/artifacts.py
  src/snowflake/cli/plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/plugins/snowpark/commands.py
  tests/nativeapp/codegen/test_sandbox.py
  tests/nativeapp/test_artifacts.py
  tests/snowpark/test_function.py
  tests/spcs/test_registry.py
  tests/stage/test_md5.py
  tests/streamlit/test_commands.py
  tests_integration/conftest.py
  tests_integration/nativeapp/test_project_templating.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix for failing code quality checks (#1412)
  .pre-commit-config.yaml
Due: none

Fix for whitespaces problem in connection add (#1410)
  RELEASE-NOTES.md
  src/snowflake/cli/plugins/connection/commands.py
  src/snowflake/cli/plugins/connection/util.py
  tests/__snapshots__/test_connection.ambr
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
