Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Update job_utils to take Paths instead of strings
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Switch to JSON for spec dump
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Use StageManager for stage operations
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DEBUG
  scripts/packaging/win/build_installer.bat
Due: none

debug
  scripts/packaging/win/build_installer.bat
Due: none

try downloading file to separate dir
  scripts/packaging/win/build_installer.bat
Due: none

heat
  scripts/packaging/win/build_installer.bat
Due: none

build + sign
  scripts/packaging/win/build_installer.bat
Due: none

remove separate dir
  scripts/packaging/win/build_installer.bat
Due: none

DEBUG hardcode version
  scripts/packaging/win/build_installer.bat
Due: none

sign the installer
  scripts/packaging/win/build_installer.bat
Due: none

version bump
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Derive resources from instance family
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Separate requests/limits at ImageSpec level
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add memory volume
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add some TODOs
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Minor change to console message
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Ignore directories in payload source
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Improve payload and entrypoint handling
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

don't use teardown
  tests_integration/nativeapp/conftest.py
  tests_integration/nativeapp/test_api.py
Due: none

Minor fix to memory volume
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Generate random job service name
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update tests
  tests/nativeapp/test_manager.py
Due: none

remove sync deploy from manager
  src/snowflake/cli/_plugins/nativeapp/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

introduce subclasses for ProgrammingErrors and add more telemetry
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/exceptions.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/exceptions.py
  src/snowflake/cli/api/sql_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Minor adjust
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

version bump (#1653)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1694005: fix executable path
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 8
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 16
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 26
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 7
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 3
  scripts/packaging/build_darwin_package.sh
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
