Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

test: [SNOW-2273956] fix tests on windows
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2273956] fix tests on windows - second attempt
  tests/dcm/test_manager.py
Due: none

bug fix and feature improvement
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Jw/snow 2273956 remove snowflake yml dependency (#2572)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/regex_resolver.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/artifacts/test_bundle_map.py
  tests/api/artifacts/test_regex_resolver.py
  tests/api/console/test_cli_console_output.py
  tests/api/console/test_console_abc.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_project_entity_model.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2306298] improve UX of dcm commands
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/entities/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Jw/snow 2306298 dcm improve ux (#2583)
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/entities/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2306289] support copying output files to local path
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: replace hardcoded keypair alias with variable for signing process
  scripts/packaging/win/build_installer.bat
Due: none

refactor: [SNOW-2306289] extract logic related to generating identifiers for temp stages to FQN.related_to_resource
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/identifiers.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1555911: eplace hardcoded keypair alias with variable for signing windows installer (#2590)
  scripts/packaging/win/build_installer.bat
Due: none

feat: [SNOW-2306289] add more tests
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_fqn.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2220426: streaming output release notes
  RELEASE-NOTES.md
Due: none

SNOW-2220426: streaming output drop deprecated function
  src/snowflake/cli/_app/printing.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-2220426: streaming output fix new lines handling
  src/snowflake/cli/_app/printing.py
  tests/output/test_streaming_printing.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-2220426: streaming output
  src/snowflake/cli/_app/printing.py
  tests/output/test_streaming_printing.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-2220426: streaming output fix windows paths in test
  src/snowflake/cli/_app/printing.py
Due: avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2306289] apply review suggestions
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/identifiers.py
  tests/api/test_fqn.py
  tests/dbt/test_dbt_commands.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snow 2220426 streaming output (#2589)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/printing.py
  tests/output/test_streaming_printing.py
Due: avoid-snowcli, use-local-requirements-model

Jw/snow 2306289 support local output path (#2591)
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/identifiers.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_fqn.py
  tests/dbt/test_dbt_commands.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2306301] extend dcm plan/deploy --from flag to support local paths
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_fqn.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2150049] extract logic for establishing effective stage
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

feat: [SNOW-2306301] extend dcm plan/deploy --from flag to support local paths (#2596)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_fqn.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

NO-CONN Update RELEASE-NOTES.md (#2597)
  RELEASE-NOTES.md
Due: none

mraba/connector-update
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

mraba/connector-update: release notes
  RELEASE-NOTES.md
Due: none

SNOW-2187773 Set Decimal precision to 38
  RELEASE-NOTES.md
  src/snowflake/cli/_app/__main__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/connector-update (#2598)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

bring empty line back
  RELEASE-NOTES.md
Due: none

feat: [SNOW-2150049] dbt deploy - add external access integration support
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project_with_external_deps/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/first_model_with_utils.sql
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/schema.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/second_model_with_utils.sql
  tests_integration/test_data/projects/dbt_project_with_external_deps/packages.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2193769 Enable partial, case-insensitive matching for object names in `snow logs`
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  tests/logs/test_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix snapshot
  tests/__snapshots__/test_help_messages.ambr
Due: none

added missing snapshots
  tests/logs/__snapshots__/test_logs.ambr
Due: none

refactor: [SNOW-2150049] rename
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add test for DECFLOAT; improved setting precision so it works in the real snow execution and in tests
  src/snowflake/cli/_app/__init__.py
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/sql/lexer/types.py
  tests_integration/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.11.1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Jw/snow 2150049 dbt external access integrations (#2474)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project_with_external_deps/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/first_model_with_utils.sql
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/schema.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/second_model_with_utils.sql
  tests_integration/test_data/projects/dbt_project_with_external_deps/packages.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2193769 Enable partial, case-insensitive matching for object names in `snow logs` (#2600)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NOSNOW] update release notes for 3.11.1
  RELEASE-NOTES.md
Due: none

chore: [NOSNOW] update release notes for 3.11.1 (#2605)
  RELEASE-NOTES.md
Due: none
