Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

change title
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address comments
  tests_integration/nativeapp/test_event_sharing.py
Due: none

reword title for manifest
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Use Factory boy for manifest generation
  tests/nativeapp/factories.py
  tests_integration/nativeapp/test_event_sharing.py
Due: none

move 500 to clearly named constant
  src/snowflake/cli/_plugins/spcs/services/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Make manifest optional in application package pdfV2 (#1859)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/helpers/test_v1_to_v2.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Changes after review 3
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Changes after review 4
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Changed PathMapping.src to Path
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/project/schemas/v1/native_app/path_mapping.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/project/test_project_schemas.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added full global support
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  tests/snowpark/test_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Changes after review 2
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/snowpark/__snapshots__/test_models.ambr
  tests/snowpark/test_artifacts.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/testing_utils/fixtures.py
  tests_integration/conftest.py
  tests_integration/test_object.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Changes after review
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/_plugins/streamlit/streamlit_project_paths.py
  src/snowflake/cli/api/project/project_paths.py
  tests/snowpark/__snapshots__/test_models.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added glob support for Snowpark and Streamlit
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  tests/snowpark/test_project_paths.py
  tests/streamlit/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Renamed feature flag and added release notes
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/api/feature_flags.py
  tests/snowpark/__snapshots__/test_models.ambr
  tests/snowpark/test_artifacts.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/testing_utils/fixtures.py
  tests_integration/conftest.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "Changed PathMapping.src to Path"
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/project/schemas/v1/native_app/path_mapping.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/project/test_project_schemas.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added glob support for Snowpark and Streamlit
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/commons.py
  src/snowflake/cli/api/project/schemas/v1/native_app/native_app.py
  tests/streamlit/test_streamlit_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Removed or None
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add integration tests for event sharing (#1861)
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  tests/nativeapp/factories.py
  tests_integration/nativeapp/test_event_sharing.py
  tests_integration/scripts/integration_account_setup.sql
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snow 1789099: SnowCLI integrates with spcs previous logs (#1860)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

3.2.0 release notes
  RELEASE-NOTES.md
Due: none

sort spans deterministically by creation order
  src/snowflake/cli/api/metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

3.2.0 release notes (#1863)
  RELEASE-NOTES.md
Due: none

RC0 version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Starting 3.3.0.dev0 on the main branch
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix test
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Fix whitespaces in e2e test
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Starting 3.3.0.dev0 on the main branch (#1864)
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup icacls command
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/secure_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update release notes
  RELEASE-NOTES.md
Due: none

revert autoformatter
  RELEASE-NOTES.md
Due: none

SNOW-1791894 Remove grants instead of denying permissions on Windows (#1871)
  RELEASE-NOTES.md
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/secure_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove empty defaults from docs
  src/snowflake/cli/_app/dev/docs/templates/usage.rst.jinja2
Due: none

only one sort, remove counter
  src/snowflake/cli/api/metrics.py
  tests_integration/nativeapp/test_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove empty defaults from docs (#1872)
  src/snowflake/cli/_app/dev/docs/templates/usage.rst.jinja2
Due: none

Release notes for v3.2.0 RC1
  RELEASE-NOTES.md
Due: none

Bump version to RC1
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
