Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SAR: don't require OWNERSHIP to redeploy Snowflake Apps code to a stage (#212)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: retry a transient upload transfer failure in Snowflake Apps deploy (#213)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: accept both "already exists" codes for a workspace live version (#215)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: make app.yml v2 generally available, re-gate CNG behind its own flag (#234)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
  tests_integration/apps/test_snowflake_apps.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3194269: snowCD migration: snow connection test --enable-diag per-endpoint diagnostics (#2)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/_plugins/connection/diagnostic.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
  tests/test_connection_diagnostic.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: default to temporary code storage (#238)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3723127: Enable ENABLE_DBT_GIT_METADATA flag by default (#232)
  RELEASE-NOTES.md
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: prefer SNOWFLAKE.APPS.GET_DEFAULT_APP_AREA() for deploy defaults (#237)
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2101026] send only artifact repository packages in snowpark deploy (#220)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  tests/snowpark/test_function.py
  tests/test_data/projects/snowpark_artifact_repository/app.py
  tests/test_data/projects/snowpark_artifact_repository/requirements.snowflake.txt
  tests/test_data/projects/snowpark_artifact_repository/snowflake.yml
  tests_integration/test_data/projects/snowpark_artifact_repository/snowflake.yml
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: make the diagnostic stream-order test deterministic (#243)
  tests/test_connection_diagnostic.py
Due: none

Snowflake Apps: add optional build_job_location to app.yml v2 (#244)
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: add optional health_check field on the CNG deploy path (#245)
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_app_yml.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: wrap every snow app command in a root telemetry span (#246)
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: drop --dev/dev_mode from the feature plugin
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
  src/snowflake/cli/_plugins/feature/DESIGN.md
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_apply_status_contract.py
  tests/feature/test_commands.py
  tests/feature/test_integration.py
  tests/feature/test_manager.py
  tests/feature/test_manager_feature_group.py
  tests/feature/test_replan_idempotency.py
  tests/feature/test_replan_offline_bfv_idempotency.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-4023083: Refresh version cache in background thread; fix corrupt-cache check-version (#236)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/main_typer.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/console/console.py
  tests/app/test_version_check.py
  tests/conftest.py
  tests/helpers/test_check_version.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump release notes 3.26.0 (#249)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: plan.errors block plan/write_plan (FG member RI)
  tests/feature/test_manager.py
Due: none

feat: honor plan.errors in feature plan/write_plan
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: enable 2 rules and improve 1 more (#239)
  .ai/review/snowflake-cli-coding-rules-test/snowflake-cli-actionable-error-messages/1_autogen.py
  .ai/review/snowflake-cli-coding-rules-test/snowflake-cli-actionable-error-messages/2_autogen_noop.py
  .ai/review/snowflake-cli-coding-rules.yaml
  .ai/review/snowflake-cli-testing-rules.yaml
Due: none

Update release notes for 3.26.0
  RELEASE-NOTES.md
Due: none

Bump version to v3.26.0-rc0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.26.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4016666] upgrade GitPython to 3.1.59 (#240)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Hide --provision-certs behind feature flag, drop CNG from docs (#253)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
