Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-3659937: remove ENABLE_DBT_PROJECT_PROFILES_FILE_PRECEDENCE flag
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/conftest.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SAR: only delete the bundle directory we created
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/snowflake_app_project_paths.py
  tests/apps/test_snowflake_app_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add --instance flag to snow app events for per-instance log retrieval
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DOC-15509: correct --install-local-deps help text
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump release notes 3.25.0
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: add an upload-phase error classifier for Snowflake Apps
  src/snowflake/cli/_plugins/apps/upload_errors.py
  tests/apps/test_upload_errors.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: make Snowflake Apps upload prepare-phase errors actionable
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: remove mention about accepted (wrong) values (#228)
  RELEASE-NOTES.md
Due: none

SAR: report Snowflake Apps upload push failures with context
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3766357 Add powershell config note
  RELEASE-NOTES.md
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/encoding_diagnostics.py
  src/snowflake/cli/api/windows_console_encoding.py
  tests/helpers/test_detect_encoding.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: use managed compute pools in integration tests
  tests_integration/test_data/projects/snowflake_apps/snowflake.yml
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: none

feat: record Cortex session ID in CLI telemetry
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: don't require OWNERSHIP to redeploy Snowflake Apps code to a stage
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: retry a transient upload transfer failure in Snowflake Apps deploy
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: accept both "already exists" codes for a workspace live version
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: make app.yml v2 generally available, re-gate CNG behind its own flag
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
  tests_integration/apps/test_snowflake_apps.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3194269: snowCD migration: snow connection test --enable-diag per-endpoint diagnostics
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/_plugins/connection/diagnostic.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
  tests/test_connection_diagnostic.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: default to temporary code storage
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3723127: Enable ENABLE_DBT_GIT_METADATA flag by default (#232)
  RELEASE-NOTES.md
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: prefer SNOWFLAKE.APPS.GET_DEFAULT_APP_AREA() for deploy defaults
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2101026] send only artifact repository packages in snowpark deploy
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  tests/snowpark/test_function.py
  tests/test_data/projects/snowpark_artifact_repository/app.py
  tests/test_data/projects/snowpark_artifact_repository/requirements.snowflake.txt
  tests/test_data/projects/snowpark_artifact_repository/snowflake.yml
  tests_integration/test_data/projects/snowpark_artifact_repository/snowflake.yml
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: make the diagnostic stream-order test deterministic
  tests/test_connection_diagnostic.py
Due: none

Snowflake Apps: add optional build_job_location to app.yml v2
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: add optional health_check field on the CNG deploy path
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_app_yml.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SAR: wrap every snow app command in a root telemetry span
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-4023083: Refresh version cache in background thread; fix corrupt-cache check-version
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/main_typer.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/console/console.py
  tests/app/test_version_check.py
  tests/conftest.py
  tests/helpers/test_check_version.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump release notes 3.26.0
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4016666] upgrade GitPython to 3.1.59
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Hide --provision-certs behind feature flag, drop CNG from docs
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore(imported): public PR #3155: PR ingestion 1
  .github/.pr-ingest-1
Due: none

SNOW-4000112: add --script/--all-scripts and --expectations to dcm test
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/multistep_progress.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/unit_test.py
  src/snowflake/cli/_plugins/dcm/utils.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters/test_unit_test_reporter.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

perf(deps): bump tomlkit 0.13.3 → 0.15.1 (fixes O(n²) config parsing)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SAR: disable health monitoring for serverless apps
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/events.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4058666] upgrade snowflake-connector-python to 4.7.3 (#265)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Support pyproject.toml for dependency resolution in snowpark build
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  tests/__snapshots__/test_help_messages.ambr
  tests/snowpark/test_build.py
  tests/snowpark/test_snowpark_entity.py
  tests/test_data/projects/snowpark_pyproject_dependencies/app.py
  tests/test_data/projects/snowpark_pyproject_dependencies/pyproject.toml
  tests/test_data/projects/snowpark_pyproject_dependencies/snowflake.yml
  tests/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix runtime_name being silently ignored by snow streamlit deploy (BCR-2342)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-4014804: restart Streamlit after deploy so existing apps pick up new files
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/streamlit_test_class.py
  tests/streamlit/test_streamlit_commands.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2101026] add --skip-dependencies to snowpark build
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_shared.py
  src/snowflake/cli/api/feature_flags.py
  tests/snowpark/test_build.py
  tests_integration/test_data/projects/snowpark_artifact_repository_skip_dependencies/app.py
  tests_integration/test_data/projects/snowpark_artifact_repository_skip_dependencies/requirements.txt
  tests_integration/test_data/projects/snowpark_artifact_repository_skip_dependencies/snowflake.yml
  tests_integration/test_snowpark.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: add review rules for command design sign-off and plugin CODEOWNERS
  docs/contributing/adding-commands.md
  docs/contributing/writing-a-plugin.md
Due: none

Fix streamlit integration tests broken by BCR-2342 default-runtime change
  tests_integration/test_streamlit.py
  tests_integration/test_streamlit_old.py
  tests_integration/testing_utils/streamlit_utils.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
