Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-3417288: harden credential redaction in ConnectionContext
  RELEASE-NOTES.md
  src/snowflake/cli/api/connections.py
  tests/api/test_connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix(nativeapp): escape py_file path in Snowpark processor callback template (#2974)
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/callback_source.py.jinja
  tests/nativeapp/codegen/snowpark/test_python_processor.py
Due: none

Fix SQL injection via unescaped credentials in secret/git helpers (SNOW-3417285)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/api/sql_execution.py
  tests/api/test_sql_execution.py
  tests/git/test_git_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3417310 fix SQL injection in snow cortex complete/translate
  src/snowflake/cli/_plugins/cortex/manager.py
  tests/cortex/test_cortex_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3417038: prevent path traversal in post-deploy sql_script hooks
  RELEASE-NOTES.md
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/api/test_render_script_template.py
  tests/nativeapp/test_post_deploy_for_app.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: add tests
  RELEASE-NOTES.md
  tests/api/test_render_script_template.py
Due: none

proactive/SNOW-3417285-secret-url-escape: use to_string_literals
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/api/sql_execution.py
  tests/api/test_sql_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3392895] escape SPCS service args in CALL SYSTEM$GET_SERVICE_* queries (#2956)
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3417304: escape single quotes in SHOW ... LIKE patterns
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  tests/object/test_object.py
  tests/spcs/test_image_repository.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3417278] contain read_file_content / procedure_from_js_file to project root
  RELEASE-NOTES.md
  src/snowflake/cli/api/rendering/jinja.py
  tests/api/test_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3417292] escape string literals in CREATE STREAMLIT SQL (#2972)
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Drop redundant str() and cover PARSE_JSON branch in cortex SQLi tests
  src/snowflake/cli/_plugins/cortex/manager.py
  tests/cortex/test_cortex_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3417049] refuse to follow symlinks that escape the project root (#2984)
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/utils.py
  tests/api/artifacts/test_bundle_map.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3417288] redact credentials in ConnectionContext repr (#2965)
  src/snowflake/cli/api/connections.py
  tests/api/test_connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix SQL injection in secret and git repo helpers (SNOW-3417285) (#2960)
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/api/sql_execution.py
  tests/api/test_sql_execution.py
  tests/git/test_git_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

proactive/SNOW-3417304-like-pattern-escape: improve string escaping
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  tests/git/test_git_commands.py
  tests/object/test_object.py
  tests/spcs/test_image_repository.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3417038] prevent path traversal in post-deploy sql_script hooks (#2957)
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/api/test_render_script_template.py
  tests/nativeapp/test_post_deploy_for_app.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: fixed exception class
  RELEASE-NOTES.md
  src/snowflake/cli/api/rendering/jinja.py
  tests/api/test_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3417310 fix SQL injection in snow cortex complete/translate (#2993)
  src/snowflake/cli/_plugins/cortex/manager.py
  tests/cortex/test_cortex_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NOSNOW] add release notes for upcoming version
  RELEASE-NOTES.md
Due: none

fix: resolve relative paths against project root
  RELEASE-NOTES.md
  src/snowflake/cli/api/rendering/jinja.py
  tests/api/test_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3417304: escape single quotes in SHOW ... LIKE patterns (#2985)
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  tests/git/test_git_commands.py
  tests/object/test_object.py
  tests/spcs/test_image_repository.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NOSNOW] add release notes for upcoming version (#3037)
  RELEASE-NOTES.md
Due: none

fix: tests on windows
  tests/api/test_rendering.py
Due: none

fix: [SNOW-3417278] contain read_file_content / procedure_from_js_file Jinja filters to project root (#2983)
  src/snowflake/cli/api/rendering/jinja.py
  tests/api/test_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update release notes for 3.18.0
  RELEASE-NOTES.md
  uv.lock
Due: none

Bump dev version to 3.19.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes for 3.18.0
  RELEASE-NOTES.md
Due: none

Bump version to v3.18.0-rc0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump release notes 3.18.0 (#3040)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.18.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix(connection): point users at config.toml when they put default_connection_name in connections.toml
  RELEASE-NOTES.md
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

NO-SNOW: Avoid top-level vendored imports
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! fixup! fixup! fixup! NO-SNOW: Avoid top-level vendored imports
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! NO-SNOW: Avoid top-level vendored imports
  src/snowflake/cli/_plugins/stage/md5.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/connections.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/exceptions.py
  src/snowflake/cli/api/secure_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! NO-SNOW: Avoid top-level vendored imports
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! fixup! fixup! NO-SNOW: Avoid top-level vendored imports
  pyproject.toml
  tests_integration/test_config.py
Due: dependencies-sync
