Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-1793933 build binaries - darwin build 2
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 4
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 legacy intel mac build base
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 13
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 7
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 16
  scripts/packaging/setup_darwin.sh
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 2
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 10
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 9
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 20
  scripts/packaging/setup_darwin.sh
Due: none

SNOW-1793933 darwin build script tuning 3
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 build binaries attempt 1
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 18
  scripts/packaging/setup_darwin.sh
Due: none

SNOW-1793933 darwin build script tuning 12
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 build binaries - preinstall python 3.10
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 build binaries - darwin build
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 17
  scripts/packaging/setup_darwin.sh
Due: none

SNOW-1793933 darwin build script tuning 21
  scripts/packaging/setup_darwin.sh
Due: none

SNOW-1793933 Release Notes
  RELEASE-NOTES.md
Due: none

Added root object
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/entities/common.py
  tests/test_docs_generation_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

[SNOW-1747456] Remove side effects from command registration (#1945)
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/commands_registration/commands_registration_with_callbacks.py
  tests/test_connection.py
  tests/test_docs_generation_output.py
  tests/test_main.py
  tests/testing_utils/fixtures.py
  tests_integration/conftest.py
  tests_integration/test_external_plugins.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add grants support to Streamlit entity
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/streamlit/test_streamlit_manager.py
  tests_integration/test_data/projects/streamlit_v2/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! Add grants support to Streamlit entity
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/streamlit/test_streamlit_manager.py
  tests_integration/test_data/projects/streamlit_v2/snowflake.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snow 1793933 legacy intel mac build (#2013)
  RELEASE-NOTES.md
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/setup_darwin.sh
Due: none

mraba/binary-build-cleanup: restore validate_installtion method use
  scripts/packaging/build_darwin_package.sh
Due: none

mraba/binary-build-cleanup: restore validate_installtion method use (#2021)
  scripts/packaging/build_darwin_package.sh
Due: none

Moved arguments
  src/snowflake/cli/api/entities/resolver.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  tests/project/test_depends_on.py
  tests/test_data/projects/depends_on_basic/snowflake.yml
  tests/test_data/projects/depends_on_with_cyclic_dependency/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

1
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix failure to SQL scripts when there is a comment at the end of the file
  src/snowflake/cli/api/sql_execution.py
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/app_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/package_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/app_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/package_post_deploy2.sql
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Integ tests for release channels, directives, publish command, and run from release channel
  tests_integration/nativeapp/conftest.py
  tests_integration/nativeapp/native_apps_utils.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_publish.py
  tests_integration/nativeapp/test_release_channels.py
  tests_integration/nativeapp/test_release_directives.py
Due: none

mraba/bump-connector-python: v3.13
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Added `snow spcs image-repository deploy` command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/image_repository/image_repository_entity.py
  src/snowflake/cli/_plugins/spcs/image_repository/image_repository_entity_model.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/spcs/test_image_repository.py
  tests/test_data/projects/spcs_image_repository/snowflake.yml
  tests/test_data/projects/spcs_multiple_image_repositories/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added `snow spcs image-repository deploy` command
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/spcs/test_image_repository.py
  tests_integration/spcs/testing_utils/image_repository_utils.py
  tests_integration/test_data/projects/spcs_image_repository/snowflake.yml
Due: none

Changed deploy to create
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/spcs/test_image_repository.py
  tests_integration/spcs/test_image_repository.py
  tests_integration/spcs/testing_utils/image_repository_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after review
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/api/project/definition_helper.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

Update src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add grants support to Streamlit entity (#1981)
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/streamlit/test_streamlit_manager.py
  tests_integration/test_data/projects/streamlit_v2/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Post review fixes
  src/snowflake/cli/api/entities/resolver.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/test_data/projects/depends_on_basic/snowflake.yml
  tests/test_data/projects/depends_on_with_cyclic_dependency/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
