Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

simplify test projet parametrization
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
  tests_integration/nativeapp/test_bundle.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_open.py
  tests_integration/nativeapp/test_teardown.py
  tests_integration/nativeapp/test_validate.py
  tests_integration/nativeapp/test_version.py
Due: none

Remove custom field_validator because it is not needed anymore
  src/snowflake/cli/api/project/schemas/native_app/native_app.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/project/schemas/native_app/path_mapping.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/project/schemas/snowpark/callable.py
  src/snowflake/cli/api/project/schemas/updatable_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

change schema path fields to str
  src/snowflake/cli/api/project/schemas/entities/application_package_entity.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add deprecation warnings for `init` commands (#1360)
  RELEASE-NOTES.md
  src/snowflake/cli/api/commands/project_initialisation.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_project_initialisation.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Release notes for new version 2.7.0
  RELEASE-NOTES.md
Due: none

Bump version to 2.7.0rc0 and updated release notes
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to 2.7.0rc0 and updated release notes (#1364)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to 3.0.0dev0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix
  .github/workflows/jira_issue.yml
Due: none

Bump version to 3.0.0dev0 (#1365)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add support for PDF V2 in streamlit deploy
  src/snowflake/cli/api/project/schemas/entities/entities.py
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/streamlit/commands.py
  src/snowflake/cli/plugins/streamlit/manager.py
  src/snowflake/cli/templates/default_streamlit/snowflake.yml
  tests/testing_utils/fixtures.py
  tests_integration/conftest.py
  tests_integration/test_data/projects/streamlit_v1/environment.yml
  tests_integration/test_data/projects/streamlit_v1/pages/my_page.py
  tests_integration/test_data/projects/streamlit_v1/snowflake.yml
  tests_integration/test_data/projects/streamlit_v1/streamlit_app.py
  tests_integration/test_data/projects/streamlit_v1/utils/utils.py
  tests_integration/test_data/projects/streamlit_v2/environment.yml
  tests_integration/test_data/projects/streamlit_v2/pages/my_page.py
  tests_integration/test_data/projects/streamlit_v2/snowflake.yml
  tests_integration/test_data/projects/streamlit_v2/streamlit_app.py
  tests_integration/test_data/projects/streamlit_v2/utils/utils.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

New epic for community issues for Q3 (#1366)
  .github/workflows/jira_issue.yml
Due: none

Drop support for Python <3.10
  .github/workflows/matrix.yaml
  CONTRIBUTING.md
  README.md
  RELEASE-NOTES.md
  pyproject.toml
Due: dependencies-sync

Add spaces in deprecated init help
  src/snowflake/cli/api/commands/project_initialisation.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add spaces in deprecated init help messages (#1368)
  src/snowflake/cli/api/commands/project_initialisation.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump version to 2.7.0rc01
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Converting additional project definition v2 fields (#1355)
  src/snowflake/cli/api/project/schemas/entities/application_package_entity.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/nativeapp/test_v2_to_v1.py
  tests/test_data/projects/integration_templated_v2/app/README.md
  tests/test_data/projects/integration_templated_v2/app/manifest.yml
  tests/test_data/projects/integration_templated_v2/app/setup.sql
  tests/test_data/projects/integration_templated_v2/package/001-shared.sql
  tests/test_data/projects/integration_templated_v2/package/002-shared.sql
  tests/test_data/projects/integration_templated_v2/snowflake.yml
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
  tests_integration/nativeapp/test_bundle.py
  tests_integration/nativeapp/test_debug_mode.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_open.py
  tests_integration/nativeapp/test_project_templating.py
  tests_integration/nativeapp/test_teardown.py
  tests_integration/nativeapp/test_validate.py
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix tests
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity.py
  src/snowflake/cli/plugins/streamlit/commands.py
  src/snowflake/cli/plugins/streamlit/manager.py
  tests/app/test_telemetry.py
  tests/streamlit/conftest.py
  tests/streamlit/test_commands.py
  tests/test_data/projects/streamlit_full_definition/extra_file.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added connectors log_configuration module to reload
  src/snowflake/cli/api/cli_global_context.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added connectors log_configuration module to reload (#1336)
  src/snowflake/cli/api/cli_global_context.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Wrapped cli_context with function
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/run_processor.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/nativeapp/test_v2_to_v1.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Wrapped cli_context with function
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/experimental_behaviour.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/commands/typer_pre_execute.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/identifiers.py
  src/snowflake/cli/api/project/definition.py
  src/snowflake/cli/api/project/project_verification.py
  src/snowflake/cli/api/rendering/sql_templates.py
  src/snowflake/cli/api/sql_execution.py
  src/snowflake/cli/app/commands_registration/exception_logging.py
  src/snowflake/cli/app/main_typer.py
  src/snowflake/cli/app/printing.py
  src/snowflake/cli/app/snow_connector.py
  src/snowflake/cli/app/telemetry.py
  src/snowflake/cli/plugins/connection/commands.py
  src/snowflake/cli/plugins/cortex/commands.py
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/project_model.py
  src/snowflake/cli/plugins/nativeapp/version/commands.py
  src/snowflake/cli/plugins/notebook/manager.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/stage/commands.py
  src/snowflake/cli/plugins/streamlit/commands.py
  tests/api/test_fqn.py
  tests/api/test_rendering.py
  tests/conftest.py
  tests/notebook/test_notebook_manager.py
  tests/output/test_silent_output.py
  tests/test_common_global_context.py
  tests_integration/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add default values to generated docs
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/app/dev/docs/templates/usage.rst.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/test_docs_generation_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Wrapped cli_context with function (#1331)
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/experimental_behaviour.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/commands/typer_pre_execute.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/identifiers.py
  src/snowflake/cli/api/project/definition.py
  src/snowflake/cli/api/project/project_verification.py
  src/snowflake/cli/api/rendering/sql_templates.py
  src/snowflake/cli/api/sql_execution.py
  src/snowflake/cli/app/commands_registration/exception_logging.py
  src/snowflake/cli/app/main_typer.py
  src/snowflake/cli/app/printing.py
  src/snowflake/cli/app/snow_connector.py
  src/snowflake/cli/app/telemetry.py
  src/snowflake/cli/plugins/connection/commands.py
  src/snowflake/cli/plugins/cortex/commands.py
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/project_model.py
  src/snowflake/cli/plugins/nativeapp/run_processor.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  src/snowflake/cli/plugins/nativeapp/version/commands.py
  src/snowflake/cli/plugins/notebook/manager.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/stage/commands.py
  src/snowflake/cli/plugins/streamlit/commands.py
  tests/api/test_fqn.py
  tests/api/test_rendering.py
  tests/conftest.py
  tests/nativeapp/test_v2_to_v1.py
  tests/notebook/test_notebook_manager.py
  tests/output/test_silent_output.py
  tests/test_common_global_context.py
  tests_integration/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! Fix tests
  src/snowflake/cli/plugins/streamlit/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! Fix tests
  src/snowflake/cli/plugins/streamlit/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review fixes
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/app/dev/docs/templates/usage.rst.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix telemetry
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add default values to generated docs (#1371)
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/app/dev/docs/templates/usage.rst.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/test_docs_generation_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! Fix tests
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity.py
  src/snowflake/cli/plugins/streamlit/commands.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_commands.py
  tests/test_data/projects/example_streamlit_v2/environment.yml
  tests/test_data/projects/example_streamlit_v2/pages/my_page.py
  tests/test_data/projects/example_streamlit_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_v2/streamlit_app.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
