Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-1282073: repl poc - keepelive for connection by default
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Revert "SNOW-1282073: repl poc - run Windows tests on shell"
  .github/workflows/test.yaml
  conftest.py
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - skip repl snapshots on windos temporarly
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - use regular snapshot
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - use regular enter before `;` after send query
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fix
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix text positioning in Windows installer.
  scripts/packaging/win/snowflake_cli_exitdlg.wxs
Due: none

SNOW-1282073: repl poc - tests for ramka
  pyproject.toml
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshots
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope
  tests/sql/test_sql.py
Due: none

Fixes
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
  tests/logs/test_logs_manager.py
  tests/logs/test_manager.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_integration/test_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope 2
  tests/sql/test_repl.py
Due: none

Updated docs for auth commands
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

debug
  scripts/packaging/build_darwin_package.sh
Due: none

maybe fix
  scripts/packaging/build_darwin_package.sh
Due: none

try unifying scripts
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope 3
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - drop coverage from tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - restore full tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - sort dependencies
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1282073: repl poc - cleanup pyproject
  pyproject.toml
Due: dependencies-sync

feat: [SNOW-1994372] implement project list versions command; minor fixes to project add version command
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

revert unifying scripts
  scripts/packaging/build_darwin_package.sh
Due: none

Added roles to cleanup script and added if for owner
  scripts/cleanup.py
Due: none

Test fix
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  tests/logs/__snapshots__/test_logs.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - force full rich features in tests
  conftest.py
Due: none

SNOW-1282073: repl poc - yield after all patches
  conftest.py
Due: none

Snow 2011455 mac binary build fix (#2158)
  scripts/packaging/build_darwin_package.sh
Due: none

Fix text positioning in Windows installer. (#2157)
  scripts/packaging/win/snowflake_cli_exitdlg.wxs
Due: none

Updated docs for auth commands (#2156)
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added roles to cleanup script and added if for owner (#2161)
  scripts/cleanup.py
Due: none

IN PROGRESS
  src/snowflake/cli/_plugins/project/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
