Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

fix: skip ADD LIVE VERSION FROM LAST for existing versioned streamlit apps
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

style: black formatting for test_streamlit_commands.py
  tests/streamlit/test_streamlit_commands.py
Due: none

fix: replace em-dash with ASCII dash in comment to fix black 22.12.0 crash
  tests/streamlit/test_streamlit_commands.py
Due: none

Snowflake Apps: recreate code stage before upload (#3119)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: upload snowflake-app code files in parallel
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

PR fixes
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/secure_path.py
  tests/api/test_secure_path.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2457402 Encoding handling fixes (#3118)
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/secure_path.py
  tests/api/test_secure_path.py
  tests/test_config.py
  tests/test_main.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: add interface-first plugin framework
  src/snowflake/cli/api/plugins/command/bridge.py
  src/snowflake/cli/api/plugins/command/interface.py
  src/snowflake/cli/api/plugins/command/testing.py
  tests/api/plugins/__init__.py
  tests/api/plugins/command/__init__.py
  tests/api/plugins/command/test_bridge.py
  tests/api/plugins/command/test_interface.py
  tests/api/plugins/command/test_testing.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: upload code files in parallel (#3122)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: record uploaded file count in upload telemetry span
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/api/metrics.py
  tests/api/test_metrics.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: record uploaded file count via metrics counter
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/api/metrics.py
  tests/api/test_metrics.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: record uploaded file count in upload telemetry span (#3123)
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: add telemetry spans to snowflake_app_setup
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Show prev/new values for modified properties in ALTER detail rows
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Refine ALTER detail / operation row colors
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Render object names magenta across all DCM commands
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  src/snowflake/cli/_plugins/dcm/reporters/test.py
  src/snowflake/cli/_plugins/dcm/styles.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Use the prior object-name cyan for ALTER property values
  src/snowflake/cli/_plugins/dcm/styles.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update plan reporter test for uppercased property names
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: none

Bold operation keywords and space out ALTER trees in plan output
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Improve snow dcm test and refresh output
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  src/snowflake/cli/_plugins/dcm/reporters/test.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_reporters/__snapshots__/test_refresh_reporter.ambr
  tests/dcm/test_reporters/__snapshots__/test_test_reporter.ambr
  tests/dcm/test_reporters/test_refresh_reporter.py
  tests/dcm/test_reporters/test_test_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Align dcm test/refresh progress UI and unify the DCM blue
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/progress.py
  tests/dcm/__snapshots__/test_commands.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3444081] skip role validation for Jinja-templated profiles.yml values; improve --use-shell-env-vars messages
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: skip role validation in profiles.yml for Jinja-templated values and improve output message (#3125)
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes for 3.21.0
  RELEASE-NOTES.md
Due: none

Bump dev version to 3.22.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.21.0-rc0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump release notes 3.21.0 (#3126)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.21.0-rc0 (#3127)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: address review feedback on plugin interface framework
  src/snowflake/cli/api/plugins/command/bridge.py
  src/snowflake/cli/api/plugins/command/interface.py
  src/snowflake/cli/api/plugins/command/testing.py
  tests/api/plugins/command/test_bridge.py
  tests/api/plugins/command/test_interface.py
  tests/api/plugins/command/test_testing.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add command_ci_auth_type telemetry field for CI/CD integrations
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: catch subgroup name collisions in assert_interface_well_formed
  src/snowflake/cli/api/plugins/command/testing.py
  tests/api/plugins/command/test_testing.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: add telemetry spans to setup command (#3124)
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: always use server-managed compute pools
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3680799] add interface-first plugin framework (#2860)
  src/snowflake/cli/api/plugins/command/bridge.py
  src/snowflake/cli/api/plugins/command/interface.py
  src/snowflake/cli/api/plugins/command/testing.py
  tests/api/plugins/__init__.py
  tests/api/plugins/command/__init__.py
  tests/api/plugins/command/test_bridge.py
  tests/api/plugins/command/test_interface.py
  tests/api/plugins/command/test_testing.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: always use managed compute pools (#3129)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: preserve key order in profiles.yml and env.yml when staging
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: extract _plural helper and preserve profiles.yml key order when staging
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.21.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: add interface-first plugin authoring guide
  CONTRIBUTING.md
  docs/contributing/adding-commands.md
  docs/contributing/writing-a-plugin.md
Due: none

chore: add interface-first plugin cookiecutter template
  .pre-commit-config.yaml
  plugin-template/conftest.py
  plugin-template/cookiecutter.json
  plugin-template/{{cookiecutter.plugin_name}}/README.md
  plugin-template/{{cookiecutter.plugin_name}}/pyproject.toml
  plugin-template/{{cookiecutter.plugin_name}}/src/{{cookiecutter.package_namespace}}/__init__.py
  plugin-template/{{cookiecutter.plugin_name}}/src/{{cookiecutter.package_namespace}}/{{cookiecutter.plugin_module}}/__init__.py
  plugin-template/{{cookiecutter.plugin_name}}/src/{{cookiecutter.package_namespace}}/{{cookiecutter.plugin_module}}/handler.py
  plugin-template/{{cookiecutter.plugin_name}}/src/{{cookiecutter.package_namespace}}/{{cookiecutter.plugin_module}}/interface.py
  plugin-template/{{cookiecutter.plugin_name}}/src/{{cookiecutter.package_namespace}}/{{cookiecutter.plugin_module}}/plugin_spec.py
  plugin-template/{{cookiecutter.plugin_name}}/tests/__init__.py
  plugin-template/{{cookiecutter.plugin_name}}/tests/test_interface.py
Due: none
