Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-3755161 spcs service events: return service- and instance-level events (#57)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_common.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: allow patch-release sections in release-notes-discipline rule (#74)
  .ai/review/snowflake-cli-markdown-rules-test/snowflake-cli-release-notes-discipline/1_autogen.md
  .ai/review/snowflake-cli-markdown-rules-test/snowflake-cli-release-notes-discipline/2_autogen_noop.md
  .ai/review/snowflake-cli-markdown-rules.yaml
Due: none

SNOW-3766285: Fix streamlit redeploy incorrectly UNSETting inherited schema tags
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: fix mirroring scripts (#76)
  scripts/mirroring/mirror-branch.sh
  scripts/mirroring/mirror-release-branches.sh
Due: none

Update release notes for 3.22.0
  RELEASE-NOTES.md
Due: none

Bump version to v3.22.0-rc0 (#52)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Cherrypicks v3.22.0 (#53)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: bump version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

ci: mirror dcm-early-access branch to public (#78)
  .github/workflows/mirror-custom-branches.yml
Due: none

ci: let mirror-custom-branches workflow_dispatch pick a branch (#79)
  .github/workflows/mirror-custom-branches.yml
  scripts/mirroring/README.md
Due: none

feat: context-aware help for `snow app` (#67)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/test_snow_typer.py
  tests/nativeapp/test_smart_app_help.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: telemetry span improvements and span error codes (#61)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/api/metrics.py
  tests/api/test_metrics.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: fix release plugin to use snowflake-eng
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
Due: none

docs: fix section about installing from homebrew
  README.md
Due: none

chore: add author-review-rule skill and re-author cli-error rule
  .ai/review/snowflake-cli-coding-rules-test/snowflake-cli-use-cli-error-not-click-exception/1_autogen.py
  .ai/review/snowflake-cli-coding-rules-test/snowflake-cli-use-cli-error-not-click-exception/2_autogen_noop.py
  .ai/review/snowflake-cli-coding-rules.yaml
  .claude/skills/author-review-rule/SKILL.md
Due: none

chore: upgrade snowflake-connector-python
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

chore: upgrade snowflake-snowpark-python
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Bump release notes 3.23.0
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes for 3.23.0
  RELEASE-NOTES.md
Due: none

Bump version to v3.23.0-rc0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.23.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: update dbt deploy docs about --force flag
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add `--protocol` global connection override (SNOW-2683101) (#2996)
  .github/CODEOWNERS
  .github/repo_meta.yaml
  RELEASE-NOTES.md
  scripts/release-plugin/README.md
  scripts/release-plugin/pyproject.toml
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/__init__.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/plugin_spec.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/repo_manager.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/utils.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix/streamlit deploy too many files (#3059)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-3580944] upgrade snowflake-connector-python to 4.6.0 (#3063)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

ci: [NOSNOW] unblock doc-only PRs by replacing paths-ignore with a should-run gate (#3064)
  .github/workflows/changes.yaml
  .github/workflows/test.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
Due: none

Jw/snow 3570963 contributing add docs about adding new commands (#3060)
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/contributing/adding-commands.md
  docs/contributing/conventions.md
  docs/contributing/lifecycle.md
  docs/contributing/process.md
Due: none

chore: parallelize unit tests with pytest-xdist (#3074)
  pyproject.toml
Due: dependencies-sync

ci: [NOSNOW] gate docs-only PRs at step level so matrix required checks post (#3073)
  .github/workflows/changes.yaml
  .github/workflows/test.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
Due: none

chore: catch release-notes bullets duplicated across released sections (#3033)
  scripts/check_release_notes_duplicates.py
  tests/test_check_release_notes_duplicates.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
