Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Remove object stage command group
  RELEASE-NOTES.md
  src/snowflake/cli/app/commands_registration/builtin_plugins.py
  src/snowflake/cli/plugins/object_stage_deprecated/__init__.py
  src/snowflake/cli/plugins/object_stage_deprecated/commands.py
  src/snowflake/cli/plugins/object_stage_deprecated/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/object/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove snapshots
  tests/__snapshots__/test_help_messages.ambr
  tests/stage/test_diff.py
Due: none

Enable project definition 2.0 by default
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! Enable project definition 2.0 by default
  tests/project/test_config.py
Due: none

Init
  src/snowflake/cli/api/project/schemas/entities/entities.py
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/templates/default_snowpark/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix some unit test warnings
  src/snowflake/cli/api/commands/flags.py
  tests/conftest.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove object stage command group (#1373)
  RELEASE-NOTES.md
  src/snowflake/cli/app/commands_registration/builtin_plugins.py
  src/snowflake/cli/plugins/object_stage_deprecated/__init__.py
  src/snowflake/cli/plugins/object_stage_deprecated/commands.py
  src/snowflake/cli/plugins/object_stage_deprecated/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/object/test_stage.py
  tests/stage/test_diff.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

cleanup snowpark commands
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/models.py
  src/snowflake/cli/plugins/snowpark/package/commands.py
  src/snowflake/cli/plugins/snowpark/snowpark_shared.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix integration tests
  tests_integration/test_package.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: none

Fix unit tests
  tests/__snapshots__/test_help_messages.ambr
  tests/snowpark/test_build.py
  tests/snowpark/test_package.py
Due: none

update integration tests
  tests_integration/test_package.py
  tests_integration/test_snowpark.py
Due: none

Add release notes
  RELEASE-NOTES.md
Due: none

dont show default: None for required arguments
  src/snowflake/cli/plugins/connection/commands.py
  src/snowflake/cli/plugins/git/commands.py
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/notebook/commands.py
  src/snowflake/cli/plugins/object/commands.py
  src/snowflake/cli/plugins/spcs/jobs/commands.py
  src/snowflake/cli/plugins/streamlit/commands.py
  tests/test_help_messages.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove default:None - snapshot update
  tests/__snapshots__/test_help_messages.ambr
Due: none

move old templates to test data
  .pre-commit-config.yaml
  tests/test_data/templates/__init__.py
  tests/test_data/templates/default_snowpark/.gitignore
  tests/test_data/templates/default_snowpark/app/common.py
  tests/test_data/templates/default_snowpark/app/functions.py
  tests/test_data/templates/default_snowpark/app/procedures.py
  tests/test_data/templates/default_snowpark/requirements.txt
  tests/test_data/templates/default_snowpark/snowflake.yml
  tests/test_data/templates/default_streamlit/.gitignore
  tests/test_data/templates/default_streamlit/common/hello.py
  tests/test_data/templates/default_streamlit/environment.yml
  tests/test_data/templates/default_streamlit/pages/my_page.py
  tests/test_data/templates/default_streamlit/snowflake.yml
  tests/test_data/templates/default_streamlit/streamlit_app.py
Due: none

fix unit tests
  tests/__snapshots__/test_help_messages.ambr
  tests/snowpark/test_procedure.py
  tests/streamlit/test_commands.py
Due: none

add init tests to e2e
  tests_e2e/test_installation.py
Due: none

remove project initialization
  src/snowflake/cli/api/commands/project_initialisation.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/streamlit/commands.py
  tests/test_project_initialisation.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update e2e snapshots
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Remove old templates
  .pre-commit-config.yaml
  tests/test_data/templates/__init__.py
  tests/test_data/templates/default_snowpark/.gitignore
  tests/test_data/templates/default_snowpark/app/common.py
  tests/test_data/templates/default_snowpark/app/functions.py
  tests/test_data/templates/default_snowpark/app/procedures.py
  tests/test_data/templates/default_snowpark/requirements.txt
  tests/test_data/templates/default_snowpark/snowflake.yml
  tests/test_data/templates/default_streamlit/.gitignore
  tests/test_data/templates/default_streamlit/common/hello.py
  tests/test_data/templates/default_streamlit/environment.yml
  tests/test_data/templates/default_streamlit/pages/my_page.py
  tests/test_data/templates/default_streamlit/snowflake.yml
  tests/test_data/templates/default_streamlit/streamlit_app.py
  tests_e2e/test_snowpark_examples.py
Due: none

Remove deprecated init commands (#1390)
  .pre-commit-config.yaml
  RELEASE-NOTES.md
  src/snowflake/cli/api/commands/project_initialisation.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/streamlit/commands.py
  src/snowflake/cli/templates/default_snowpark/.gitignore
  src/snowflake/cli/templates/default_snowpark/app/__init__.py
  src/snowflake/cli/templates/default_snowpark/app/common.py
  src/snowflake/cli/templates/default_snowpark/app/functions.py
  src/snowflake/cli/templates/default_snowpark/app/procedures.py
  src/snowflake/cli/templates/default_snowpark/requirements.txt
  src/snowflake/cli/templates/default_snowpark/snowflake.yml
  src/snowflake/cli/templates/default_streamlit/.gitignore
  src/snowflake/cli/templates/default_streamlit/common/hello.py
  src/snowflake/cli/templates/default_streamlit/environment.yml
  src/snowflake/cli/templates/default_streamlit/pages/my_page.py
  src/snowflake/cli/templates/default_streamlit/snowflake.yml
  src/snowflake/cli/templates/default_streamlit/streamlit_app.py
  tests/__snapshots__/test_help_messages.ambr
  tests/snowpark/test_procedure.py
  tests/streamlit/test_commands.py
  tests/test_project_initialisation.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/test_installation.py
  tests_e2e/test_snowpark_examples.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Address comments
  src/snowflake/cli/api/project/schemas/entities/application_entity.py
  src/snowflake/cli/api/project/schemas/entities/application_package_entity.py
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/project/schemas/updatable_model.py
  src/snowflake/cli/api/project/util.py
  src/snowflake/cli/api/utils/templating_functions.py
  tests/api/utils/test_definition_rendering.py
  tests/api/utils/test_templating_functions.py
  tests/project/test_util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snow 1532860 clean deprecated snowpark flags, clean help messages (#1378)
  RELEASE-NOTES.md
  src/snowflake/cli/plugins/connection/commands.py
  src/snowflake/cli/plugins/git/commands.py
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/notebook/commands.py
  src/snowflake/cli/plugins/object/commands.py
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/models.py
  src/snowflake/cli/plugins/snowpark/package/commands.py
  src/snowflake/cli/plugins/snowpark/snowpark_shared.py
  src/snowflake/cli/plugins/spcs/jobs/commands.py
  src/snowflake/cli/plugins/streamlit/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/snowpark/test_build.py
  tests/snowpark/test_package.py
  tests/test_help_messages.py
  tests_integration/test_package.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support huge files
  src/snowflake/cli/plugins/stage/md5.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Working multi-part implementation
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/stage/md5.py
  tests/stage/test_md5.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Guess chunk size
  src/snowflake/cli/plugins/stage/diff.py
  src/snowflake/cli/plugins/stage/md5.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix test
  tests_integration/nativeapp/test_large_upload.py
Due: none

Resolve paths for windows
  tests_integration/nativeapp/test_large_upload.py
Due: none

Test with 200mb
  tests_integration/nativeapp/test_large_upload.py
Due: none

Better fn name
  src/snowflake/cli/plugins/stage/md5.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add a diff command
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/stage/md5.py
  tests/stage/test_md5.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Handle UnknownMD5FormatError
  src/snowflake/cli/plugins/stage/diff.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

whoops
  src/snowflake/cli/plugins/stage/md5.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

large upload test
  tests_integration/nativeapp/test_large_upload.py
Due: none

Release notes
  RELEASE-NOTES.md
  tests_integration/nativeapp/test_large_upload.py
Due: none

diff, not deploy
  tests_integration/nativeapp/test_large_upload.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
