Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Moved Snowpark and Streamlit artifacts to separate directory in outpu… (#1909)
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_project_paths.py
  src/snowflake/cli/api/project/project_paths.py
  tests/snowpark/test_artifacts.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/snowpark/test_project_paths.py
  tests/streamlit/test_artifacts.py
  tests/streamlit/test_commands.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Moved native app artifacts logic to common API (#1877)
  .github/CODEOWNERS
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/stage/utils.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/artifacts/__init__.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/common.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/utils/path_utils.py
  tests/api/artifacts/test_bundle_map.py
  tests/api/utils/__snapshots__/test_path_utils.ambr
  tests/api/utils/test_path_utils.py
  tests/nativeapp/__snapshots__/test_artifacts.ambr
  tests/nativeapp/fixtures.py
  tests/nativeapp/test_artifacts.py
  tests/nativeapp/test_manager.py
  tests/stage/test_diff.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after review
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/project/project_paths.py
  src/snowflake/cli/api/project/schemas/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after rebase
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Updated release notes
  RELEASE-NOTES.md
Due: none

Change
  .github/CODEOWNERS
Due: none

After merge fixes
  RELEASE-NOTES.md
  src/snowflake/cli/api/entities/resolver.py
  src/snowflake/cli/api/entities/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after review
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/streamlit/__snapshots__/test_streamlit_entity.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add unit test
  tests/notebook/test_notebook_commands.py
Due: none

Fix issue with list of accounts in release channels and directives
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add unit test
  src/snowflake/cli/_plugins/notebook/manager.py
  tests/notebook/test_notebook_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test more cases
  tests/notebook/test_notebook_commands.py
Due: none

fix stage path handling
  src/snowflake/cli/_plugins/notebook/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Codeowners update (#1995)
  .github/CODEOWNERS
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

Simplification of entity actions
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/resolver.py
  src/snowflake/cli/api/entities/utils.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/workspace/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1875316: Merge current connection context with config to preserve cmd line params
  src/snowflake/cli/api/connections.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1875316: Release notes update
  RELEASE-NOTES.md
Due: none

Fix notebook create on Windows (#1996)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/manager.py
  tests/notebook/test_notebook_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix issue with list of accounts in release channels and directives (#1997)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1875316: Remove unneccessary component from test
  RELEASE-NOTES.md
  tests/test_connection.py
Due: none

SNOW-1875316: Merge current connection context with config to preserve command line params (#2000)
  RELEASE-NOTES.md
  src/snowflake/cli/api/connections.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: wip replace repeated patches of snowflake.connector.connect with a fixture
  CONTRIBUTING.md
  tests/app/test_telemetry.py
  tests/conftest.py
  tests/test_connection.py
  tests/test_snow_connector.py
Due: none

bump version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

snapshot update
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Cherrypicks v3.3.0 rc1 (#2003)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/api/connections.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/notebook/test_notebook_commands.py
  tests/test_connection.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added snow spcs compute-pool deploy command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_compute_pool.py
  tests/test_data/projects/spcs_compute_pool/snowflake.yml
  tests/test_data/projects/spcs_multiple_compute_pools/snowflake.yml
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/test_data/projects/spcs_compute_pool/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

IN PROGRESS
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  src/snowflake/cli/_plugins/notebook/types.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/notebook/test_notebook_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test fix
  tests/project/test_depends_on.py
Due: none

IN PROGRESS
  tests/notebook/test_notebook_commands.py
Due: none

IN PROGRESS
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixed after review
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/spcs/test_compute_pool.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added snow spcs compute-pool deploy command (#2001)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_compute_pool.py
  tests/test_data/projects/spcs_compute_pool/snowflake.yml
  tests/test_data/projects/spcs_multiple_compute_pools/snowflake.yml
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/test_data/projects/spcs_compute_pool/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added arguments
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  src/snowflake/cli/api/entities/resolver.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/secure_path.py
  tests/project/test_depends_on.py
  tests/test_data/projects/depends_on_basic/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
