Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

prune
  src/snowflake/cli/_plugins/project/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add version command
  src/snowflake/cli/_plugins/project/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

snapshot update
  tests/__snapshots__/test_help_messages.ambr
Due: none

FIXING SYNTAX
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1994372] implement project list versions command (#2160)
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fix
  RELEASE-NOTES.md
Due: none

Test fix
  src/snowflake/cli/_plugins/logs/manager.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add snow logs command (#2130)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/logs/__init__.py
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  src/snowflake/cli/_plugins/logs/plugin_spec.py
  src/snowflake/cli/api/sql_execution.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
  tests/logs/test_logs_manager.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2017083] make version flag optional in snow project execute/dry-run
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2017083] make version flag optional in snow project execu… (#2163)
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911022: enhanced exit code with base CliError
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/exceptions.py
  tests/api/artifacts/test_enhanced_error_codes.py
  tests/sql/test_sql_enhanced_exit_codes.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1911022: enhanced exit code - fix wrong base class usage
  src/snowflake/cli/api/exceptions.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1911022: enhanced exit code - restore code indentation
  src/snowflake/cli/api/commands/decorators.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1911022: enhanced exit code - snapshots updates 2
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-1911022: enhanced exit code - snapshots updates
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/output/test_silent_output.py
  tests/sql/__snapshots__/test_sql.ambr
  tests/test_common_decorators.py
Due: none

SNOW-1911022: enhanced exit code with base CliError - MissingConfigurationError
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1911022: enhanced exit code - fixed exception class names
  src/snowflake/cli/_app/loggers.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/init/commands.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/plugins/plugin_config.py
  src/snowflake/cli/api/project/schemas/template.py
  src/snowflake/cli/api/rendering/project_templates.py
  src/snowflake/cli/api/rendering/sql_templates.py
  src/snowflake/cli/api/utils/definition_rendering.py
  src/snowflake/cli/api/utils/templating_functions.py
  tests/api/utils/test_definition_rendering.py
  tests/api/utils/test_templating_functions.py
  tests/nativeapp/codegen/templating/test_templates_processor.py
  tests/nativeapp/test_post_deploy_for_app.py
  tests/nativeapp/test_post_deploy_for_package.py
  tests/test_config.py
  tests/test_logs.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1911022: enhanced exit code - clean up test
  tests/output/test_silent_output.py
Due: none

SNOW-1911022: enhanced exit code - update snapshot for new tests
  tests/__snapshots__/test_help_messages.ambr
Due: none

Hide auth keypair behind feature flag
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Hide auth keypair behind feature flag (#2168)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add final to cherrypick branch
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

remove test
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

Bump version to v3.6.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Updated docs for auth commands (#2156)
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix text positioning in Windows installer. (#2157)
  scripts/packaging/win/snowflake_cli_exitdlg.wxs
Due: none

Snow 2011455 mac binary build fix (#2158)
  scripts/packaging/build_darwin_package.sh
Due: none

Fix integration test after Snowflake rollout (#2155)
  tests_integration/test_notebooks.py
Due: none

fix tag command
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

fix release script
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

fix comment
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Binary building fix (#2170)
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

debug
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
