Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Revert "feat: [SNOW-3017505] update python connector version (#2753)"
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

chore: lock uv version to avoid drift between environments
  pylock.toml
  pyproject.toml
Due: dependencies-sync

Add support for computed defaults (#2802)
  src/snowflake/cli/api/project/schemas/template.py
  tests/test_init.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: use execute_async() for async queries to prevent session cancellation (#2797)
  src/snowflake/cli/_plugins/sql/manager.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: strip trailing slashes before glob.escape() in stage put
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: strip trailing slashes before glob.escape() in stage put
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: escape glob special chars in directory paths during stage copy (#2805)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.16.0-rc1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix CVE-2026-0994: bump protobuf lower bound to 5.29.6 (#2785)
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Add support for JSON_EXT format in the DCM test and refresh commands
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

New static method format_aware_result in the Reporter class
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add support for JSON_EXT format in the CollectionResult
  src/snowflake/cli/api/output/types.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Don't require DictCursor to print the output for plan and deploy correctly
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added missing tests for test and refresh commands
  tests/dcm/test_commands.py
Due: none

DCM Plugin respects the format option
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add support for JSON_EXT format in the DCM plan & deploy commands
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Unit test format in a parameterized way for plan, deploy, test, and refresh commands
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/conftest.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Adjusted tests for plan and deploy
  tests/conftest.py
  tests/dcm/test_commands.py
Due: none

SNOW-3198917 DCM Plugin respects the format option (#2803)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/api/output/types.py
  tests/conftest.py
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update slash-command-dispatch action version
  .github/workflows/ok_to_test.yml
Due: none

chore: SNOW-3017445 Update slash-command-dispatch action version (#2810)
  .github/workflows/ok_to_test.yml
Due: none

Update README.md
  README.md
Due: none

Change trigger to issue_comment for Ok To Test workflow
  .github/workflows/ok_to_test.yml
Due: none

chore: [SNOW-3223670] Change trigger to issue_comment for Ok To Test workflow (#2812)
  .github/workflows/ok_to_test.yml
Due: none

add a command: snow validate custom-image
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/custom_images/__init__.py
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/config/grype_cpu.yaml
  src/snowflake/cli/_plugins/custom_images/config/grype_gpu.yaml
  src/snowflake/cli/_plugins/custom_images/config/image_validation.yaml
  src/snowflake/cli/_plugins/custom_images/constants.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/custom_images/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/custom_images/__init__.py
  tests/custom_images/test_commands.py
  tests/custom_images/test_manager.py
  tests/logs/snowflake-cli.log
  tests_integration/tests_using_container_services/custom_images/__init__.py
  tests_integration/tests_using_container_services/custom_images/docker/test_invalid_image/Dockerfile
  tests_integration/tests_using_container_services/custom_images/docker/test_missing_packages/Dockerfile
  tests_integration/tests_using_container_services/custom_images/docker/test_missing_packages/entrypoint.sh
  tests_integration/tests_using_container_services/custom_images/docker/test_valid_image/Dockerfile
  tests_integration/tests_using_container_services/custom_images/docker/test_valid_image/entrypoint.sh
  tests_integration/tests_using_container_services/custom_images/test_validate_custom_image.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support image name and image hash in the commands
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/config/image_validation.yaml
  src/snowflake/cli/_plugins/custom_images/constants.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/custom_images/plugin_spec.py
  tests/custom_images/test_commands.py
  tests/custom_images/test_manager.py
  tests_integration/tests_using_container_services/custom_images/test_validate_custom_image.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix the precommit error
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mark vulnerability check as optional
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/config/image_validation.yaml
  src/snowflake/cli/_plugins/custom_images/manager.py
  tests/custom_images/test_commands.py
  tests/custom_images/test_manager.py
  tests_integration/tests_using_container_services/custom_images/test_validate_custom_image.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

wip
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/apps/__init__.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/plugin_spec.py
  src/snowflake/cli/_plugins/apps/snow_app_entity.py
  src/snowflake/cli/_plugins/apps/snow_app_entity_model.py
  src/snowflake/cli/api/feature_flags.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

upload directories
  src/snowflake/cli/_plugins/apps/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add timeouts
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update connection values
  src/snowflake/cli/_plugins/apps/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove service suffix
  src/snowflake/cli/_plugins/apps/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
