Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

SNOW-1282073: repl poc - fix repl test mock_cursor values
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - restore maxfail
  pyproject.toml
  tests/sql/__snapshots__/test_sql.ambr
Due: dependencies-sync

SNOW-1282073: repl poc - drop debug change
  tests/test_snow_connector.py
Due: none

SNOW-1282073: repl poc - use regular snapshot
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - fix keep_alive in tests p2
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_sql.py
  tests/test_connection.py
  tests/test_snow_connector.py
Due: none

SNOW-1282073: repl poc - cli MODE for telemetry
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - force full rich features in tests
  conftest.py
Due: none

SNOW-1282073: repl poc - capsys update
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - drop coverage from tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - win32_dummy_output
  conftest.py
Due: none

SNOW-1282073: repl poc - support for ctrl+j on some terminals
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc 2
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
  tests/__snapshots__/test_repl.ambr
  tests/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - yield after all patches
  conftest.py
Due: none

SNOW-1282073: repl poc - revert os_agnostic_snapshot
  tests/sql/test_repl.py
Due: none

Revert "SNOW-1282073: repl poc - run Windows tests on shell"
  .github/workflows/test.yaml
  conftest.py
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - multiline edit
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - test fixes 2
  src/snowflake/cli/_plugins/sql/commands.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - patch win32 output in tests
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - test fixes 3
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - skip win test 3
  tests/api/test_connections.py
  tests/output/test_silent_output.py
  tests/sql/conftest.py
  tests/sql/test_repl.py
  tests/test_main.py
Due: none

SNOW-1282073: repl poc - fix win test
  tests/api/console/test_console_abc.py
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - cli MODE for telemetry
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - cli MODE for telemetry
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1282073: repl poc - tests for ramka
  pyproject.toml
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: dependencies-sync

SNOW-1282073: repl poc - keepelive for connection by default
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - unified prompt for repl and exit marks & tests
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  src/snowflake/cli/api/console/enum.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope 3
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - skip win test 4
  tests/sql/conftest.py
Due: none

SNOW-1282073: repl poc
  .pre-commit-config.yaml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/lexer.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1282073: repl poc - skip repl snapshots on windos temporarly
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - resolved search enter behaviour
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - win32_dummy_output
  conftest.py
  tests/sql/conftest.py
Due: none

SNOW-1282073: repl poc - cli MODE for telemetry
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - run Windows tests on shell
  .github/workflows/test.yaml
  conftest.py
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - cleanup pyproject
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshot
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - fix win test
  snyk/requirements.txt
Due: none

SNOW-1282073: repl poc - restore full tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - fix keep_alive in tests
  tests/test_connection.py
Due: none
