Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Removed not needed @mock_dcm_response
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Removed redundant cleanup in integration tests
  tests_integration/test_dcm_project.py
Due: none

Fix the code after merge with main
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  tests/dcm/test_reporters/test_analyze_reporter.py
  tests/dcm/test_reporters/test_refresh_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2457402 Unify encoding support
  src/snowflake/cli/api/encoding.py
  src/snowflake/cli/api/secure_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add encoding to path related operations
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/secure_utils.py
  tests/nativeapp/codegen/test_sandbox.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove the test_dcm_raw_analyze_success test and use the analyze scenario in the test_dcm_end_to_end_workflow test
  tests_integration/test_dcm_project.py
Due: none

Removed AnalyzeReporter from the utils.py file. It was not needed.
  src/snowflake/cli/_plugins/dcm/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3148470 Fix show --in-account for integration objects
  src/snowflake/cli/_plugins/object/commands.py
  src/snowflake/cli/api/constants.py
  tests/object/test_object.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3022692 Support DCM Project name with spaces
  src/snowflake/cli/api/identifiers.py
  tests/api/test_fqn.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3022692 Database and schema name from project FQN have higher precedence than the connection database and schema name
  src/snowflake/cli/api/identifiers.py
  tests/api/test_fqn.py
  tests/dbt/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3006577 Support Remote File Path
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Create Spark Plugin
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/spark/__init__.py
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  src/snowflake/cli/_plugins/spark/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spark/__init__.py
  tests/spark/test_manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix test
  tests/__snapshots__/test_help_messages.ambr
Due: none

Added integration test
  tests_integration/test_dbt.py
Due: none

Revert "Added integration test"
  tests_integration/test_dbt.py
Due: none

Implemented a single parameterized test to cover database and schema resolution for different scenarios
  tests/api/test_fqn.py
Due: none

Updated release notes
  RELEASE-NOTES.md
Due: none

Adjusted "test_deploy_project_with_local_deps" dbt integration test to confirm the bugfix works
  tests_integration/config/connection_configs_no_db_schema.toml
  tests_integration/test_dbt.py
Due: none

Applied suggestion in release notes
  RELEASE-NOTES.md
Due: none

Removed comment
  tests_integration/test_dbt.py
Due: none

Rewording in RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

feat: [SNOW-3017492] order plan rows
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] add terse DCM plan reporter
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] add more test coverage
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: none

feat: [SNOW-3017492] cleanup
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-3017492] more cleanup
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] order plan rows
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] cleanup
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] cleanup
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/reporters/test.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] cleanup
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! fixup! fixup! fixup! NO-SNOW: Avoid top-level vendored imports
  src/snowflake/cli/_app/snow_connector.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

wip
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/snow_app_entity.py
  src/snowflake/cli/_plugins/apps/snow_app_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix(object): display describe command output vertically for better readability
  src/snowflake/cli/_plugins/object/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(streamlit): add --skip-stage-creation flag for streamlit deploy
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3017492] respond to code reviews
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3017492] respond to code reviews
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3017492] add tests for fallback scenario
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3148148] pin virtualenv
  scripts/packaging/Dockerfile
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/win/build_installer.bat
  scripts/packaging/win/build_snowflake_cli.bat
  scripts/run_tests_preprod.sh
  scripts/run_tests_qa.sh
Due: none

feat: [SNOW-3148148] pin virtualenv
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/test_fork.yaml
  .github/workflows/test_perfomance.yaml
  .github/workflows/test_trusted.yaml
  .github/workflows/ud-manual-tests.yaml
  CONTRIBUTING.md
  scripts/run_tests_preprod.sh
  scripts/run_tests_qa.sh
Due: none

SNOW-3017492 Fix for overloaded functions handling in DCM plan/deploy reporter
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
