Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

notebook deploy
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/exceptions.py
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  tests/notebook/test_notebook_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

check project definition version
  src/snowflake/cli/_plugins/notebook/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Different stage default paths for different notebooks
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

unit tests
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests/test_data/projects/notebooks_v2/notebook1/my_notebook.ipynb
  tests/test_data/projects/notebooks_v2/notebook2/my_notebook.ipynb
  tests/test_data/projects/notebooks_v2/snowflake.yml
Due: none

integration tests
  tests_integration/test_data/projects/notebooks_v2/notebook1/my_notebook.ipynb
  tests_integration/test_data/projects/notebooks_v2/notebook2/my_notebook.ipynb
  tests_integration/test_data/projects/notebooks_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

Add unit test
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/notebook/test_notebook_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Post-review fixes
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  tests/project/test_depends_on.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix?
  src/snowflake/cli/_app/commands_registration/commands_registration_with_callbacks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

This commit should fail
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

update release notes for 3.3.0 release
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bump version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

snapshot update
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Fix?
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/commands_registration/commands_registration_with_callbacks.py
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added a comment and removed pinned click
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/cli_app.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

Fix unit test
  tests/test_main.py
Due: none

Bump version v3.3.0 (#2009)
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

[SNOW-1874231] Fixes for click 8.1.8 (custom help option) (#1979)
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/cli_app.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_main.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

Added root object
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/entities/common.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/test_cortex.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix incorrect commands registration in test of docs generation
  tests/test_docs_generation_output.py
Due: none

[SNOW-1747456] Remove side effects from command registration
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/_app/cli_app.py
  tests/test_connection.py
  tests/test_docs_generation_output.py
  tests/test_main.py
  tests/testing_utils/fixtures.py
  tests_integration/conftest.py
  tests_integration/test_external_plugins.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

More improvements
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/commands_registration/commands_registration_with_callbacks.py
  tests/test_docs_generation_output.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added root object
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update release notes for 3.3.0 release (#2008)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Link auth policy release notes to docs
  RELEASE-NOTES.md
Due: none

fix docs generation tests
  tests/test_docs_generation_output.py
Due: none

fix docs generation tests (#2017)
  tests/test_docs_generation_output.py
Due: none

Link auth policy release notes to docs (#2016)
  RELEASE-NOTES.md
Due: none

SNOW-1793933 build binaries attempt 4
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 6
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 build binaries attempt 2
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 11
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 use variable for machine
  scripts/packaging/setup_darwin.sh
Due: none

SNOW-1793933 darwin build script tuning 19
  scripts/packaging/setup_darwin.sh
Due: none

SNOW-1793933 build binaries attempt 3
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 5
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 14
  scripts/packaging/setup_darwin_x86.sh
Due: none

SNOW-1793933 darwin build script tuning 8
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1793933 darwin build script tuning 15
  scripts/packaging/setup_darwin_x86.sh
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
