Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

fix test: only image_repository is emitted by generate
  tests/apps/test_commands.py
Due: none

add tests for get_display_version
  tests/test_about.py
Due: none

refactor deploy with config table defaults and artifact repo support
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

use CLI source directory as cwd for git rev-parse
  src/snowflake/cli/__about__.py
  tests/test_about.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

validate app name in setup
  src/snowflake/cli/_plugins/apps/generate.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

overhaul snowflake.yml generation with config overrides
  src/snowflake/cli/_plugins/apps/generate.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add git hash to dev version display
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/cli_app.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

setup command improvements
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

setup output
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

snapshot
  tests/__snapshots__/test_help_messages.ambr
Due: none

setup command: explicit flags, provenance output, no implicit defaults (#2849)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address PR review: remove unrelated changes and dead code
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/cli_app.py
  tests/apps/test_commands.py
  tests/test_about.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Make compute_pool and build_eai optional in setup; remove dead DEFAULT_SCHEMA
  src/snowflake/cli/_plugins/apps/generate.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add tests for --upload-only, --build-only, --deploy-only flags
  tests/apps/test_commands.py
Due: none

add --upload-only, --build-only, --deploy-only flags to __app deploy
  src/snowflake/cli/_plugins/apps/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove deprecated --skip-build flag
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

address PR review comments
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Use get_display_version() in snow --info for consistency with snow --version
  src/snowflake/cli/_app/cli_app.py
Due: avoid-snowcli, use-local-requirements-model

Show git commit hash in CLI version for dev builds (#2840)
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/cli_app.py
  tests/test_about.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3332553 Fix object create crash from server-side REST API v2 change (#2857)
  src/snowflake/cli/api/rest_api.py
  tests/api/test_rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: Add --upload-only, --build-only, --deploy-only flags to deploy command (#2863)
  src/snowflake/cli/_plugins/apps/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix snapshot and config tests for generate-workload-identity-token
  tests/__snapshots__/test_help_messages.ambr
  tests/test_config.py
Due: none

Add release notes for generate-workload-identity-token command
  RELEASE-NOTES.md
Due: none

SNOW-2422874 Add snow connection generate-workload-identity-token command
  src/snowflake/cli/_plugins/connection/commands.py
  tests/test.toml
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address PR review: harden generate-workload-identity-token error handling and tests
  src/snowflake/cli/_plugins/connection/commands.py
  tests/test.toml
  tests/test_config.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add custom image register command
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  tests/custom_images/test_commands.py
  tests/custom_images/test_helpers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix precommit errors
  src/snowflake/cli/_plugins/custom_images/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update help message snapshots for generate-workload-identity-token
  tests/__snapshots__/test_help_messages.ambr
Due: none

update the release note
  RELEASE-NOTES.md
Due: none

update the metrics
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/custom_images/metrics.py
  tests/custom_images/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: Improvements to setup command (#2848)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix the test failure
  tests/__snapshots__/test_help_messages.ambr
Due: none

Add SnowApps parameters tier to defaults resolution
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Parallelize stage file uploads and skip redundant diff for temp stages
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/entities/utils.py
  tests/stage/test_diff.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix parallel upload/delete error messages being swallowed
  src/snowflake/cli/_plugins/stage/diff.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Disable parallel uploads for temporary stages
  src/snowflake/cli/api/entities/utils.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add SnowApps parameters tier to defaults resolution (#2866)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

use application service sql
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add --keep-code-stage flag and drop stage after build by default
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

simplifications
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
