Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

refactor
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix integration tests
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests_integration/sql/__snapshots__/test_statement_reader.ambr
  tests_integration/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix statement reader tests
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2057523] make project add-version prune stage by default
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix unit tests
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

tests for async queriers
  tests/sql/test_statement_reader.py
  tests_integration/sql/test_async_queries.py
Due: none

Remove snowsql commands from PR scope
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump release notes for 3.7.1 release (#2223)
  RELEASE-NOTES.md
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

feat: [SNOW-2057523] make project add-version prune stage by default (#2231)
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Updated OAuth parameters
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_repl.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_main.py
  tests/test_oauth.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Updated OAuth parameters
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_main.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fork prints
  .github/workflows/test_fork.yaml
Due: none

Update README.md
  README.md
Due: none

print query ID to the output
  src/snowflake/cli/_plugins/sql/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fork prints (#2233)
  .github/workflows/test_fork.yaml
Due: none

Updated OAuth parameters (#2230)
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_repl.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_oauth.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Fork build fix
  .github/workflows/test_e2e.yaml
  .github/workflows/test_fork.yaml
  .github/workflows/test_integration.yaml
Due: none

Add support for async queries in snow sql command (#2215)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_sql.py
  tests/sql/test_statement_reader.py
  tests_integration/sql/__snapshots__/test_statement_reader.ambr
  tests_integration/sql/test_async_queries.py
  tests_integration/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor source -> statement
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add integration tests
  src/snowflake/cli/_plugins/sql/commands.py
  tests_integration/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

working result command
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add unit tests
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Revert "Remove snowsql commands from PR scope"
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add abort command
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add parse command tests
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test queries help
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
  tests_integration/sql/test_snowsql_commands.py
Due: none

Fork build fix (#2236)
  .github/workflows/test_e2e.yaml
  .github/workflows/test_fork.yaml
  .github/workflows/test_integration.yaml
Due: none

update snapshots
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
Due: none

Add support for queries, result and abort commands (#2237)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_snowsql_commands.py
  tests/sql/test_statement_reader.py
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
  tests_integration/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

use generated api
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/constants.py
  src/snowflake/cli/_plugins/cortex/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix build errors
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix ruff formatting
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/constants.py
  src/snowflake/cli/_plugins/cortex/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Change cortex calls to use REST
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/constants.py
  src/snowflake/cli/_plugins/cortex/manager.py
  src/snowflake/cli/_plugins/cortex/types.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update unit tests to use llama3.1-70b
  tests/cortex/test_cortex_commands.py
Due: none

update unit tests
  src/snowflake/cli/_plugins/cortex/commands.py
  tests/cortex/test_cortex_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

change default model to llama3.1-70b
  src/snowflake/cli/_plugins/cortex/constants.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix formatting
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/manager.py
  src/snowflake/cli/_plugins/cortex/types.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
