Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-2176180: rebase fixes
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: rename snow auth workload-idenitity to snow auth oidc
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/oidc/__init__.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  src/snowflake/cli/_plugins/auth/oidc/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_manager.py
  tests_integration/test_oidc.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: after rebase fixes
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-2176180: refactor fixes - p1
  src/snowflake/cli/_app/constants.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  tests/auth/test_workload_identity_commands.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: release notes update for wif
  RELEASE-NOTES.md
Due: none

SNOW-2176180: after rebase fixes
  tests/cortex/__snapshots__/test_cortex_commands.ambr
Due: none

SNOW-2176180: refactor fixes - p2
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_providers.py
  tests/cortex/__snapshots__/test_cortex_commands.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: after cr fixes 2
  src/snowflake/cli/_app/auth/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: after cr fixes missing show_default=False
  src/snowflake/cli/_plugins/auth/oidc/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: after cr fixes missing show_default=False
  tests/__snapshots__/test_help_messages.ambr
Due: none

force x86_64
  CONTRIBUTING.md
  scripts/packaging/Dockerfile
  tests_integration/tests_using_container_services/spcs/docker/echo_service/Dockerfile
  tests_integration/tests_using_container_services/spcs/docker/test_counter/Dockerfile
Due: none

SNOW-2247516-spsc-tests-warmup
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

re-do Dockerfile
  scripts/packaging/Dockerfile
Due: none

re-do Dockerfile
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

update
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

here we go again
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

now let's optimise python
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

cargo
  .cargo/config.toml
Due: none

hatch fix
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

pyapp test
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
  scripts/packaging/build_simple_standalone.py
Due: none

pyapp test
  scripts/packaging/build_simple_standalone.py
Due: none

fixes
  scripts/packaging/build_simple_standalone.py
Due: none

python
  scripts/packaging/build_packages.sh
  scripts/packaging/build_simple_standalone.py
Due: none

next try
  .cargo/config.toml
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

remove python3 dependency from package; drop unused file
  scripts/packaging/build_packages.sh
  scripts/packaging/build_simple_standalone.py
Due: none

it was used after all
  scripts/packaging/build_binaries.sh
Due: none

debug logs
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

next try
  .cargo/config.toml
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

fix pyapp
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

play with args
  .cargo/config.toml
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

build python
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

fix build
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2176180: passthrough to driver wif for cloud providers
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try'n'error
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none
