Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

use telemetry field constants in test to make it more robust
  tests_integration/nativeapp/test_telemetry_errors.py
Due: none

Add merge logic
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/spec_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add test for merge logic
  tests/spcs/test_spec_utils.py
Due: none

Add entrypoint_args option
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Misc cleanup
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add test for cli exception classification
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove unnecessary fixtures from test
  tests_integration/nativeapp/test_telemetry_errors.py
Due: none

Misc cleanup
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Switch to pathlib for all path operations
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Reduce console outputs
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/spec_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1639544: snowflake-cli-labs 2.8.2 PyPi repo change (#1633)
  .compat/build_snowflake-cli-labs.sh
  .compat/snowflake-cli-labs/LICENSE
  .compat/snowflake-cli-labs/README.md
  .compat/snowflake-cli-labs/pyproject.toml
  .compat/snowflake-cli-labs_version_sync.py
  .github/workflows/publish.yaml
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_trusted.yaml
  RELEASE-NOTES.md
  pyproject.toml
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_e2e/test_snowpark_examples.py
  tests_integration/config/connection_configs.toml
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/test_data/projects/snowpark_external_access/snowflake.yml
  tests_integration/test_external_plugins.py
Due: dependencies-sync

SNOW-1639544-snowflake-cli-pypi-2.8.2: bump 2.8.2
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test installation
  scripts/packaging/win/build_installer.bat
Due: none

Add exe
  scripts/packaging/win/build_installer.bat
Due: none

SNOW-1639544-relese-snowflake-cli-pypi: scripts and tools for pypi migration
  .compat/build_snowflake-cli-labs.sh
  .compat/snowflake-cli-labs/LICENSE
  .compat/snowflake-cli-labs/README.md
  .compat/snowflake-cli-labs/pyproject.toml
  .compat/snowflake-cli-labs_version_sync.py
  .github/repo_meta.yaml
  .github/workflows/publish.yaml
  RELEASE-NOTES.md
  pyproject.toml
  src/snowflake/cli/__about__.py
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/test_external_plugins.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1639544: release notes for compat mode
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
Due: none

SNOW-1639544: updat release notes
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
Due: none

move installation test to test_installer
  scripts/packaging/win/build_installer.bat
  scripts/packaging/win/test_installer.bat
Due: none

turn off user interaction
  scripts/packaging/win/test_installer.bat
Due: none

echo on
  scripts/packaging/win/test_installer.bat
Due: none

debug
  scripts/packaging/win/test_installer.bat
Due: none

-q
  scripts/packaging/win/test_installer.bat
Due: none

try calling .msi
  scripts/packaging/win/test_installer.bat
Due: none

SNOW-1639544: update release notes
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

try for
  scripts/packaging/win/test_installer.bat
Due: none

SNOW-1639544: update release notes - add missing section for 2.8.2
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

try qn
  scripts/packaging/win/test_installer.bat
Due: none

Don't let an invalid project definition file break telemetry (#1660)
  src/snowflake/cli/_app/telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1639544: snowflake-cli-labs 3.0.1 PyPi repo change (#1662)
  .compat/build_snowflake-cli-labs.sh
  .compat/snowflake-cli-labs/LICENSE
  .compat/snowflake-cli-labs/README.md
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
  .compat/snowflake-cli-labs/pyproject.toml
  .compat/snowflake-cli-labs_version_sync.py
  .github/repo_meta.yaml
  .github/workflows/publish.yaml
  pyproject.toml
  src/snowflake/cli/__about__.py
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/test_external_plugins.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1639544: snowflake-cli-labs 2.8.2 PyPi repo change (#1661)
  .compat/build_snowflake-cli-labs.sh
  .compat/snowflake-cli-labs/LICENSE
  .compat/snowflake-cli-labs/README.md
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
  .compat/snowflake-cli-labs/pyproject.toml
  .compat/snowflake-cli-labs_version_sync.py
  .github/workflows/publish.yaml
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_trusted.yaml
  pyproject.toml
  src/snowflake/cli/__about__.py
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_e2e/test_snowpark_examples.py
  tests_integration/config/connection_configs.toml
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/test_data/projects/snowpark_external_access/snowflake.yml
  tests_integration/test_external_plugins.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1694005: organize signign funcs fix typo 22
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 14
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 10
  scripts/packaging/build_binaries.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 8
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1694005: organize signign funcs fix typo 18
  scripts/packaging/build_darwin_package.sh
Due: none
