Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Improve error handling
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added with grant option for streamlit share
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: snyk/requirements.txt to reduce vulnerabilities
  snyk/requirements.txt
Due: none

Added test and converted argument to option
  src/snowflake/cli/_plugins/streamlit/commands.py
  tests/streamlit/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added --with-grant-option flag to release notes
  RELEASE-NOTES.md
Due: none

Added integration tests
  tests_integration/test_streamlit.py
Due: none

fix comments
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Improve error handling (#1962)
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add internal application info for connection
  src/snowflake/cli/_app/constants.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add test
  tests/test_snow_connector.py
Due: none

update RELEASE-NOTES
  RELEASE-NOTES.md
Due: none

merge main
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/feature_flags.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/errno.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_children.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
  tests/streamlit/__snapshots__/test_actions.ambr
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/__snapshots__/test_streamlit_entity.ambr
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_entity.py
  tests/test_data/projects/example_streamlit_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_v2/utils/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added pip freeze
  .github/workflows/test_trusted.yaml
Due: none

debug single test
  tests/test_command_registration.py
Due: none

debug
  tests/test_command_registration.py
Due: none

Add comment
  src/snowflake/cli/_app/constants.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

[SNOW-1874231] Temporary workaround to unblock tests failing by recent changes in click
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

[SNOW-1874231] Pinning click to 8.1.7 as temporary workaround to unblock tests failing by recent changes in click (#1977)
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

v3.2.2 release notes update (#1948)
  RELEASE-NOTES.md
Due: none

Snow 1733048 Add internal app data to cli (#1971)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/constants.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/feature_flags.py
  tests/test_snow_connector.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix format
  RELEASE-NOTES.md
Due: none

Add release channel publish command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/constants.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add release channel publish command (#1972)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/constants.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Solution
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_snowpark_entity.py
  tests/streamlit/test_actions.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

rebase fixes
  tests/snowpark/test_snowpark_entity.py
Due: none

make state path parts factory method public
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --from-stage option to version create
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_version_create.py
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address comments
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --from-stage option to version create (#1973)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_version_create.py
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

suggestion
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

cli_console.step
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add support for --create-version in snow app publish
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Solution
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/entities/bundle_and_deploy.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/utils/graph.py
  tests/api/utils/test_graph.py
  tests/project/test_depends_on.py
  tests/snowpark/test_snowpark_entity.py
  tests/streamlit/test_streamlit_entity.py
  tests/test_data/projects/depends_on_basic/app.py
  tests/test_data/projects/depends_on_basic/environment.yml
  tests/test_data/projects/depends_on_basic/pages/my_page.py
  tests/test_data/projects/depends_on_basic/requirements.txt
  tests/test_data/projects/depends_on_basic/snowflake.yml
  tests/test_data/projects/depends_on_basic/streamlit_app.py
  tests/test_data/projects/depends_on_with_cyclic_dependency/app.py
  tests/test_data/projects/depends_on_with_cyclic_dependency/environment.yml
  tests/test_data/projects/depends_on_with_cyclic_dependency/pages/my_page.py
  tests/test_data/projects/depends_on_with_cyclic_dependency/requirements.txt
  tests/test_data/projects/depends_on_with_cyclic_dependency/snowflake.yml
  tests/test_data/projects/depends_on_with_cyclic_dependency/streamlit_app.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add support for --create-version in snow app publish (#1982)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bug fixes and improvements to release directives and channels commands
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/__snapshots__/test_application_package_entity.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bug fixes and improvements to release directives and channels commands (#1983)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/__snapshots__/test_application_package_entity.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
