Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

feat: [SNOW-2326971] implement dcm preview command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2412813] wip: analyze
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2401514 add CVE scanner with daily checks and security ticket automation (#2652)
  .github/scripts/create_jira_tickets.py
  .github/scripts/parse_cves.py
  .github/workflows/daily-cve-check.yaml
Due: none

feat: [SNOW-2150049] add support for local deps
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2150049] add support for local deps
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project_with_local_deps/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/local_packages/uppercase_utils/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/local_packages/uppercase_utils/macros/uppercase.sql
  tests_integration/test_data/projects/dbt_project_with_local_deps/models/example/first_model_with_local.sql
  tests_integration/test_data/projects/dbt_project_with_local_deps/models/example/schema.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/models/example/second_model_with_local.sql
  tests_integration/test_data/projects/dbt_project_with_local_deps/packages.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add default block volume for persistent storage
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/manager.py
  tests/remote/test_container_spec.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2150049] dbt deploy: add support for installing local dependencies
  tests_integration/test_dbt.py
Due: none

doc: Fix grammar in success message for package creation
  src/snowflake/cli/_plugins/snowpark/package/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update commands.py
  src/snowflake/cli/_plugins/snowpark/package/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Jw/snow 2150049 dbt: add support for local deps (#2648)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project_with_local_deps/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/local_packages/uppercase_utils/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/local_packages/uppercase_utils/macros/uppercase.sql
  tests_integration/test_data/projects/dbt_project_with_local_deps/models/example/first_model_with_local.sql
  tests_integration/test_data/projects/dbt_project_with_local_deps/models/example/schema.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/models/example/second_model_with_local.sql
  tests_integration/test_data/projects/dbt_project_with_local_deps/packages.yml
  tests_integration/test_data/projects/dbt_project_with_local_deps/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/bump-connector: bump connector to 3.18.0
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

test: [NOSNOW] fix flakiness in integration test
  tests_integration/sql/test_sql.py
Due: none

mraba/bump-connector: bump connector to 3.18.0
  RELEASE-NOTES.md
Due: none

test: [NOSNOW] fix flakiness in integration test (#2666)
  tests_integration/sql/test_sql.py
Due: none

mraba/bump-connector: bump connector to 3.18.0 (#2667)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

feat: [SNOW-2155083] add support for auto-suspend-secs in spcs services
  tests_integration/test_data/projects/spcs_service_no_public/snowflake.yml
  tests_integration/test_data/projects/spcs_service_no_public/spec.yml
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

feat: [SNOW-2440382] restrict using Python 3.14
  README.md
  RELEASE-NOTES.md
  pyproject.toml
Due: dependencies-sync

feat: [SNOW-2155083] spcs service: support auto-suspend-secs (#2487)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
  tests_integration/test_data/projects/spcs_service_no_public/snowflake.yml
  tests_integration/test_data/projects/spcs_service_no_public/spec.yml
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2251139] Remove dbt feature flags
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2251139] Remove dbt feature flags (#2668)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2330065] collect dbt core args via info telemetry
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/utils.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update snowflake-snowpark-python version to 1.40.0
  pyproject.toml
Due: dependencies-sync

SNOW-2306184: ms fixes
  src/snowflake/cli/_app/loggers.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reformat test_services.py
  tests/spcs/test_services.py
Due: none

SNOW-2306184: ms fixes p2
  tests/spcs/test_services.py
Due: none

SNOW-2306184: rename processor class used for tests
  tests/nativeapp/codegen/test_compiler.py
Due: none

SNOW-2306184: replace import level singleton with factory created
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/logs/snowflake-cli.log
  tests/test_config.py
  tests/test_main.py
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: ms fixes p3
  tests_common/conftest.py
Due: none

SNOW-2306184: remove useless comments
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/spcs/test_services.py
  tests/test_config.py
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reorganize imports
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reorganize imports 2
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - env vars discovery
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/env_handlers.py
  tests/config_ng/test_env_handler_migration.py
  tests/config_ng/test_snowcli_env_handler.py
  tests/config_ng/test_snowsql_env_handler.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - integrate new config
  src/snowflake/cli/api/config_provider.py
  tests/api/test_config_provider.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - SnowSQL config files behaviour
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/file_handlers.py
  tests/config_ng/test_file_handler_migration.py
  tests/config_ng/test_snowsql_config_handler.py
  tests/config_ng/test_snowsql_config_paths.py
  tests/config_ng/test_toml_file_handler.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - resolver history
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/resolver.py
  tests/config_ng/test_configuration_resolver.py
  tests/config_ng/test_resolution_history_tracker.py
  tests/config_ng/test_resolver_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - move key mappings to module level
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/env_handlers.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory entry point guarded by env - fix snapshot
  tests/snowpark/__snapshots__/test_function_old_build.ambr
Due: none

SNOW-2306184: config refactory - top tier configuration sources
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/handlers.py
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/test_cli_argument_source.py
  tests/config_ng/test_configuration_source.py
  tests/config_ng/test_environment_source.py
  tests/config_ng/test_file_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory entry point guarded by env
  src/snowflake/cli/api/config_provider.py
  tests/api/test_config_provider.py
  tests/snowpark/__snapshots__/test_function_old_build.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
