Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

fixup! fixup! Add flag and tests
  src/snowflake/cli/_plugins/project/project_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/streamlit/__snapshots__/test_commands.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! Add int tests
  tests/test_performance.py
Due: none

fixup! fixup! fixup! Use bundles for upload, add add-version cmd
  pyproject.toml
Due: dependencies-sync

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Use bundles for upload, add add-version cmd
  tests/dcm_project/test_dcm_project.py
Due: none

Use bundles for upload, add add-version cmd
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/feature_flags.py
  src/snowflake/cli/_plugins/project/manager.py
  src/snowflake/cli/_plugins/project/project_entity_model.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/artifacts/upload.py
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests/test_data/projects/dcm_project/definitions/a.sql
  tests/test_data/projects/dcm_project/definitions/b.sql
  tests/test_data/projects/dcm_project/manifest.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! Use env var to speed perf test
  tests/test_performance.py
Due: none

fixup! fixup! fixup! Add project commands
  src/snowflake/cli/_plugins/project/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Use bundles for upload, add add-version cmd
  tests/dcm_project/test_dcm_project.py
Due: none

Use env var to speed perf test
  tests/test_performance.py
Due: none

Add int tests
  pyproject.toml
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  src/snowflake/cli/_plugins/project/project_entity_model.py
  src/snowflake/cli/_plugins/stage/manager.py
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests_integration/conftest.py
  tests_integration/test_data/projects/dcm_project/file_a.sql
  tests_integration/test_data/projects/dcm_project/file_b.sql
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Use bundles for upload, add add-version cmd
  tests/dcm_project/test_dcm_project.py
  tests_integration/test_data/projects/dcm_project/file_a.sql
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_dcm_project.py
Due: none

fixup! Add project commands
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/project_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/dcm_project/__init__.py
  tests/dcm_project/test_dcm_project.py
  tests/test_data/projects/dcm_project/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! Use env var to speed perf test
  tests/test_performance.py
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Use bundles for upload, add add-version cmd
  tests/dcm_project/test_dcm_project.py
Due: none

fixup! fixup! Use bundles for upload, add add-version cmd
  tests_integration/test_dcm_project.py
Due: none

Bump perfomance test time
  tests/test_performance.py
Due: none

Code review
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/project_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add project commands (#2018)
  pyproject.toml
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/project/__init__.py
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/feature_flags.py
  src/snowflake/cli/_plugins/project/manager.py
  src/snowflake/cli/_plugins/project/plugin_spec.py
  src/snowflake/cli/_plugins/project/project_entity_model.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/commands/utils.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/__init__.py
  tests/dcm_project/test_dcm_project.py
  tests/dcm_project/test_dcm_project_manager.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_streamlit_manager.py
  tests/test_data/projects/dcm_project/definitions/a.sql
  tests/test_data/projects/dcm_project/definitions/b.sql
  tests/test_data/projects/dcm_project/manifest.yml
  tests/test_data/projects/dcm_project/snowflake.yml
  tests/test_performance.py
  tests_integration/conftest.py
  tests_integration/test_data/projects/dcm_project/file_a.sql
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Fixes after review 2
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/api/project/definition_helper.py
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_compute_pool.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added upgrade flag which use alter object
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
Due: none

Fixed image repository
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/spcs/test_image_repository.py
  tests_integration/spcs/testing_utils/image_repository_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added upgrade flag which use alter object
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_compute_pool.py
  tests/spcs/test_services.py
  tests/test_data/projects/spcs_compute_pool_upgrade/snowflake.yml
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_data/projects/spcs_service/spec_upgrade.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixes after review 3
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/spcs/__snapshots__/test_services.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixes after review
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_compute_pool.py
  tests/spcs/test_services.py
  tests/test_data/projects/spcs_compute_pool/snowflake.yml
  tests/test_data/projects/spcs_service/snowflake.yml
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_data/projects/spcs_compute_pool/snowflake.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixes after review 4
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  tests/test_data/projects/spcs_compute_pool_upgrade/snowflake.yml
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_data/projects/spcs_service/spec_upgrade.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixed compute pool
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Updated release notes
  RELEASE-NOTES.md
Due: none

feat: [SNOW-1890085] implement dbt deploy command
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] implement StdoutExecutionMixin for demo purposes
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

pyapp build
  pyproject.toml
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_binary.py
Due: dependencies-sync

restore packaging
  pyproject.toml
Due: dependencies-sync

add cargo install for ubuntu
  scripts/packaging/build_binaries.sh
Due: none

fix install cargo
  scripts/packaging/build_binaries.sh
Due: none

Add cargo to path
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_darwin_package.sh
Due: none

darwin fixes
  scripts/packaging/build_darwin_package.sh
Due: none

fix ubuntu
  scripts/packaging/build_binaries.sh
Due: none

fix darwin
  scripts/packaging/build_darwin_package.sh
Due: none
