Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

simplify snow app open endpoint lookup
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps - Fix "snow app open" for application services (#2908)
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Make the test_dcm_purge integration test stable by passing the `--force` option
  tests_integration/test_dcm_project.py
Due: none

Support non-interactive shells in the `dcm purge` command (#2907)
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/utils/tty.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/utils/test_tty.py
  tests/app/test_telemetry.py
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3063581] handle empty passphrases
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3063581] handle empty passphrases
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3349955] add tests and release notes entry
  RELEASE-NOTES.md
  tests/test_connection.py
Due: none

fix: [SNOW-3349955] add tests and release notes entry
  tests/test_connection.py
Due: none

Jw/snow 3349955 handle empty passphrases (#2893)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: add proto_codec layer, DeveloperApiToken, tests, and polish
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add `snow streamlit logs` command for live log streaming
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/developer/v1/logs_service.proto
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

refactor: switch from websockets to websocket-client library
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

chore: move local imports to top level and update copyright to 2026
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address code review feedback for streamlit logs command
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address self-review findings for streamlit logs command
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: update help message snapshots for streamlit logs command
  tests/__snapshots__/test_help_messages.ambr
Due: none

feat: add --name flag and SPCSv2 runtime validation to streamlit logs
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address review feedback for streamlit logs command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/README.md
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/developer/v1/logs_service.proto
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixes every snow dcm ... command that syncs the project crashing when sources/ contains a hidden file
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes for 3.17.0
  RELEASE-NOTES.md
Due: none

Fix a bug with mixed path separators in Windows
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Dropped the redundant if (source_path / MANIFEST_FILE_NAME).exists(): and the now-unused source_path parameter. Manifest presence is enforced upstream by _resolve_context_with_required_manifes
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added release note
  RELEASE-NOTES.md
Due: none

Fixed dcm commands crashing when `sources/` contains hidden files (#2909)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Validate account_identifier and project_owner in DCM manifest targets
  src/snowflake/cli/_plugins/connection/util.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_commands.py
  tests/dcm/test_models.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests/test_utils.py
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added release notes entry
  RELEASE-NOTES.md
Due: none

- Validate project owner role only for dcm create command - Fix exception chaining in _validate_project_owner to preserve traceback (raise ... from e)
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Reorganized tests, don't include cause error in the re-raised error message
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix DCM integration tests by dynamically rewriting account_identifier and project_owner values with values
  src/snowflake/cli/_plugins/connection/util.py
  tests/test_utils.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Check role only for commands that require OWNERSHIP privilege
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Removed the TestValidateProjectOwnerLogic class and extract the test to the top-level
  tests/dcm/test_commands.py
Due: none

project owner validation test parameterized
  tests/dcm/test_commands.py
Due: none

Extract shared logic
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Defensive handling of errors while checking target's project owner or account identifier correctness
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't enforce account_identifier and account_role in the manifest file
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_commands.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Print warning instead of failing CLI when there is account identifier or project owner mismatch
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't convert account_identifier to upper case earlier than needed
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't catch generic error in _validate_project_owner
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Reliable comparizon of the role
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/api/test_account_identifier.py
  tests/dcm/test_commands.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Allow dot-separated and hyphen-separated account identifiers in the manifest. It's because of a bug in the UI, that generated the account identifier with the dot as the separator.
  src/snowflake/cli/_plugins/connection/util.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/identifiers.py
  tests/dcm/test_commands.py
  tests/dcm/test_models.py
  tests/test_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
