Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Snowflake Apps: generate app.yml from snow app setup (feature-flagged) (#169)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/api/feature_flags.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: upgrade python version bundled in binaries (#173)
  RELEASE-NOTES.md
  scripts/linux-binary-testing/README.md
  scripts/linux-binary-testing/test_snowflake_cli_aws.sh
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_python.sh
Due: none

Don't read "errors" property in `snow dcm raw-analyze` command (#175)
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_analyze_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Progress tracking for `snow dcm plan` (#174)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/exceptions.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_progress.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Jw/snow 3971703 restore snyk CVE scanner (#176)
  .github/workflows/daily-cve-check.yaml
  scripts/mirroring/copybara/copy.bara.sky
Due: none

Don't require a warehouse for DCM commands (#180)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/progress.py
  tests/dcm/test_progress.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't require a warehouse for DCM commands (#180)
  .github/scripts/create_jira_tickets.py
  .github/workflows/daily-cve-check.yaml
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/progress.py
  tests/dcm/test_progress.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Restrict Snowflake Apps CNG support to app.yml v2 (#203)
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  src/snowflake/cli/api/feature_flags.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: add dcm team as codeowners of release notes (#205)
  .github/CODEOWNERS
Due: none

chore: [SNOW-3972005] upgrade pip to 26.2.1 (#178)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SAR: cleanup failures should never fail a command (#192)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_project_paths.py
  tests/apps/test_snowflake_app_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing tests for entity read-path resilience
  tests/feature/test_manager.py
Due: none

fix: surface transient entity read failures instead of empty applied state
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note _fetch_entity_rows no longer graceful-degrades to empty
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

build: restage decl wheel with list_entities retry fix
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
Due: none

Render the DCM changeset tree with Rich's `Tree` component (#201)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/multistep_progress.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/tree.py
  src/snowflake/cli/api/console/abc.py
  tests/api/console/test_cli_console_output.py
  tests/dcm/test_manager.py
  tests/dcm/test_multistep_progress.py
  tests/dcm/test_progress.py
  tests/dcm/test_reporters/test_plan_reporter.py
  tests/dcm/test_reporters/utils.py
  tests/dcm/test_tree.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3659937: remove ENABLE_DBT_PROJECT_PROFILES_FILE_PRECEDENCE flag (#206)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/conftest.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SAR: only delete the bundle directory we created (#193)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/snowflake_app_project_paths.py
  tests/apps/test_snowflake_app_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add --instance flag to snow app events for per-instance log retrieval (#207)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: show object version column in feature plan/apply ops table
  src/snowflake/cli/_plugins/feature/commands.py
  tests/feature/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DOC-15509: correct --install-local-deps help text (#219)
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump release notes 3.25.0 (#223)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes for 3.25.0
  .github/scripts/create_jira_tickets.py
  .github/workflows/daily-cve-check.yaml
  RELEASE-NOTES.md
Due: none

Bump version to v3.25.0-rc0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.25.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add a daily check for new python versions (#204)
  .github/scripts/check_python_version.py
  .github/scripts/create_jira_tickets.py
  .github/scripts/create_python_version_jira_ticket.py
  .github/scripts/jira_client.py
  .github/workflows/daily-cve-check.yaml
  .github/workflows/daily-python-version-check.yaml
  scripts/mirroring/copybara/copy.bara.sky
  tests/scripts/__init__.py
  tests/scripts/test_check_python_version.py
  tests/scripts/test_jira_client.py
Due: none

SAR: add an upload-phase error classifier for Snowflake Apps (#209)
  src/snowflake/cli/_plugins/apps/upload_errors.py
  tests/apps/test_upload_errors.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
