Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

use get for dict
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

change error handling to be default our fault, add list of error codes to check for user fault
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

unclassify user errors for get existing app info
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix error message for mis-formatted version field in manifest.yml (#1904)
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove error codes to err on the side of caution
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

tests for sql facade (1/3)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test streamlit
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_commands.py
  tests/test_data/projects/example_streamlit_no_defaults_v2/main.py
  tests/test_data/projects/example_streamlit_no_defaults_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_no_defaults_v2/snowflake_V1.yml
  tests/test_data/projects/example_streamlit_no_defaults_v2/streamlit_environment.yml
  tests/test_data/projects/example_streamlit_no_defaults_v2/streamlit_pages/first_page.py
  tests/test_data/projects/example_streamlit_no_stage_v2/environment.yml
  tests/test_data/projects/example_streamlit_no_stage_v2/pages/my_page.py
  tests/test_data/projects/example_streamlit_no_stage_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_no_stage_v2/streamlit_app.py
  tests/test_data/projects/streamlit_full_definition_v2/environment.yml
  tests/test_data/projects/streamlit_full_definition_v2/extra_file.py
  tests/test_data/projects/streamlit_full_definition_v2/pages/my_page.py
  tests/test_data/projects/streamlit_full_definition_v2/snowflake.yml
  tests/test_data/projects/streamlit_full_definition_v2/streamlit_app.py
  tests/test_data/projects/streamlit_full_definition_v2/utils/utils.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

teardown with comments
  .gitignore
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/constants.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

make version work
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor test_run_processor tests (2/3)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor event sharing tests
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_event_sharing.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add grant privileges to expected calls
  tests/nativeapp/test_event_sharing.py
Due: none

Fixes
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/snowpark/__snapshots__/test_function.ambr
  tests/snowpark/test_function.py
  tests/streamlit/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump snowpark core
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Bump snowpark core (#1908)
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

add support exclusion for application( package) object types
  src/snowflake/cli/api/constants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update path for version create
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

catch tempalte processor file read error
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

replace app method of get existing info with facade one
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

make diff an entity action
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix tests after replacing get existing app info with facade version
  tests/nativeapp/test_event_sharing.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_teardown.py
  tests/nativeapp/utils.py
Due: none

remove teardown with all apps logic
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/constants.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

ws change
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

use _same_identifier for comparison
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Changed assert from snapshot to field check
  tests_integration/nativeapp/__snapshots__/test_version.ambr
  tests_integration/nativeapp/test_version.py
Due: none

Moved Snowpark and Streamlit artifacts to separate directory in output/deploy
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/streamlit_project_paths.py
  src/snowflake/cli/api/project/project_paths.py
  tests/snowpark/test_artifacts.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/snowpark/test_project_paths.py
  tests/streamlit/test_artifacts.py
  tests/streamlit/test_commands.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

move create/alter app upgrade calls to sql facade to reclassify errors cause by setup script execution (#1870)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/same_account_install_method.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_event_sharing.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/test_teardown.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add schema to StagePathParts
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add feature flag for enable_release_channels
  src/snowflake/cli/_plugins/connection/util.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/feature_flags.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_feature_flags.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
  tests/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address comments
  src/snowflake/cli/_plugins/connection/util.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/feature_flags.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/feature_flags.py
  tests/api/test_feature_flags.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_event_sharing.py
  tests/nativeapp/test_feature_flags.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/streamlit/test_commands.py
  tests/test_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

use DefaultStagePathParts for stage in NA
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/stage/utils.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remmove comments
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/stage/utils.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/project/util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Address comments
  src/snowflake/cli/_plugins/connection/util.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

clean up
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/utils.py
  tests/stage/test_diff.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

clean up
  .gitignore
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update comment
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

rename stage
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove trailing slash when no directory
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update unit tests
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/stage/manager.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_event_sharing.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/test_version_create.py
  tests/stage/test_diff.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update docstring
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
