Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Phase 2: Add templating section with global_variables and configurations
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Phase 4: Integrate --target flag and default_target behavior
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3079424] uppercase before comparing configurations, targets etc
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_commands.py
  tests/dcm/test_models.py
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2999995] handle case-sensitive keys
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2999995] don't discard configuration when identifier is explicitly provided
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2999995] improve from_option
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2999995] cleanup tests
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_manifest.py
Due: none

feat: [SNOW-2999995] refactor dcm directories
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/test_data/projects/dcm_project/sources/definitions/a.sql
  tests/test_data/projects/dcm_project/sources/definitions/b.sql
  tests_integration/test_data/projects/dcm_project/sources/definitions/file_a.sql
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/sources/definitions/file_a.sql
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2999995] fix tests
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
Due: none

refactor: [SNOW-2999995] cleanup
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/manifest.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_manifest.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2999995] infer project identifier from manifest in dcm drop and describe commands
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2999995] rename global_variables to defaults
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3079424] don't quote invalid manifest version
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3079424] address comments from review
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2999995] cleanup
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/exceptions.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2999995] derive default target if only 1 exists
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/commands/flags.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Phase 3: Add targets section with project_name, templating_config, output_path
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2999995] dcm drop-deployment - change deployment_name to an option
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3079424] address comments from review
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/models.py
  src/snowflake/cli/api/commands/flags.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_models.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2999995] add --save-output flag
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Phase 1: Convention-based definitions/ and macros/ folders (manifest v2)
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_manager.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/definitions/file_a.sql
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/definitions/file_a.sql
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3079424] dcm plan & deploy: handle old and new api response format
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create with overwrite and skip-if-exists
  src/snowflake/cli/_plugins/notebook/project/commands.py
  src/snowflake/cli/_plugins/notebook/project/manager.py
  tests/notebook/test_notebook_project_commands.py
  tests/notebook/test_notebook_project_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix execute
  src/snowflake/cli/_plugins/notebook/project/commands.py
  src/snowflake/cli/_plugins/notebook/project/manager.py
  tests/notebook/test_notebook_project_commands.py
  tests/notebook/test_notebook_project_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-3017492] split reporters
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  src/snowflake/cli/_plugins/dcm/reporters/test.py
  tests/dcm/test_reporters/__snapshots__/test_refresh_reporter.ambr
  tests/dcm/test_reporters/__snapshots__/test_test_reporter.ambr
  tests/dcm/test_reporters/test_refresh_reporter.py
  tests/dcm/test_reporters/test_test_reporter.py
  tests/dcm/test_reporters/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

WIP
  pyproject.toml
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/logs_service.proto
  src/snowflake/cli/_plugins/streamlit/proto/logs_service_pb2.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

feat: add `snow streamlit logs` command for live log streaming
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/developer/v1/logs_service.proto
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

refactor: switch from websockets to websocket-client library
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

refactor: add proto_codec layer, DeveloperApiToken, tests, and polish
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address self-review findings for streamlit logs command
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add --name flag and SPCSv2 runtime validation to streamlit logs
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address code review feedback for streamlit logs command
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: move local imports to top level and update copyright to 2026
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: update help message snapshots for streamlit logs command
  tests/__snapshots__/test_help_messages.ambr
Due: none

Fixed test_help_messages.ambr
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-3017496 raw_analyze command in the DCM plugin
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Print raw JSON
  src/snowflake/cli/_plugins/dcm/commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fail the process when analyze returns any error
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_refresh_reporter.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Merged integration tests
  tests_integration/test_dcm_project.py
Due: none

Removed redundant tests
  tests_integration/test_dcm_project.py
Due: none
