Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

feat: use ALTER STREAMLIT instead of CREATE OR REPLACE for existing apps
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: exclude MAIN_FILE from ALTER STREAMLIT SET for versioned (embedded-stage) apps
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: diff-based ALTER STREAMLIT — only set properties that changed
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

style: fix import ordering per ruff I001
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: remove duplicate inline import shutil causing black to fail on Python 3.14
  tests/streamlit/test_streamlit_commands.py
Due: none

Snowflake Apps: Enable personal DB and default schema to APPS
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Better abstraction between snowflake-client and snowml
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_integration.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing tests for init command (Phase 2)
  tests/feature/test_commands.py
  tests/feature/test_integration.py
  tests/feature/test_manager.py
Due: none

test: add failing tests for write_plan() and apply(plan_file=...)
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
  tests/feature/test_integration.py
  tests/feature/test_manager.py
Due: none

test: add failing tests for phase 6 target info (TDD red)
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: implement phase 6 target db/schema display in CLI
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: implement write_plan(), apply(plan_file=...), and plan --out / apply --plan in CLI
  tests/feature/test_manager.py
Due: none

docs: update DESIGN.md and CHANGES.md for init command (Phase 2)
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

feat: update bundled decl wheel with PlanFile and serialize_plan/deserialize_plan
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
Due: none

test: add failing tests for directory mode full_directory_mode (Phase 3)
  tests/feature/test_manager.py
Due: none

feat: detect directory vs file mode for deletion detection (Phase 3)
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update with init and other commands
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
  src/snowflake/cli/_plugins/feature/DESIGN.md
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_commands.py
  tests/feature/test_manager.py
  tests/feature/test_plugin_registration.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-3291277] update requests
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

chore: [SNOW-3291277] update requests (#2900)
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Update README.md
  README.md
Due: none

Fix CI: update e2e snapshots and CodeQL URL substring warnings
  tests/apps/test_commands.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Snowflake Apps: Merge `snow __app` commands into `snow app`
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/plugin_spec.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests/nativeapp/__snapshots__/test_commands.ambr
  tests/nativeapp/test_app_flow_routing.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Address review feedback on flow routing
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/nativeapp/test_app_flow_routing.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address PR review comments
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_app_flow_routing.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Make the "dcm purge" command available
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Rename "Snowflake Apps" to "Snowflake Apps Deploy" in user-facing text
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests/nativeapp/test_app_flow_routing.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_integration/test_data/projects/snowflake_apps/app/server.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3202214: add metrics to custom image commands (#2884)
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/custom_images/metrics.py
  tests/custom_images/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Introduce AppDefaults for type-safe defaults resolution
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/defaults.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: Merge `snow __app` commands into `snow app` (#2898)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/plugin_spec.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests/nativeapp/__snapshots__/test_commands.ambr
  tests/nativeapp/test_app_flow_routing.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_integration/test_data/projects/snowflake_apps/app/server.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: make build_eai optional and allow code_stage FQN identifier
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Regenerated snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

Make the "dcm purge" command available (#2901)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix SNOWFLAKE_HOST and SNOWFLAKE_PORT env overrides for temporary connections
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Tag native app version SQL with query_tag for observability
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/sql_execution.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove release notes updates from apps deploy PR.
  RELEASE-NOTES.md
Due: none

Snowflake Apps: make build_eai optional and allow code_stage FQN identifier (#2902)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: default to workspaces and enable personal DB
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add integration test coverage for snow app setup and deploy
  .github/workflows/test_integration_container_services.yaml
  tests_integration/test_data/projects/snowflake_apps/app/Dockerfile
  tests_integration/test_data/projects/snowflake_apps/app/package.json
  tests_integration/test_data/projects/snowflake_apps/app/server.js
  tests_integration/test_data/projects/snowflake_apps/app/server.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: none

Support non-interactive shells in the `dcm purge` command
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/utils/tty.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/utils/test_tty.py
  tests/app/test_telemetry.py
  tests/dcm/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix snow app open for application services
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
