Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

docs: [SNOW-2150049] add dbt external access integrations to release notes
  RELEASE-NOTES.md
Due: none

test: [SNOW-2150049] Add integration test for dbt external access integrations
  tests_integration/test_data/projects/dbt_project_with_external_deps/dbt_project.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/first_model_with_utils.sql
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/schema.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/models/example/second_model_with_utils.sql
  tests_integration/test_data/projects/dbt_project_with_external_deps/packages.yml
  tests_integration/test_data/projects/dbt_project_with_external_deps/profiles.yml
  tests_integration/test_dbt.py
Due: none

refactor: [SNOW-2158869] Rename execute/dry-run commands to deploy/plan
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2118790: changing the md5sum to md5 as older machines using x86 does not support md5sum
  scripts/packaging/load_mac_certs.sh
Due: none

refactor: [SNOW-2158869] remove backwards compatibility support
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2118790: Moved from md5sum to md5 as it is not supported (#2481)
  scripts/packaging/load_mac_certs.sh
Due: none

refactor: [SNOW-2186234] change SQL syntax
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  src/snowflake/cli/api/constants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2186234] rename dcm command group
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/dcm/__init__.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/plugin_spec.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__init__.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_project_entity_model.py
  tests/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2037785 Add `runtime_environment_version` for Notebook
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  tests/notebook/test_notebook_commands.py
  tests/test_data/projects/notebook_with_runtime_env/notebook.ipynb
  tests/test_data/projects/notebook_with_runtime_env/snowflake.yml
  tests_integration/test_data/projects/notebook_with_runtime_env/notebook.ipynb
  tests_integration/test_data/projects/notebook_with_runtime_env/snowflake.yml
  tests_integration/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2186234] finish up refactoring
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2181193 SNOW-2191699 Move test_integration/plugin to dedicated workflow running not concurrently
  .github/workflows/test_integration_plugin.yaml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

refactor: [SNOW-2158869] rename dry-run and execute
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

debug info
  DEBUG_BUILD.md
  FEDORA_QUICK_START.md
  pyproject.toml
  scripts/packaging/build_debug_binaries.sh
  scripts/packaging/build_debug_binary.py
  scripts/packaging/deploy_fedora_debug.sh
  scripts/packaging/setup_fedora_debug.sh
Due: dependencies-sync

fix: [SNOW-2193494] use name part of FQN for dbt temporary stage creation
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: [SNOW-2193494] add DBT FQN fix to release notes
  RELEASE-NOTES.md
  tests_integration/test_dbt.py
Due: none

debug info
  FEDORA_QUICK_START.md
  FEDORA_RPM_DEBUG.md
  pyproject.toml
  scripts/packaging/build_debug_binary_low_memory.py
  scripts/packaging/build_debug_rpm.sh
  scripts/packaging/setup_fedora_debug.sh
  scripts/packaging/snowflake-cli-debug.spec
Due: dependencies-sync

SNOW-2181193 SNOW-2191699 Move test_integration/plugin to dedicated workflow running not concurrently
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

install UV on CLI runner
  .github/workflows/lint.yaml
Due: none

Fix: [SNOW-2193494] Use name part of FQN for DBT temporary stage creation
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

verify `runtime_environment_version` via SQL
  tests_integration/test_notebooks.py
Due: none

lock `pip` and `packaging`
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

debug
  .github/workflows/lint.yaml
  scripts/lock_subdependencies.py
Due: none

moar debug
  scripts/lock_subdependencies.py
Due: none

moar debug
  .github/workflows/lint.yaml
  scripts/lock_subdependencies.py
Due: none

ci: [SNOW-2155083] enable manually triggering spcs integration tests
  .github/workflows/test_integration_container_services.yaml
Due: none

ci: [SNOW-2155083] enable manually triggering spcs integration tests (#2488)
  .github/workflows/test_integration_container_services.yaml
Due: none

ci: [NOSNOW] add issue write permission to action
  .github/workflows/test_integration_container_services.yaml
Due: none

ci: [NOSNOW] add issue write permission to action (#2489)
  .github/workflows/test_integration_container_services.yaml
Due: none

feat: [SNOW-2155083] add auto_suspend_secs parameter support
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
  tests_integration/test_data/projects/spcs_service/snowflake.yml
  tests_integration/tests_using_container_services/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2205308] add dcm describe command
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/tests-improvements: separate setup from test for retries
  tests_integration/tests_using_container_services/test_notebooks.py
Due: none

mraba/tests-improvements: dev dependencies for exponential backoff
  pyproject.toml
  snyk/requirements.txt
  tests_integration/tests_using_container_services/test_notebooks.py
Due: dependencies-sync

feat: [SNOW-2179176] dbt deploy: add support for monorepos
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests_integration/test_data/projects/dbt_monorepo/analytics/dbt_project.yml
  tests_integration/test_data/projects/dbt_monorepo/analytics/models/marts/customer_metrics.sql
  tests_integration/test_data/projects/dbt_monorepo/analytics/models/marts/high_value_customers.sql
  tests_integration/test_data/projects/dbt_monorepo/analytics/profiles.yml
  tests_integration/test_data/projects/dbt_monorepo/finance/dbt_project.yml
  tests_integration/test_data/projects/dbt_monorepo/finance/models/reports/annual_revenue.sql
  tests_integration/test_data/projects/dbt_monorepo/finance/models/reports/revenue_summary.sql
  tests_integration/test_data/projects/dbt_monorepo/finance/profiles.yml
  tests_integration/test_data/projects/dbt_monorepo/shared/macros/common_utils.sql
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.10.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix https://github.com/snowflakedb/snowflake-cli/issues/595
  CONTRIBUTING.md
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/utils/dict_utils.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
