Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

debug
  pyproject.toml
Due: dependencies-sync

revert dependencies
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

try generating certificate
  scripts/run_tests_qa.sh
Due: none

Revert "revert dependencies"
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

feat: [SNOW-2103792] support altering existing dbt objects in deploy command (#2294)
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/__snapshots__/test_dbt.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

debug unpinning python dependency
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

extend testing matrix
  .github/workflows/matrix.yaml
Due: none

remove env marker
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

remove snowpark python version restrictions
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

NO-SNOW fix cleanup script (#2304)
  scripts/cleanup.py
Due: none

limit snowpark to max 3.12
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/stage/manager.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/test_git.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

fix e2e tests
  tests_e2e/conftest.py
  tests_e2e/test_installation.py
Due: none

Snow 2097403 add encryption to stage create (#2300)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/stage/test_stage.py
  tests_integration/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

skip more tests
  tests/nativeapp/codegen/test_sandbox.py
  tests_e2e/test_nativeapp.py
Due: none

limit workflow
  pyproject.toml
Due: dependencies-sync

cleanup
  pyproject.toml
  tests/nativeapp/codegen/test_sandbox.py
  tests_common/conftest.py
  tests_e2e/conftest.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/test_git.py
Due: dependencies-sync

bump min python for snowpark
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Temporarily skip schema existence check
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update src/snowflake/cli/api/rest_api.py
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

skip schema existance test
  tests_integration/test_object.py
Due: none

Update tests_integration/test_object.py
  tests_integration/test_object.py
Due: none

change upgrade message to warning
  src/snowflake/cli/_app/version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix unit tests
  tests/app/test_version_check.py
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

Snow 2106756 move upgrade warning to stderr (#2313)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Temporarily skip schema existence check (#2310)
  src/snowflake/cli/api/rest_api.py
  tests_integration/test_object.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

revert 3.13 to 3.10
  .github/workflows/matrix.yaml
  pyproject.toml
Due: dependencies-sync

fix cli for python 3.13
  .github/workflows/matrix.yaml
  pyproject.toml
  snyk/requirements.txt
  tests/nativeapp/codegen/test_sandbox.py
  tests_common/conftest.py
  tests_e2e/conftest.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/test_git.py
Due: dependencies-sync

fix: [SNOW-2108648] revert upgrade of supported sf-snowpark-python
  pyproject.toml
  snyk/requirements.txt
  tests_common/conftest.py
Due: dependencies-sync

fix: [SNOW-2108648] revert upgrade of supported sf-snowpark-python
  tests_e2e/conftest.py
Due: none

fix cli for python 3.12 & 3.13 (#2311)
  .github/workflows/matrix.yaml
  RELEASE-NOTES.md
  pyproject.toml
  snyk/requirements.txt
  tests/nativeapp/codegen/test_sandbox.py
  tests_common/conftest.py
  tests_e2e/conftest.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/test_git.py
Due: dependencies-sync

chore: placeholder for 3.8.1 release notes
  RELEASE-NOTES.md
Due: none

chore: update release notes
  RELEASE-NOTES.md
Due: none

Bump version to v3.8.1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: update release notes (#2320)
  RELEASE-NOTES.md
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
