Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

style: [SNOW-2273956] style spinner
  src/snowflake/cli/api/console/console.py
Due: check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2273956] refactor dcm plan and deploy
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/constants.py
  tests/api/artifacts/test_bundle_map.py
  tests/dcm/test_commands.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2273956] respond to initial batch of comments
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  tests/api/artifacts/test_bundle_map.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

cleanup: [SNOW-2273956] remove DCMProjectEntity
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/dcm/test_project_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2280069: resolve ctx.var in JINJA templating (#2586)
  RELEASE-NOTES.md
  src/snowflake/cli/api/rendering/sql_templates.py
  tests/sql/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 register commands with decorator, improve command dispatching
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 rename commands from snowsql to repl 2
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 handle !edit command
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 rename commands from snowsql to repl
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 update singatures for methods to match with abstract method
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix parsing !edit arguments with `=`
  src/snowflake/cli/_plugins/sql/repl_commands.py
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 update relese notes for changes
  RELEASE-NOTES.md
Due: none

SNOW-2126722 move comments to docstings
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix spelling
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/test_repl.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-2126722 improve edit command args parsing
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix modifying kwargs while iterating over them
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 remove unused statement
  tests/sql/test_statement_reader.py
Due: none

SNOW-2126722 make repl_instance public
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix ruff in tests
  tests/sql/conftest.py
  tests/sql/test_sql.py
Due: none

SNOW-2126722 add --verbose to ruff
  .pre-commit-config.yaml
Due: none

SNOW-2126722 abort query params binding
  src/snowflake/cli/_plugins/sql/repl_commands.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix parsing !edit arguments with `=`
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix ruff err
  performance_history_analysis.py
Due: none

SNOW-2126722 fix imports
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 make repl_context resotred from original values
  tests/sql/test_repl.py
Due: none

SNOW-2126722 improve repl loop handling
  src/snowflake/cli/_plugins/sql/repl.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-2126722 restore precommit
  .pre-commit-config.yaml
Due: none

SNOW-2126722 handle missing repl in context
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix private _history access
  tests/sql/test_repl.py
Due: none

SNOW-2126722 drop unnecessary generic Exception handling
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 test against expected error
  tests/sql/test_snowsql_commands.py
Due: none

SNOW-2126722 cleanup RELEASE-NOTEST.md
  RELEASE-NOTES.md
Due: none

feat: [SNOW-2273956] use pydantic for regexp validation
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/regex_resolver.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/artifacts/test_bundle_map.py
  tests/api/artifacts/test_regex_resolver.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snow 2126722 editor command for repl (#2577)
  RELEASE-NOTES.md
  performance_history_analysis.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/conftest.py
  tests/sql/test_repl.py
  tests/sql/test_snowsql_commands.py
  tests/sql/test_sql.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2116658: fix repl pasting with trailing new lines
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/test_repl.py
Due: avoid-snowcli, use-local-requirements-model

Fix cross-platform line ending issues in paste handling
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/test_repl.py
Due: avoid-snowcli, use-local-requirements-model

Remove incorrect enable_open_in_editor parameter
  src/snowflake/cli/_plugins/sql/repl.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-2273956] move upload logic and project validation to manager
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2116658: fix repl pasting with trailing new lines (#2588)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/test_repl.py
Due: avoid-snowcli, use-local-requirements-model

docs: [SNOW-2273956] revert hidden dbt flags
  tests/__snapshots__/test_help_messages.ambr
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
