Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-1055755: windows build - install dotnet and wix 4b
  scripts/packaging/win/build_snowflake_cli.bat
Due: none

SNOW-1055755: macos com.snowflake second - validate installation 9
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1055755: windows build debug - ...wix util schema
  scripts/packaging/win/snowflake_cli_template.wxs
Due: none

SNOW-1055755: macos postinstall issues - debug 2
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/macos/postinstall
Due: none

SNOW-1055755: macos postinstall issues - debug 14
  scripts/packaging/build_binaries.sh
Due: none

SNOW-1055755: windows build debug - wix installer bundle - debug 4
  pyproject.toml
  scripts/packaging/win/build_snowflake_cli.bat
Due: dependencies-sync

SNOW-1055755: macos com.snowflake second - validate installation 11
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1055755: win - move installer build to other node - s02e01
  scripts/packaging/win/build_installer.bat
Due: none

SNOW-1055755: macos com.snowflake second - validate installation 12
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1055755: macos com.snowflake second - validate installation 10
  scripts/packaging/build_darwin_package.sh
Due: none

SNOW-1055755: win - move installer build to other node
  scripts/packaging/win/build_installer.bat
Due: none

SNOW-1055755: win - move installer build to other node - s02e02
  scripts/packaging/win/build_snowflake_cli.bat
Due: none

update unit tests
  tests/test_snow_connector.py
Due: none

fix spelling; update unit tests
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't sort keys when converting PDFv1 to v2
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update snapshots
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
Due: none

fix unit tests
  tests/api/test_connections.py
  tests/app/test_telemetry.py
  tests/test_main.py
Due: none

Don't sort keys when converting PDFv1 to v2 (#1629)
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1055755: binary releases workflow (#1357)
  pyproject.toml
  scripts/packaging/Dockerfile
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/build_packages.sh
  scripts/packaging/centos/after_install.sh
  scripts/packaging/centos/after_remove.sh
  scripts/packaging/docker-compose.yaml
  scripts/packaging/macos/Distribution.xml
  scripts/packaging/macos/Resources/snowflake-cli_get_started.html
  scripts/packaging/macos/Resources/snowflake-cli_welcome.html
  scripts/packaging/macos/Resources/snowflake_darwin.icns
  scripts/packaging/macos/Resources/snowflake_darwin_background.png
  scripts/packaging/macos/SnowflakeCLI.bash
  scripts/packaging/macos/SnowflakeCLI.plist
  scripts/packaging/macos/SnowflakeCLI_entitlements.plist
  scripts/packaging/macos/postinstall
  scripts/packaging/macos/snowflake_darwin.icns
  scripts/packaging/ubuntu/after_install.sh
  scripts/packaging/ubuntu/after_remove.sh
  scripts/packaging/win/build_installer.bat
  scripts/packaging/win/build_snowflake_cli.bat
  scripts/packaging/win/build_version.py
  scripts/packaging/win/snowflake_cli.wxs
  scripts/packaging/win/snowflake_cli_en-us.wxl
  scripts/packaging/win/snowflake_cli_exitdlg.wxs
  scripts/packaging/win/snowflake_msi.ico
  scripts/packaging/win/snowflake_msi_background.png
  scripts/packaging/win/snowflake_msi_banner.png
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

Remove deploy_to_scratch_stage_fn() and call deploy() directly
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Make SqlExecutor._conn public
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/sql_execution.py
  tests/notebook/test_notebook_manager.py
  tests/spcs/test_image_repository.py
  tests/spcs/test_registry.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

revert overrigin application parameter
  src/snowflake/cli/_app/constants.py
  src/snowflake/cli/_app/snow_connector.py
  tests/api/test_connections.py
  tests/app/test_telemetry.py
  tests/test_connection.py
  tests/test_main.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove TODOs, fix factory test, move minimal to fixture
  tests/nativeapp/factories.py
  tests/nativeapp/test_factory_v10.py
  tests/nativeapp/test_project_model.py
  tests/testing_utils/fixtures.py
  tests/workspace/test_manager.py
Due: none

remove snow app init from commands
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove snow app init from commands
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1653357 Remove deploy_to_scratch_stage_fn() and call deploy() directly (#1621)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove app init, list-templates, and related tests
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/init.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_commands.py
  tests/nativeapp/test_init.py
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_templates.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

re-add deploy snapshots
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
Due: none

update init error messaging
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove `snow app init` command (#1630)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/init.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_commands.py
  tests/nativeapp/test_init.py
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_templates.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't output default native_app fields in v1 to v2 migration
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/helpers/test_v1_to_v2.py
  tests/test_data/projects/migration_all_app_entities/__init__.py
  tests/test_data/projects/migration_all_app_entities/app.py
  tests/test_data/projects/migration_all_app_entities/app/README.md
  tests/test_data/projects/migration_all_app_entities/app/manifest.yml
  tests/test_data/projects/migration_all_app_entities/app/setup.sql
  tests/test_data/projects/migration_all_app_entities/scripts/post_app_deploy.sql
  tests/test_data/projects/migration_all_app_entities/scripts/post_pkg_deploy.sql
  tests/test_data/projects/migration_all_app_entities/snowflake.yml
  tests/test_data/projects/migration_all_app_entities/to_process/some_python.py
  tests/test_data/projects/migration_multiple_entities/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

relase-v2.8.2: pypi migration release
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1639544: snowflake-cli-labs pypi build for 2.x
  .compat/snowflake-cli-labs/pyproject.toml
Due: none

SNOW-1639544: snowflake-cli pypi build for 2.x
  .compat/build_snowflake-cli-labs.sh
  .compat/snowflake-cli-labs/LICENSE
  .compat/snowflake-cli-labs/README.md
  .compat/snowflake-cli-labs/pyproject.toml
  .compat/snowflake-cli-labs_version_sync.py
  RELEASE-NOTES.md
  pyproject.toml
  tests_e2e/conftest.py
Due: dependencies-sync

SNOW-1639544: snowflake-cli-labs pypi build for 2.x - disable e2e for repo change
  pyproject.toml
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/test_external_plugins.py
Due: dependencies-sync

SNOW-1639544: snowflake-cli-labs pypi build for 2.x - disable e2e for repo change - fix test
  tests_e2e/test_snowpark_examples.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
