Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

20.04
  scripts/packaging/Dockerfile
Due: none

22.04
  scripts/packaging/Dockerfile
Due: none

18, additional --fix
  scripts/packaging/Dockerfile
Due: none

try 20
  scripts/packaging/Dockerfile
Due: none

Revert "try 20"
  scripts/packaging/Dockerfile
Due: none

feat: implement with_feature_flags (#2335)
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/feature_flags.py
  src/snowflake/cli/api/feature_flags.py
  tests/api/test_feature_flags.py
  tests/app/test_telemetry.py
  tests/test_snow_connector.py
  tests/test_utils.py
  tests_common/feature_flag_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix build scripts for Ubuntu (#2346)
  scripts/packaging/Dockerfile
Due: none

SNOW-2089589: add --private-link flag to the snow spcs image-registry login command
  src/snowflake/cli/_plugins/spcs/image_registry/commands.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_registry.ambr
  tests/spcs/test_registry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2089589: add --private-link flag to the snow spcs image-registry login command (#2348)
  src/snowflake/cli/_plugins/spcs/image_registry/commands.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_registry.ambr
  tests/spcs/test_registry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-208958: Update release notes
  RELEASE-NOTES.md
Due: none

Bump typer
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Bump typer
  pyproject.toml
  snyk/requirements.txt
  tests/__snapshots__/test_help_messages.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: dependencies-sync

Bump typer (#2351)
  pyproject.toml
  snyk/requirements.txt
  tests/__snapshots__/test_help_messages.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: dependencies-sync

SNOW-2129457 use artifactory for building wheel
  scripts/packaging/Dockerfile
Due: none

remove port
  scripts/packaging/Dockerfile
Due: none

ci: [SNOW-2131839] Add scheduled workflow to test CLI install from main branch
  .github/workflows/test_cli_action_main_branch.yaml
Due: none

ci: [SNOW-2131839] Add scheduled workflow to test CLI install from ma… (#2356)
  .github/workflows/test_cli_action_main_branch.yaml
Due: none

Add tests
  tests/test_connection.py
Due: none

Add token as connection option
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

snapshot update
  tests/__snapshots__/test_help_messages.ambr
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

SNOW-2129457 Move .whl build job to artifactory docker image (#2353)
  scripts/packaging/Dockerfile
Due: none

try updating snapshots
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
Due: none

Added create issue permission for integration tests
  .github/workflows/test_integration.yaml
Due: none

Added create issue permission for integration tests (#2359)
  .github/workflows/test_integration.yaml
Due: none

Added create issue permission for trusted workflow
  .github/workflows/test_trusted.yaml
Due: none

Flaky test
  .github/workflows/test_integration.yaml
Due: none

fix snapshots
  src/snowflake/cli/api/commands/decorators.py
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update snapshots
  tests/__snapshots__/test_docs_generation_output.ambr
Due: none

Snow 2010807 add token to connection options (#2357)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix integration flaky test report mechanism
  tests_common/deflake.py
Due: none

Change execute/dry-run project commands output type
  src/snowflake/cli/_plugins/project/commands.py
  tests/dcm_project/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix example test
  tests_integration/test_dcm_project.py
Due: none

Add project tests to integration tests
  tests_integration/test_dcm_project.py
Due: none

Snow 2127689 fix project execute/dry run output (#2367)
  src/snowflake/cli/_plugins/project/commands.py
  tests/dcm_project/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
