Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Fix for default visible in connection add (#1886)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

3.2.0 RC3 version
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

3.2.0 final version
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

migrate all tests to sql facade for create/upgrade
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/same_account_install_method.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/utils.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update event sharing tests for refactor
  tests/nativeapp/test_event_sharing.py
Due: none

merge success messages for tests
  tests/nativeapp/test_event_sharing.py
Due: none

move error handling to facade
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

convert create/upgrade app calls to sqlfacade; TODO: refactor test_run_processor
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

further overhauls to create/upgrade to make uniform, fix version not proper identifier when number bug, pending event sharing unit tests
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/same_account_install_method.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Moved native app artifacts logic to common API (#1877)
  .github/CODEOWNERS
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/stage/utils.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/artifacts/__init__.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/common.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/utils/path_utils.py
  tests/api/artifacts/test_bundle_map.py
  tests/api/utils/__snapshots__/test_path_utils.ambr
  tests/api/utils/test_path_utils.py
  tests/nativeapp/__snapshots__/test_artifacts.ambr
  tests/nativeapp/fixtures.py
  tests/nativeapp/test_artifacts.py
  tests/nativeapp/test_manager.py
  tests/stage/test_diff.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

mraba/fix-pyenv-packaging-container: downgrade python to 3.10 for builds
  pyproject.toml
Due: dependencies-sync

mraba/fix-pyenv-packaging-container: set ENV in Dockerfer for pyenv
  scripts/packaging/Dockerfile
Due: none

update event sharing tests
  tests/nativeapp/test_event_sharing.py
Due: none

remove unused mock arg
  tests/nativeapp/test_event_sharing.py
Due: none

Move PathMapping and ProcessorMapping out of native app logic
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/bundle_context.py
  src/snowflake/cli/_plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/project/schemas/commons.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/v1/native_app/native_app.py
  src/snowflake/cli/api/project/schemas/v1/native_app/path_mapping.py
  tests/api/artifacts/test_bundle_map.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/templating/test_templates_processor.py
  tests/nativeapp/test_annotation_processor_config.py
  tests/nativeapp/test_artifacts.py
  tests/project/test_config.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1790301: downgrade python to 3.10
  pyproject.toml
  scripts/packaging/Dockerfile
Due: dependencies-sync

SNOW-1790301: downgrade python to 3.10
  scripts/packaging/Dockerfile
Due: none

SNOW-1790301: update release notes
  RELEASE-NOTES.md
Due: none

Snow 1790301 linux build fix (#1900)
  RELEASE-NOTES.md
  pyproject.toml
  scripts/packaging/Dockerfile
Due: dependencies-sync

Snow 1790301 linux build fix (#1900) (#1901)
  RELEASE-NOTES.md
  pyproject.toml
  scripts/packaging/Dockerfile
Due: dependencies-sync

v3.2.1: version bump and release notes update
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

v3.2.1: version bump and release notes update (#1902)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

extract app entity properties, move upgrade restriction codes to sql facade exceptions
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move grants for application to sf facade
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/constants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

move grant privileges call to app entity
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

separate telemetry error check from rest of upgrade logic and rewrite docstring to match others
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move get_existing_app_info to sql facade
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/constants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix error for manifest version field
  .gitignore
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

revert change to .gitignore
  .gitignore
Due: none

ws
  .gitignore
Due: none

Fix broken v1 to v2 test on the feature branch (#1876)
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
Due: none

Move PathMapping and ProcessorMapping out of native app logic (#1899)
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/bundle_context.py
  src/snowflake/cli/_plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/templates/templates_processor.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/project/schemas/commons.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/v1/native_app/native_app.py
  src/snowflake/cli/api/project/schemas/v1/native_app/path_mapping.py
  tests/api/artifacts/test_bundle_map.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/templating/test_templates_processor.py
  tests/nativeapp/test_annotation_processor_config.py
  tests/nativeapp/test_artifacts.py
  tests/project/test_config.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add tests for bad version info
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

check for version info None add tests
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
