Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Fix following rebase
  tests/nativeapp/codegen/templating/test_templates_processor.py
Due: none

Moved Snowpark and Streamlit artifacts to separate directory in output/deploy
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_project_paths.py
  src/snowflake/cli/api/project/project_paths.py
  tests/snowpark/test_artifacts.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/snowpark/test_project_paths.py
  tests/streamlit/test_artifacts.py
  tests/streamlit/test_commands.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixed test has_calls on Python 3.12 (#1936)
  tests/test_connection.py
Due: none

get_usage_grant_sql
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package_child_interface.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix not able to add patch to quoted versions
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/util.py
  tests/project/test_util.py
  tests/test_utils.py
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

New error message
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/exceptions.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update release notes
  RELEASE-NOTES.md
Due: none

Add Feature Flag for log streaming
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/exceptions.py
  src/snowflake/cli/api/feature_flags.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

unit tests
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_children.py
  tests/streamlit/test_streamlit_entity.py
  tests/test_data/projects/napp_children/app/README.md
  tests/test_data/projects/napp_children/app/manifest.yml
  tests/test_data/projects/napp_children/app/setup_script.sql
  tests/test_data/projects/napp_children/snowflake.yml
  tests/test_data/projects/napp_children/streamlit_app.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

children_artifacts_dir behind flag
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

undo children_artifacts_dir flag
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

todo comment
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

sanitize dir name docstring
  src/snowflake/cli/_plugins/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix comment and use new error message
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/exceptions.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test
  README.md
Due: none

Moved Snowpark and Streamlit artifacts to separate directory in outpu… (#1909)
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_project_paths.py
  src/snowflake/cli/api/project/project_paths.py
  tests/snowpark/test_artifacts.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests/snowpark/test_project_paths.py
  tests/streamlit/test_artifacts.py
  tests/streamlit/test_commands.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Actions
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_actions.py
  tests/streamlit/test_commands.py
  tests/test_data/projects/example_streamlit_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_v2/utils/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

AppFactory class
  src/snowflake/cli/_app/cli_app.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Refactoring continuation
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/_app/cli_app.py
  tests/test_docs_generation_output.py
  tests/test_main.py
  tests/testing_utils/fixtures.py
  tests_integration/conftest.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fixes
  tests/test_connection.py
Due: none

Test fix
  tests_integration/test_external_plugins.py
Due: none

Fix not able to add patch to quoted versions (#1943)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/util.py
  tests/project/test_util.py
  tests/test_utils.py
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add release directives support to SnowCLI (#1938)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/__init__.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/errno.py
  src/snowflake/cli/api/project/util.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/factories.py
  tests/nativeapp/fixtures.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
  tests/project/test_util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

pr comments
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

error message on child directory collision
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix child dir
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

windows path test fix
  tests/nativeapp/test_children.py
Due: none

Add support for release channels in snow app version create
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/test_version_drop.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/__snapshots__/test_version.ambr
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix Json casing in release notes
  RELEASE-NOTES.md
Due: none

Add support for release channels in snow app version create (#1946)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/test_version_drop.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/__snapshots__/test_version.ambr
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Downgrade snowpark lib until a fix is identified (#1928)
  pyproject.toml
  snyk/requirements.txt
  tests_e2e/conftest.py
Due: dependencies-sync

update snapshot
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

V.3.2.2 cherrypicks (#1947)
  RELEASE-NOTES.md
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/__about__.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/conftest.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

fix
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_actions.py
  tests/test_data/projects/example_streamlit_v2/snowflake.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

text fix
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_actions.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

v3.2.2 release notes update
  RELEASE-NOTES.md
Due: none

Temporarily disable schema existance check for object create
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

skip test
  tests_integration/test_object.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
