Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

fix syntax
  src/snowflake/cli/_plugins/project/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove flaky test
  tests_integration/sql/test_snowsql_commands.py
Due: none

Snow 2106457 fix queries time filter timing out (#2297)
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  tests/sql/test_snowsql_commands.py
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --if-not-exists flag to project create
  src/snowflake/cli/_plugins/project/commands.py
  tests/dcm_project/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --encryption option to stage create
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix unit tests
  tests/__snapshots__/test_help_messages.ambr
  tests/stage/test_stage.py
Due: none

integration tests
  tests_integration/test_stage.py
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

update snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-1994541: Change cortex complete to use snowflake.core APIs
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/constants.py
  src/snowflake/cli/_plugins/cortex/manager.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/cortex/test_cortex_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update doc
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/cortex/test_cortex_commands.py
Due: none

Bump version to v3.8.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --if-not-exists flag to project create (#2299)
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix unit tests
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
Due: none

SNOW-1994541: Change cortex complete to use snowflake.core APIs (#2260)
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/constants.py
  src/snowflake/cli/_plugins/cortex/manager.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/cortex/test_cortex_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review fixes
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
  tests_integration/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

skip spcs list images test on QA
  tests_integration/spcs/test_image_repository.py
Due: none

debug
  pyproject.toml
Due: dependencies-sync

SNOW-2097310 skip spcs list images test on QA (#2303)
  tests_integration/spcs/test_image_repository.py
Due: none

debug openssl
  scripts/run_tests_qa.sh
Due: none

try export
  scripts/run_tests_qa.sh
Due: none

Add configuration to project execute command (#2296)
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
  tests_integration/test_data/projects/dcm_project_multiple_configurations/file_a.sql
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try guessing path
  scripts/run_tests_qa.sh
Due: none

try ca bundle
  scripts/run_tests_qa.sh
Due: none

feat: [SNOW-2103792] support altering existing dbt objects in deploy command
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/__snapshots__/test_dbt.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2103792] tiny reformat
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try ca bundle trust
  scripts/run_tests_qa.sh
Due: none

try update certificates
  scripts/run_tests_qa.sh
Due: none

debug
  scripts/run_tests_qa.sh
Due: none

fix cleanup script
  scripts/cleanup.py
Due: none

debug
  pyproject.toml
  scripts/run_tests_qa.sh
Due: dependencies-sync
