Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

SNOW-1911008: statement reader form files and input with eager recursion detection
  src/snowflake/cli/_plugins/sql/manager.py
  tests/sql/__init__.py
  tests/sql/conftest.py
  tests/sql/test_recursive_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: SQLReader - docstrings for methods
  src/snowflake/cli/_plugins/sql/reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: recursive statement reader
  src/snowflake/cli/api/secure_path.py
  tests/sql/conftest.py
  tests/sql/test_cbsi.py
  tests/sql/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1911008: SQLReader - single stream of queries is sent to sf
  tests/sql/test_sql.py
Due: none

SNOW-1911008: code review fixes
  src/snowflake/cli/_plugins/sql/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: code review fixes
  src/snowflake/cli/_plugins/sql/source_reader.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: support for load from URL [WIP]
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/sql/source_reader.py
  src/snowflake/cli/api/secure_path.py
  tests/sql/test_source_reader.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1911008: code review fixes
  tests/sql/conftest.py
Due: none

SNOW-1911008: relase notes
  RELEASE-NOTES.md
Due: none

SNOW-1911008: support for load from URL [WIP] - win path fix
  src/snowflake/cli/_plugins/sql/reader.py
  src/snowflake/cli/_plugins/sql/source_reader.py
  tests/sql/test_recursive_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: support for load from URL [WIP] - part2
  src/snowflake/cli/_plugins/sql/source_reader.py
  tests/sql/test_source_reader.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: support for load alias (legacy compatibility)
  src/snowflake/cli/_plugins/sql/reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: cleanup comments
  src/snowflake/cli/_plugins/sql/source_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: support for load from URL [WIP] - part3
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/source_reader.py
  tests/sql/test_source_reader.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: update integration tests
  tests_integration/sql/__snapshots__/test_source_reader.ambr
  tests_integration/sql/test_source_reader.py
  tests_integration/sql/test_sql.py
Due: none

SNOW-1911008: support for load from URL [WIP] - part4
  src/snowflake/cli/_plugins/sql/source_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1911008: code review fixes
  src/snowflake/cli/_plugins/sql/source_reader.py
  tests_integration/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

working install/uninstall
  src/snowflake/cli/_app/commands_registration/commands_registration_with_callbacks.py
  src/snowflake/cli/_plugins/plugin/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snow 1911008 source command support for sql (#2100)
  RELEASE-NOTES.md
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/source_reader.py
  src/snowflake/cli/api/secure_path.py
  tests/sql/__init__.py
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/conftest.py
  tests/sql/test_source_reader.py
  tests/sql/test_sql.py
  tests_integration/sql/__init__.py
  tests_integration/sql/__snapshots__/test_source_reader.ambr
  tests_integration/sql/__snapshots__/test_sql.ambr
  tests_integration/sql/test_source_reader.py
  tests_integration/sql/test_sql.py
  tests_integration/sql/test_sql_templating.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Solution
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/utils.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/__snapshots__/test_streamlit_entity.ambr
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_entity.py
  tests/test_data/projects/example_streamlit_multiple_v2/app_1.py
  tests/test_data/projects/example_streamlit_multiple_v2/app_2.py
  tests/test_data/projects/example_streamlit_multiple_v2/snowflake.yml
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

adjust messages
  src/snowflake/cli/_plugins/plugin/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

notebooks
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/api/entities/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix stage sync utils
  src/snowflake/cli/api/entities/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc
  .pre-commit-config.yaml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/lexer.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1282073: repl poc - multiline edit
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc 2
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
  tests/__snapshots__/test_repl.ambr
  tests/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_manager.py
  tests_common/conftest.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - syntax highlighting
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - history is back
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] update command help texts
  src/snowflake/cli/_plugins/dbt/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] add run_async option
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] use SecurePath
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/secure_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] check if dbt project exists before deploying
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1890085] use object plugin for listing dbt projects
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1980772: move detect env vars
  output/bundle/streamlit/main.py
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/test_snowsql_env_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: move helpers to separate modules
  src/snowflake/cli/_plugins/helpers/check_vars.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/conn_import_helpers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: build vars mapping - part 1
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: command for checking variables
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/test_snowsql_env_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
