Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

fixup! fixup! Remove old driver source code completly
  .github/workflows/ud-manual-tests.yaml
  pyproject.toml
Due: dependencies-sync

Fix CVE-2026-0994: bump protobuf lower bound to 5.29.6 (#2785)
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

fix: escape glob special chars in directory paths during stage copy (#2805)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add support for computed defaults (#2802)
  src/snowflake/cli/api/project/schemas/template.py
  tests/test_init.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "feat: [SNOW-3017505] update python connector version (#2753)"
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-3198917 DCM Plugin respects the format option (#2803)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/api/output/types.py
  tests/conftest.py
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump version to v3.16.0-rc1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3066960 Improved help for DCM commands (#2818)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_object.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: lock uv version to avoid drift between environments
  pylock.toml
  pyproject.toml
Due: dependencies-sync

SNOW-2326969 Use lighter blue text color in DCM (#2816)
  src/snowflake/cli/_plugins/dcm/styles.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: [NOSNOW] update release notes
  RELEASE-NOTES.md
Due: none

snow __app
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

validate command
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixes
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

open command
  src/snowflake/cli/_plugins/apps/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fqn
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: [NOSNOW] update release notes (#2819)
  RELEASE-NOTES.md
Due: none

Bump version to v3.16.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: render Jinja blocks before splitting on semicolons (#2650)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_sql.py
  tests_integration/sql/test_sql_templating.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: update Jinja for-loop test to expect nested MultipleResults format
  tests_integration/sql/test_sql_templating.py
Due: none

fixup! fixup! fixup! Remove old driver source code completly
  pyproject.toml
Due: dependencies-sync

fix: [SNOW-3251927] more defensive cleanup of db, schema, role after integration tests
  .gitignore
  tests_integration/snowflake_connector.py
Due: none

pr comments
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps validate, bundle and open commands (#2820)
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3251927] more defensive cleanup of db, schema, role after … (#2821)
  .gitignore
  tests_integration/snowflake_connector.py
Due: none

Rename no_prompt_exit option to no_prompt_exit_repl
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Also get no_prompt_exit option from env var or config
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add no prompt exit option to repl
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update test_no_prompt_exit_repl tests
  tests/sql/test_repl.py
Due: none

Use get_config_bool_value and default envvar for no_prompt_exit_repl
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add test for no_prompt_exit_repl option
  tests/sql/test_repl.py
Due: none

Clarify no_prompt_exit_repl option help
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

simplify get url query
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

ignore artifacts
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/api/artifacts/test_bundle_map.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

image repo
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_commands.py
  tests_integration/test_data/projects/snowflake_apps/snowflake.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

skip build
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
