Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Collate test
  scripts/DB.CONF.table.sql
Due: none

Collate test
  scripts/test/DB.CONF.table.sql
Due: none

Renamed Artefact
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  tests/snowpark/test_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Revert "Moved spcs compute-pool deploy to create command (#2015)"
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/test_compute_pool.py
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Flags spelling fixes
  RELEASE-NOTES.md
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

snapshot update
  tests/__snapshots__/test_sql.ambr
Due: none

Flags spelling fixes (#2050)
  RELEASE-NOTES.md
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Adjust messages according to Editorial feedback
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Adjust messages according to Editorial feedback (#2052)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "Image repository model in snowflake yml (#2004)"
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/image_repository/image_repository_entity.py
  src/snowflake/cli/_plugins/spcs/image_repository/image_repository_entity_model.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/project/definition_helper.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/spcs/test_image_repository.py
  tests/test_data/projects/spcs_image_repository/snowflake.yml
  tests/test_data/projects/spcs_multiple_image_repositories/snowflake.yml
  tests_integration/spcs/test_image_repository.py
  tests_integration/spcs/testing_utils/image_repository_utils.py
  tests_integration/test_data/projects/spcs_image_repository/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "Added snow spcs compute-pool deploy command (#2001)"
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_compute_pool.py
  tests/test_data/projects/spcs_compute_pool/snowflake.yml
  tests/test_data/projects/spcs_multiple_compute_pools/snowflake.yml
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
  tests_integration/test_data/projects/spcs_compute_pool/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "Added snow spcs service deploy command (#2026)"
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  src/snowflake/cli/_plugins/spcs/services/service_project_paths.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_services.py
  tests/test_data/projects/spcs_multiple_services/snowflake.yml
  tests/test_data/projects/spcs_multiple_services/spec.yml
  tests/test_data/projects/spcs_service/snowflake.yml
  tests/test_data/projects/spcs_service/spec.yml
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_data/projects/spcs_service/snowflake.yml
  tests_integration/test_data/projects/spcs_service/spec.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after conflicts
  RELEASE-NOTES.md
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
Due: none

Tackle unhandled errors from NA dashboard
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Tackle unhandled errors from NA dashboard (#2053)
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Renamed Artefact (#2048)
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  tests/snowpark/test_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

release notes update
  RELEASE-NOTES.md
Due: none

version update
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Release notes update (#2054)
  RELEASE-NOTES.md
Due: none

Typo fix in generated docs
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Typo fix in generated docs
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Change workflow
  .github/workflows/jira_issue.yml
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Typo fix in generated docs (#2056)
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Community issues workflow update (#2057)
  .github/workflows/jira_issue.yml
Due: none

Moved back SPCS tests to integration tests
  .github/workflows/test_integration_spcs.yaml
  pyproject.toml
  scripts/cleanup.py
  tests_integration/spcs/test_registry.py
  tests_integration/spcs/test_services.py
Due: dependencies-sync

Moved back SPCS tests to integration tests (#2047)
  .github/workflows/test_integration_spcs.yaml
  pyproject.toml
  scripts/cleanup.py
  tests_integration/spcs/test_registry.py
  tests_integration/spcs/test_services.py
Due: dependencies-sync

Fix
  .github/workflows/jira_issue.yml
Due: none

Snowpark describe fix
  tests_integration/test_snowpark.py
Due: none

Snowpark describe fix (#2063)
  tests_integration/test_snowpark.py
Due: none

Fixed model_fields in model
  src/snowflake/cli/api/project/schemas/updatable_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Updated sorting commands in Typer 0.13+
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_app/commands_registration/command_plugins_loader.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_flags.ambr
  tests/object/__snapshots__/test_object.ambr
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/streamlit/__snapshots__/test_commands.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
