Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Update release notes for 3.24.0
  RELEASE-NOTES.md
Due: none

Bump version to v3.24.0-rc0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: fix 3.24.0 release notes
  RELEASE-NOTES.md
Due: none

Bump version to v3.24.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.24.1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM projects: the `--env-file`/`-e` option gated by feature flag (#146)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: bump 3.24.1 release notes
  RELEASE-NOTES.md
Due: none

chore: fix 3.24.1
  RELEASE-NOTES.md
Due: none

jw/SNOW-3899485 extend snow connection add flags (#145)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: add dev-platform-dcm-waw as codeowners of the DCM plugin (#153)
  .github/CODEOWNERS
Due: none

Point UD install URL at renamed drivers repo (#156)
  pyproject.toml
  scripts/patch_universal_driver.py
Due: dependencies-sync

Snowflake Apps: surface the instance number in `snow app events` output (#150)
  src/snowflake/cli/_plugins/apps/events.py
  tests/apps/test_events.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: page `snow app events` past the inline 500-record cap (#157)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/events.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(dcm): parse manifest assets section into the internal model (#128)
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(dcm): upload manifest-declared asset files to the stage (#129)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM projects: `preview`, `refresh`, and `test` commands gated by feature flag (#158)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3445886: clean up --env-file help text, log resolved env var names (#162)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/env.py
  tests/dcm/test_env.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3820764: Fix streamlit deploy crash when replacing legacy apps (#104)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(apps): pre-check per-account URL cert for CNG apps (#148)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NOSNOW] upgrade GitPython to 3.1.58 (#166)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-3947554 feat: add a skill for upgrading CLI package (#167)
  .claude/skills/upgrade-package/SKILL.md
  .github/workflows/test_integration.yaml
  CLAUDE.md
Due: none

SNOW-3947554 feat: add a skill for upgrading CLI package (#167)
  .github/workflows/test_integration.yaml
Due: none

fix(spcs): preserve '$' in FQN job names when polling remote-build status (#137)
  src/snowflake/cli/_plugins/spcs/services/remote_build_manager.py
  tests/spcs/test_remote_build.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

NO-SNOW allow setting default for local only (#168)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: deploy targets from app.yml (#149)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Additional bug fixes
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_commands.py
  tests/feature/test_manager.py
  tests/feature/test_replan_idempotency.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
