Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

small_refactor
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2101016] check if project exists before adding new version
  src/snowflake/cli/_plugins/project/commands.py
  tests/dcm_project/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

date -> datetime
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  tests_integration/conftest.py
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

debug workflow
  pyproject.toml
Due: dependencies-sync

test: [SNOW-2101016] add integration test
  tests_integration/test_dcm_project.py
  tests_integration/test_utils.py
Due: none

test fix
  scripts/cleanup.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test fix
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix unit test
  tests/sql/test_snowsql_commands.py
Due: none

feat: [SNOW-2101016] check if project exists before adding new version (#2285)
  src/snowflake/cli/_plugins/project/commands.py
  tests/dcm_project/test_commands.py
  tests_integration/test_dcm_project.py
  tests_integration/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Solution
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/conftest.py
  tests/snowpark/test_snowpark_entity.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snow 2101032 add date filters to query command (#2286)
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  tests/sql/test_snowsql_commands.py
  tests_integration/conftest.py
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
  tests_integration/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2102782] support threads in profiles.yaml
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project/profiles.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.8.0-rc3
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2100677: fix single transaction for stdin and files (#2278)
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  tests_integration/test_single_transaction_autocommit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix deprecation message for enable_release_channels feature flag (#2281)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests_integration/nativeapp/test_release_channels.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fix
  tests_integration/test_snowpark.py
Due: none

feat: [SNOW-2102782] support threads in profiles.yaml (#2291)
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project/profiles.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fix
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_services.py
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update release notes
  RELEASE-NOTES.md
Due: none

SNOW-2097298: Add --private-link flag to the snow spcs image-registry url command (#2283)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/image_registry/commands.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_registry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add configuration to project execute command
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Artifact repository - post bug-bash fixes (#2284)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/conftest.py
  tests/snowpark/test_snowpark_entity.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

example project with multiple configurations
  tests_integration/test_data/projects/dcm_project_multiple_configurations/file_a.sql
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/snowflake.yml
Due: none

Snow-2011529 Fix for spcs metrics (#2289)
  RELEASE-NOTES.md
  scripts/cleanup.py
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_services.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/spcs/spec/spec.yml
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Cherrypicks v3.8.0 rc3 (#2293)
  RELEASE-NOTES.md
  pyproject.toml
  scripts/cleanup.py
  snyk/requirements.txt
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  tests/dcm_project/test_commands.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/conftest.py
  tests/snowpark/test_snowpark_entity.py
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_services.py
  tests/sql/test_snowsql_commands.py
  tests_integration/conftest.py
  tests_integration/nativeapp/test_release_channels.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/spcs/spec/spec.yml
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
  tests_integration/sql/test_snowsql_commands.py
  tests_integration/test_dcm_project.py
  tests_integration/test_single_transaction_autocommit.py
  tests_integration/test_snowpark.py
  tests_integration/test_utils.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

convert timestamp to integer
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

integration tests
  tests_integration/sql/test_snowsql_commands.py
Due: none

fix unit tests
  tests/sql/test_snowsql_commands.py
Due: none

fix integration tests
  tests_integration/sql/__snapshots__/test_snowsql_commands.ambr
  tests_integration/sql/test_snowsql_commands.py
Due: none

limit workflow
  pyproject.toml
Due: dependencies-sync

add sleep to test
  tests_integration/sql/test_snowsql_commands.py
Due: none

add integration test
  tests_integration/test_data/projects/dcm_project_multiple_configurations/file_a.sql
  tests_integration/test_dcm_project.py
Due: none
