Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-2306184: config refactor - separate parsing from reading and move history handling logic to own class
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/constants.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/dict_utils.py
  src/snowflake/cli/api/config_ng/merge_operations.py
  src/snowflake/cli/api/config_ng/parsers.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/source_factory.py
  src/snowflake/cli/api/config_ng/source_manager.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/api/test_config_provider.py
  tests/config_ng/test_constants.py
  tests/config_ng/test_merge_operations.py
  tests/config_ng/test_parsers.py
  tests/config_ng/test_snowsql_variables.py
  tests/config_ng/test_sources.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - clean tmp files
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_private_key_cleanup.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - allow empty connections test fix
  tests/config_ng/test_connection_replacement.py
Due: none

SNOW-2306184: config refactor - test fix 2
  src/snowflake/cli/api/config_provider.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - improve connections env parsing
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_env_parsing.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - ensure file permissions checks
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/conftest.py
  tests/config_ng/test_sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - value masking for ResolutionHistory
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/masking.py
  src/snowflake/cli/api/config_ng/presentation.py
  tests/config_ng/test_resolution_logger.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - top level conn params
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/api/config_provider.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - try_cast_to_bool compatibility added
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/test_configuration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - ensure file permissions checks - plugins test update
  tests_integration/conftest.py
  tests_integration/plugin/test_broken_plugin.py
  tests_integration/plugin/test_failing_plugin.py
  tests_integration/plugin/test_override_by_external_plugins.py
Due: none

SNOW-2306184: config refactor - test fix
  tests_e2e/test_error_handling.py
Due: none

SNOW-2306184: config refactor - in memory pk
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/config_ng/test_private_key_cleanup.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - remove tomli conditional import
  src/snowflake/cli/api/config_ng/parsers.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - remove comments
  src/snowflake/cli/api/config_ng/parsers.py
  src/snowflake/cli/api/config_ng/presentation.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_ng/telemetry_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - oauth typo
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - thread safe singleton
  src/snowflake/cli/api/config_provider.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - variables merge
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_snowsql_variables.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - Release Notes
  RELEASE-NOTES.md
Due: none

SNOW-2306184: config refactor - connections.toml legacy behaviour
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_configuration.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - silent exceptions logged as warning with sanitisation 2
  src/snowflake/cli/api/config_ng/sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - move from Literal to Enum
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/constants.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/test_config_value.py
  tests/config_ng/test_constants.py
  tests/config_ng/test_resolution_logger.py
  tests/config_ng/test_resolver_logging.py
  tests/config_ng/test_sources.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - track resolution history only when requested
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/observers.py
  src/snowflake/cli/api/config_ng/presentation.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_ng/telemetry_integration.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_connection_replacement.py
  tests/config_ng/test_resolution_logger.py
  tests/config_ng/test_sources.py
  tests/config_ng/test_telemetry_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - SnowSQL default fallback
  src/snowflake/cli/api/config_ng/parsers.py
  tests/config_ng/test_parsers.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - track resolution history only when requested - fix rebase
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - track resolution history only when requested - fix win tests
  tests/config_ng/conftest.py
  tests/config_ng/test_resolution_logger.py
Due: none

chore: [SNOW-2449382] ignore ref_template again
  src/snowflake/cli/_app/dev/docs/project_definition_generate_json_schema.py
Due: avoid-snowcli, use-local-requirements-model

Jw/snow 2449382 upgrade pydantic (#2710)
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/dev/docs/project_definition_generate_json_schema.py
Due: avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-2306184: config refactor - asyns queries retries
  tests_integration/sql/test_async_queries.py
Due: none

chore: [NOSNOW] pin hatch version in build scripts
  scripts/packaging/Dockerfile
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/win/build_installer.bat
  scripts/packaging/win/build_snowflake_cli.bat
Due: none

chore: [NOSNOW] pin hatch version in build scripts (#2712)
  scripts/packaging/Dockerfile
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/win/build_installer.bat
  scripts/packaging/win/build_snowflake_cli.bat
Due: none

Bump version to v3.14.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: [NOSNOW] use command-line as adjective
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/exceptions.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

docs: [NOSNOW] use command-line as adjective (#2711)
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/exceptions.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2805230: silent output handling - cr improvements
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reformat test_services.py
  tests/spcs/test_services.py
Due: none

SNOW-2306184: ms fixes p2
  tests/spcs/test_services.py
Due: none

SNOW-2306184: reorganize imports 2
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
