Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Add latest version check (#1553)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Correctly enact actions
  src/snowflake/cli/_plugins/workspace/entity_commands.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/actions/lib.py
  src/snowflake/cli/api/entities/application_package/entity.py
  src/snowflake/cli/api/entities/parameters.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix import
  src/snowflake/cli/_plugins/workspace/entity_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Move EntityBase back to common
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/entity_base.py
  src/snowflake/cli/api/project/schemas/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove unused "declaration"
  src/snowflake/cli/api/entities/actions/__init__.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test a test with tracing
  tests_common/deflake.py
  tests_integration/conftest.py
  tests_integration/nativeapp/test_init_run.py
Due: none

Use dataclass
  tests_common/deflake.py
Due: none

run a few
  pyproject.toml
  tests_common/deflake.py
Due: dependencies-sync

Fix version command discovery
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/teardown_processor.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/_plugins/workspace/entity_commands.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/actions/__init__.py
  src/snowflake/cli/api/entities/actions/lib.py
  src/snowflake/cli/api/entities/application_package/entity.py
  src/snowflake/cli/api/entities/application_package/version_create.py
  src/snowflake/cli/api/entities/application_package/version_drop.py
  src/snowflake/cli/api/entities/application_package/version_list.py
  src/snowflake/cli/api/entities/common.py
  tests/workspace/test_application_package_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Finish version_create command params
  src/snowflake/cli/api/entities/application_package/version_create.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

integration tests
  tests_integration/nativeapp/test_init_run.py
  tests_integration/test_data/projects/integration_external/app/README.md
  tests_integration/test_data/projects/integration_external/app/manifest.yml
  tests_integration/test_data/projects/integration_external/app/setup.sql
  tests_integration/test_data/projects/integration_external/package/001-shared.sql
  tests_integration/test_data/projects/integration_external/package/002-shared.sql
  tests_integration/test_data/projects/integration_external/snowflake.local.yml
  tests_integration/test_data/projects/integration_external/snowflake.yml
  tests_integration/test_data/projects/integration_external_v2/app/README.md
  tests_integration/test_data/projects/integration_external_v2/app/manifest.yml
  tests_integration/test_data/projects/integration_external_v2/app/setup.sql
  tests_integration/test_data/projects/integration_external_v2/package/001-shared.sql
  tests_integration/test_data/projects/integration_external_v2/package/002-shared.sql
  tests_integration/test_data/projects/integration_external_v2/snowflake.local.yml
  tests_integration/test_data/projects/integration_external_v2/snowflake.yml
Due: none

Workspaces application - deploy action (#1558)
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  src/snowflake/cli/_plugins/nativeapp/same_account_install_method.py
  src/snowflake/cli/_plugins/workspace/action_context.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/application_entity.py
  src/snowflake/cli/api/entities/application_package_entity.py
  src/snowflake/cli/api/entities/utils.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/utils.py
  tests/workspace/test_application_package_entity.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/test_data/projects/integration_external/app/README.md
  tests_integration/test_data/projects/integration_external/app/manifest.yml
  tests_integration/test_data/projects/integration_external/app/setup.sql
  tests_integration/test_data/projects/integration_external/package/001-shared.sql
  tests_integration/test_data/projects/integration_external/package/002-shared.sql
  tests_integration/test_data/projects/integration_external/snowflake.local.yml
  tests_integration/test_data/projects/integration_external/snowflake.yml
  tests_integration/test_data/projects/integration_external_v2/app/README.md
  tests_integration/test_data/projects/integration_external_v2/app/manifest.yml
  tests_integration/test_data/projects/integration_external_v2/app/setup.sql
  tests_integration/test_data/projects/integration_external_v2/package/001-shared.sql
  tests_integration/test_data/projects/integration_external_v2/package/002-shared.sql
  tests_integration/test_data/projects/integration_external_v2/snowflake.local.yml
  tests_integration/test_data/projects/integration_external_v2/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! Unified testing utils, part 1
  tests_integration/testing_utils/__init__.py
Due: none

Treat 1.0 and 1.1 equally
  src/snowflake/cli/api/project/definition_conversion.py
  tests/workspace/__snapshots__/test_manager.ambr
  tests/workspace/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Append username template for v1.0 PDFs
  src/snowflake/cli/api/project/definition_conversion.py
  tests/workspace/__snapshots__/test_manager.ambr
  tests/workspace/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Don't need definition version
  src/snowflake/cli/api/project/definition_conversion.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Use ApplicationPackageEntity.deploy for both PDF versions
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/api/entities/application_package_entity.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

app drop action
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/teardown_processor.py
  src/snowflake/cli/api/entities/application_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove old stuff
  src/snowflake/cli/plugins/lsp/interface.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update unit tests
  tests/nativeapp/test_teardown_processor.py
  tests/nativeapp/utils.py
Due: none

wip
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/api/sql_execution.py
  tests_common/deflake.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Re-add missing print_diff param
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/api/entities/application_package_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

initial changes
  setup.sql
  tests/nativeapp/factories.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_my_factory.py
  tests/testing_utils/files_and_dirs.py
Due: none

integration tests
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/entities/application_entity.py
  tests_integration/nativeapp/test_teardown.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1653357 Use ApplicationPackageEntity.deploy for both PDF versions (#1571)
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/api/entities/application_package_entity.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Workspaces application - drop action (#1572)
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/teardown_processor.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/entities/application_entity.py
  tests/nativeapp/test_teardown_processor.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/test_teardown.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Slash in git execute fix
  scr 1.sql
Due: none

fixup! Add override tag support in mixins
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1643030 Append username template for v1.0 PDFs (#1556)
  src/snowflake/cli/api/project/definition_conversion.py
  tests/workspace/__snapshots__/test_manager.ambr
  tests/workspace/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove pydantic models from factory
  tests/nativeapp/factories.py
  tests/nativeapp/test_my_factory.py
Due: none

Add support for 'comment' field in Streamlit app deployment
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity_model.py
  src/snowflake/cli/api/project/schemas/streamlit/streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add artifacts factory
  tests/nativeapp/factories.py
  tests/nativeapp/test_my_factory.py
Due: none

add skip_write and return_string
  tests/nativeapp/factories.py
  tests/workspace/test_manager.py
Due: none

Added unit tests for 'comment' support in Streamlit app deployment
  tests/project/__snapshots__/test_config.ambr
  tests/streamlit/test_streamlit_manager.py
Due: none

revert some files
  README.md
  setup.sql
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_project_model.py
  tests/project/test_config.py
Due: none

Add override tag support in mixins (#1568)
  src/snowflake/cli/api/project/definition.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/utils/definition_rendering.py
  tests/api/utils/test_override_tag.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
