Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

fixup! fixup! Add --no-interactive option to connection add
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! Add --no-interactive option to connection add
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add src/snowflake/cli/api/project/definition_conversion.py to shared ownership (#1836)
  .github/CODEOWNERS
Due: none

Move same_identifier to facade file to work around CO requirements temporarily
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/project/util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add handle_unclassified_error to get_account_event_table
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --no-interactive option to connection add (#1842)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/commands.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove limitation on nested phases/steps
  src/snowflake/cli/api/console/console.py
  tests/api/console/test_cli_console_output.py
Due: check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove unused error
  src/snowflake/cli/api/console/console.py
Due: check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add integ test for validate with artifacts processor
  tests_integration/nativeapp/test_validate.py
Due: none

Extract SQL facade use methods to common method, add use_schema (#1838)
  src/snowflake/cli/_plugins/nativeapp/sf_facade_constants.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

draft PR for feedback on instrumentation
  src/snowflake/cli/_app/loggers.py
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  src/snowflake/cli/api/entities/utils.py
  tests_integration/nativeapp/test_feature_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove changes on loggers
  src/snowflake/cli/_app/loggers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

extract enum value for proper key to message dict
  tests_integration/nativeapp/test_feature_metrics.py
Due: none

add --label to version create
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update tests
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_version_create.py
  tests/nativeapp/test_version_drop.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move create version and patch to facade
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update docs generations
  src/snowflake/cli/_app/dev/docs/generator.py
  src/snowflake/cli/_app/dev/docs/project_definition_docs_generator.py
  src/snowflake/cli/_app/dev/docs/project_definition_generate_json_schema.py
  src/snowflake/cli/_app/dev/docs/templates/definition_description.rst.jinja2
  tests/test_docs_generation_output.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove TODOs add comments
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Log Streaming
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

unit test to test the streaming and incompatible_flags
  tests/spcs/test_services.py
Due: none

new deduplication logic
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dummy commit
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: none

log streaming 1.0
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove previous logs and update snapshot
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix comment
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Incompatible parameters handling
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

integration tests
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: none

fix unit tests
  tests/spcs/test_services.py
Due: none

Add template conversion to release notes
  RELEASE-NOTES.md
Due: none

SNOW-1772200 Add template conversion to release notes (#1850)
  RELEASE-NOTES.md
Due: none

add tests for version create, update snapshot
  tests/nativeapp/test_version_create.py
  tests_integration/nativeapp/__snapshots__/test_version.ambr
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

write custom decorator for spans, add tests
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/entities/utils.py
  tests_integration/nativeapp/test_command_metric_counters.py
  tests_integration/nativeapp/test_command_metric_spans.py
  tests_integration/nativeapp/test_feature_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixed comments
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

integration test comments fix
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
Due: none

fix up prompts
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

extract version resolution logic
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

comment fixed
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

resolve cleanup comments
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
