Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Jw/snow 3740721 arcticowl initial setup (#37)
  .gitignore
  .pre-commit-config.yaml
Due: none

Merge pull request #34 from snowflake-eng/gbloom/snowflake-apps-drop-created-stage-after-build
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Merge pull request #41 from snowflake-eng/gbloom/snowflake-apps-fix-windows-unicode-output
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update snowflake-connector-python to 4.7.0 (SNOW-3735468) (#44)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

chore: skip running tests when ony .ai/review gets modified (#46)
  .github/workflows/changes.yaml
Due: none

NO-SNOW improve workflow for internal development
  .github/workflows/changes.yaml
Due: none

Jw/snow 3718035 spcs permission bypass (#45)
  RELEASE-NOTES.md
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/secure_utils.py
  tests/config_ng/test_sources.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Revert "Update snowflake-connector-python to 4.7.0 (SNOW-3735468)" (#50)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Add E2E PR reviewer eval test cases (#43)
  .pre-commit-config.yaml
Due: none

Bump release notes 3.22.0 (#51)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: drop code stage before recreate only when it exists (#56)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: try to warm up spcs services upfront (#63)
  tests_integration/conftest.py
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

SNOW-3659937: dbt deploy — support dbt_projects_profiles.yml precedence (#35)
  .github/workflows/lint.yaml
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dbt/conftest.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: add --watch to snow app open (#65)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3755161 spcs service events: return service- and instance-level events (#57)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_common.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3766285: Fix streamlit redeploy incorrectly UNSETting inherited schema tags
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: context-aware help for `snow app` (#67)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/test_snow_typer.py
  tests/nativeapp/test_smart_app_help.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: telemetry span improvements and span error codes (#61)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/api/metrics.py
  tests/api/test_metrics.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

docs: fix section about installing from homebrew
  README.md
Due: none

chore: upgrade snowflake-connector-python
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

chore: upgrade snowflake-snowpark-python
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Bump release notes 3.23.0
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: update dbt deploy docs about --force flag
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3511547: add non-blocking UD integration job to PR checks (#81)
  .github/workflows/test_integration.yaml
  pyproject.toml
  tests_integration/test_stage.py
Due: dependencies-sync

Snowflake Apps: remove legacy SPCS service flows (#89)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dcm changeset contains alter details (#103)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove flaky test_list_with_in_account_flag integration test (#111)
  tests_integration/test_object.py
Due: none

`snow dcm plan` now supports the `--delta` flag (#100)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Parallelize DCM stage upload (#92)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
  tests_integration/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Promote DCM to GA (#109)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_performance.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3445886: add environment variable and secret support for DCM projects (#106)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/env.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  src/snowflake/cli/api/sql_execution.py
  tests/api/test_sql_execution.py
  tests/dcm/test_commands.py
  tests/dcm/test_env.py
  tests/dcm/test_manager.py
  tests/dcm/test_models.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: expand bare USER$ to caller's personal database in FQN (#68)
  RELEASE-NOTES.md
  src/snowflake/cli/api/identifiers.py
  tests/api/test_fqn.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: apps commands resolve bare USER$ personal database via FQN (#69)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(spcs): add remote-build, remote-build-status, and remote-build-history CLI commands (#97)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/remote_build_manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_remote_build.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat(spcs): pass validation_profile on remote-build (#120)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/remote_build_manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_remote_build.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Run unit coverage on a single matrix cell + profile slow tests (#112)
  .github/workflows/test.yaml
  pyproject.toml
Due: dependencies-sync

Use uv as the Hatch installer for the default env (#114)
  pyproject.toml
Due: dependencies-sync

feat: add `snow helpers check-version` command (#117)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/app/test_version_check.py
  tests/helpers/test_check_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dbt: add `snow dbt copy` alias + writeback and auto-compile options (#102)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

create notebook code command - create - list - delete
  src/snowflake/cli/_plugins/notebook/code/__init__.py
  src/snowflake/cli/_plugins/notebook/code/commands.py
  src/snowflake/cli/_plugins/notebook/code/manager.py
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/snowflake-cli.log
  tests/notebook/code/__init__.py
  tests/notebook/code/test_code_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
