Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

update year
  src/snowflake/cli/_plugins/notebook/code/__init__.py
  src/snowflake/cli/_plugins/notebook/code/commands.py
  src/snowflake/cli/_plugins/notebook/code/manager.py
  tests/notebook/code/__init__.py
  tests/notebook/code/test_code_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

alter
  src/snowflake/cli/_plugins/notebook/code/commands.py
  src/snowflake/cli/_plugins/notebook/code/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/notebook/code/test_code_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move to bundle
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/bundle/__init__.py
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  src/snowflake/cli/_plugins/bundle/plugin_spec.py
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/__init__.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

execute
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support execute arg
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

async
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create from local
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

status
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

cancel
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

change argument to the new format
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor history, add database and schema filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add entrypoint filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add start time filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add type filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add status filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add execution_name filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle execute add execution-name
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: stop --save-output from masking the real PLAN error
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3715941 Add evaluation system GHA workflow (#107)
  .github/scripts/eval/check_changed.py
  .github/scripts/eval/ci_compare.py
  .github/scripts/eval/compare.py
  .github/scripts/eval/prompt_spec.py
  .github/scripts/eval/scorer.py
  .github/workflows/cortex_eval.yaml
  .github/workflows/cortex_review.yaml
  scripts/mirroring/copybara/copy.bara.sky
  tests/eval/test_check_changed.py
  tests/eval/test_ci_compare.py
  tests/eval/test_scorer.py
Due: none

docs: update dbt deploy docs about --force flag
  RELEASE-NOTES.md
  docs/dcm/README.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/dependencies.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  src/snowflake/cli/_plugins/dcm/reporters/test.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_progress.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/__snapshots__/test_refresh_reporter.ambr
  tests/dcm/test_reporters/__snapshots__/test_test_reporter.ambr
  tests/dcm/test_reporters/test_analyze_reporter.py
  tests/dcm/test_reporters/test_dependencies_reporter.py
  tests/dcm/test_reporters/test_plan_reporter.py
  tests/dcm/test_reporters/test_refresh_reporter.py
  tests/dcm/test_reporters/test_test_reporter.py
  tests/dcm/test_reporters/utils.py
  tests/dcm/test_utils.py
  tests/stage/test_stage.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3511547: add non-blocking UD integration job to PR checks (#81)
  .github/workflows/test_integration.yaml
  pyproject.toml
  tests_integration/test_stage.py
Due: dependencies-sync

Snowflake Apps: remove legacy SPCS service flows (#89)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dcm changeset contains alter details (#103)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove flaky test_list_with_in_account_flag integration test (#111)
  tests_integration/test_object.py
Due: none

`snow dcm plan` now supports the `--delta` flag (#100)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Parallelize DCM stage upload (#92)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
  tests_integration/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Promote DCM to GA (#109)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_performance.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3445886: add environment variable and secret support for DCM projects (#106)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/env.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  src/snowflake/cli/api/sql_execution.py
  tests/api/test_sql_execution.py
  tests/dcm/test_commands.py
  tests/dcm/test_env.py
  tests/dcm/test_manager.py
  tests/dcm/test_models.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: expand bare USER$ to caller's personal database in FQN (#68)
  RELEASE-NOTES.md
  src/snowflake/cli/api/identifiers.py
  tests/api/test_fqn.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: apps commands resolve bare USER$ personal database via FQN (#69)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(spcs): add remote-build, remote-build-status, and remote-build-history CLI commands (#97)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/remote_build_manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_remote_build.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat(spcs): pass validation_profile on remote-build (#120)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/remote_build_manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_remote_build.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Run unit coverage on a single matrix cell + profile slow tests (#112)
  .github/workflows/test.yaml
  pyproject.toml
Due: dependencies-sync

Use uv as the Hatch installer for the default env (#114)
  pyproject.toml
Due: dependencies-sync

feat: add `snow helpers check-version` command (#117)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/app/test_version_check.py
  tests/helpers/test_check_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dbt: add `snow dbt copy` alias + writeback and auto-compile options (#102)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3445886: address env-vars review feedback (fixes only) (#125)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/env.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/dcm/test_commands.py
  tests/dcm/test_env.py
  tests/dcm/test_models.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3445886: add --env-file support to DCM commands (#126)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/env.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_env.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Snowflake Apps: default to workspace code storage with stage fallback (#122)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
