Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

fix test?
  tests_integration/nativeapp/test_large_upload.py
Due: none

diff command help test
  src/snowflake/cli/plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mock more env
  tests_integration/nativeapp/test_large_upload.py
Due: none

Don't auto-compress
  tests_integration/nativeapp/test_large_upload.py
Due: none

Cam forgot to look at snowflake.yml
  tests_integration/nativeapp/test_large_upload.py
Due: none

Squash commits into one for easier rebase, following pluggy pattern
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/api/plugins/command/__init__.py
  src/snowflake/cli/api/sql_execution.py
  src/snowflake/cli/app/commands_registration/__init__.py
  src/snowflake/cli/app/commands_registration/builtin_plugins.py
  src/snowflake/cli/app/commands_registration/command_plugins_loader.py
  src/snowflake/cli/plugins/lsp/__init__.py
  src/snowflake/cli/plugins/lsp/commands.py
  src/snowflake/cli/plugins/lsp/manager.py
  src/snowflake/cli/plugins/lsp/plugin_spec.py
  src/snowflake/cli/plugins/nativeapp/lsp_commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Move the lsp decorator into utils in lsp
  src/snowflake/cli/plugins/lsp/commands.py
  src/snowflake/cli/plugins/lsp/manager.py
  src/snowflake/cli/plugins/lsp/utils.py
  src/snowflake/cli/plugins/nativeapp/lsp_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

If lsp is hidden then it won 't show here
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Use one version number for the lsp server as a whole, expecting that if lsp_commands are changed the version will get updated
  src/snowflake/cli/plugins/lsp/utils.py
  src/snowflake/cli/plugins/nativeapp/lsp_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Squash single integration testing commit
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/plugins/lsp/commands.py
  src/snowflake/cli/plugins/lsp/utils.py
  tests_integration/lsp/test_lsp_server.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

openApplication to be used
  tests_integration/lsp/test_lsp_server.py
Due: none

Add Factory Boy and Faker
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Factory PoC
  tests/nativeapp/factories.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_project_model.py
  tests/project/test_config.py
Due: none

wip
  tests/nativeapp/factories.py
Due: none

🍦
  src/snowflake/cli/api/feature_flags.py
  src/snowflake/cli/plugins/streamlit/manager.py
  tests/project/test_config.py
  tests/streamlit/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Mock env throughout the test
  tests_integration/nativeapp/test_large_upload.py
Due: none

Skip test_large_upload for now
  tests_integration/nativeapp/test_large_upload.py
Due: none

Address Frank's feedback
  src/snowflake/cli/plugins/stage/md5.py
  tests_integration/nativeapp/test_large_upload.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address PR feedback
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/stage/md5.py
  tests_integration/nativeapp/test_large_upload.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

ws bundle + manager
  src/snowflake/cli/api/entities/application_entity.py
  src/snowflake/cli/api/entities/application_package_entity.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/exceptions.py
  src/snowflake/cli/api/project/project_verification.py
  src/snowflake/cli/api/project/schemas/entities/application_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/application_package_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  src/snowflake/cli/plugins/workspace/commands.py
  src/snowflake/cli/plugins/workspace/manager.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Initial test for file_matches_md5sum
  tests/stage/test_md5.py
Due: none

Add a file_matches_md5sum test
  tests/stage/test_md5.py
Due: none

Solution outline
  src/snowflake/cli/api/feature_flags.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  src/snowflake/cli/api/project/schemas/entities/snowpark_entity.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/snowpark/commands.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add support for defaults in project definition file templating (#1330)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/entities/application_entity.py
  src/snowflake/cli/api/project/schemas/entities/application_package_entity.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/native_app.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/project/schemas/snowpark/callable.py
  src/snowflake/cli/api/project/schemas/updatable_model.py
  src/snowflake/cli/api/project/util.py
  src/snowflake/cli/api/rendering/jinja.py
  src/snowflake/cli/api/rendering/sql_templates.py
  src/snowflake/cli/api/utils/definition_rendering.py
  src/snowflake/cli/api/utils/models.py
  src/snowflake/cli/api/utils/templating_functions.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/api/project/schemas/test_updatable_model.py
  tests/api/test_rendering.py
  tests/api/utils/test_definition_rendering.py
  tests/api/utils/test_templating_functions.py
  tests/project/test_config.py
  tests/project/test_util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! Fix some unit test warnings
  tests/conftest.py
Due: none

Bump execution threshold for perf tests
  tests/test_performance.py
Due: none

Enable project definition 2.0 by default (#1388)
  src/snowflake/cli/api/feature_flags.py
  tests/project/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump execution threshold for perf tests (#1393)
  tests/test_performance.py
Due: none

Update Streamlit with new experimental feature (ENABLE_STREAMLIT_VERSIONED_STAGE) (#1384)
  src/snowflake/cli/api/feature_flags.py
  src/snowflake/cli/plugins/streamlit/manager.py
  tests/project/test_config.py
  tests/streamlit/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixing paths
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/snowpark_package_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Guess chunk size for multi-part md5sums to prevent unnecessary re-uploads (#1372)
  RELEASE-NOTES.md
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/stage/diff.py
  src/snowflake/cli/plugins/stage/md5.py
  tests/__snapshots__/test_help_messages.ambr
  tests/stage/test_md5.py
  tests_integration/nativeapp/test_large_upload.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added --token-file-path for connection add command
  src/snowflake/cli/api/config.py
  src/snowflake/cli/plugins/connection/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added --token-file-path for connection add command (#1395)
  src/snowflake/cli/api/config.py
  src/snowflake/cli/plugins/connection/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
