Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Snowflake Apps: add app health monitoring to `snow app events` (#127)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/events.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests/apps/test_events.py
  tests/nativeapp/test_app_flow_routing.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3723127: Add --git-commit and --git-branch flags to snow dbt deploy (#99)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3855789] add --import option to snow dbt execute (#123)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

DCM: live progress UI, refreshed formatting, and remove early-access flag
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/refresh.py
  src/snowflake/cli/_plugins/dcm/reporters/test.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_progress.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/__snapshots__/test_refresh_reporter.ambr
  tests/dcm/test_reporters/__snapshots__/test_test_reporter.ambr
  tests/dcm/test_reporters/test_refresh_reporter.py
  tests/dcm/test_reporters/test_test_reporter.py
  tests/dcm/test_reporters/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: add `snow dcm compile` command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_analyze_reporter.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: add `snow dcm dependencies` command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/dependencies.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_dependencies_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: add `snow dcm init` command
  RELEASE-NOTES.md
  docs/dcm/README.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: stabilize refresh/test snapshot tests against slow CI workers
  tests/dcm/test_commands.py
Due: none

DCM: make refresh/test snapshots OS-portable by mocking the tracker
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
Due: none

DCM: drop RELEASE-NOTES entry (early-access preview only)
  RELEASE-NOTES.md
Due: none

DCM: save rendered output and result files directly under out/
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/dependencies.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: stop --save-output from masking the real PLAN error
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: align main's deploy env-var tests and plan snapshots with the live progress UI
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
Due: none

DCM: stop --save-output from masking the real PLAN error
  RELEASE-NOTES.md
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
Due: none

Snowflake Apps: support APPLICATION SERVICE COMPUTE_RESOURCE DDL behind feature flag (#121)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  src/snowflake/cli/api/feature_flags.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3445886: address env-vars review feedback (fixes only) (#125)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/bundle/__init__.py
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  src/snowflake/cli/_plugins/bundle/plugin_spec.py
  src/snowflake/cli/_plugins/dcm/env.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/__init__.py
  tests/bundle/test_bundle_commands.py
  tests/dcm/test_commands.py
  tests/dcm/test_env.py
  tests/dcm/test_models.py
  tests/logs/snowflake-cli.log
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3445886: add --env-file support to DCM commands (#126)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/env.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_env.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Snowflake Apps: default to workspace code storage with stage fallback (#122)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create notebook code command - create - list - delete
  src/snowflake/cli/_plugins/notebook/code/__init__.py
  src/snowflake/cli/_plugins/notebook/code/commands.py
  src/snowflake/cli/_plugins/notebook/code/manager.py
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/snowflake-cli.log
  tests/notebook/code/__init__.py
  tests/notebook/code/test_code_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update year
  src/snowflake/cli/_plugins/notebook/code/__init__.py
  src/snowflake/cli/_plugins/notebook/code/commands.py
  src/snowflake/cli/_plugins/notebook/code/manager.py
  tests/notebook/code/__init__.py
  tests/notebook/code/test_code_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

alter
  src/snowflake/cli/_plugins/notebook/code/commands.py
  src/snowflake/cli/_plugins/notebook/code/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/notebook/code/test_code_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move to bundle
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/bundle/__init__.py
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  src/snowflake/cli/_plugins/bundle/plugin_spec.py
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/__init__.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

execute
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support execute arg
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

async
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create from local
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

status
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

cancel
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

change argument to the new format
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor history, add database and schema filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add entrypoint filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add start time filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bundle history add type filter
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
