Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Add native-apps team as codeowners for nativeapp test snapshots (#2882)
  .github/CODEOWNERS
Due: none

Remove overly broad __snapshots__ paths from CODEOWNERS
  .github/CODEOWNERS
Due: none

Add snowcli team as codeowner alongside native-apps on all app paths
  .github/CODEOWNERS
Due: none

feat: [SNOW-3063581] source rust
  scripts/packaging/build_darwin_package.sh
Due: none

feat: [SNOW-3063581] use 3.11 python version for building darwin packages
  scripts/packaging/build_darwin_package.sh
Due: none

debug: [SNOW-3063581] hatch verbose
  scripts/packaging/build_darwin_package.sh
Due: none

debug: [SNOW-3063581] remove -vvv
  scripts/packaging/build_darwin_package.sh
Due: none

debug: [SNOW-3063581] use python 3.11 for packaging
  pyproject.toml
Due: dependencies-sync

feat: [SNOW-3063581] handle added commit hashes to version
  scripts/packaging/python/test_cli_labs_whl.sh
  scripts/packaging/python/test_cli_whl.sh
Due: none

Add snowcli team as codeowner alongside native-apps on all app paths (#2887)
  .github/CODEOWNERS
Due: none

feat: [SNOW-3063581] migrate to new macos nodes (#2768)
  pyproject.toml
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/python/test_cli_labs_whl.sh
  scripts/packaging/python/test_cli_whl.sh
Due: dependencies-sync

Add encoding to path related operations
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/secure_utils.py
  tests/nativeapp/codegen/test_sandbox.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2457402 Unify encoding support
  src/snowflake/cli/api/encoding.py
  src/snowflake/cli/api/secure_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add unit tests
  tests/api/test_secure_path.py
  tests/test_config.py
Due: none

Add encoding warnings
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/encoding.py
  src/snowflake/cli/api/secure_path.py
  src/snowflake/cli/api/secure_utils.py
  tests/nativeapp/test_manager.py
  tests/spcs/test_registry.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Mior warning change
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix for file opened in binary mode
  src/snowflake/cli/api/secure_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add statement reader tests
  tests/sql/test_statement_reader.py
Due: none

Fixing integration tests
  src/snowflake/cli/api/secure_utils.py
  tests_integration/test_encoding.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes to unit tests
  src/snowflake/cli/api/config.py
  tests/api/test_secure_path.py
  tests/sql/test_statement_reader.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Integration test fixes
  tests_integration/test_encoding.py
Due: none

Integration tests
  tests_integration/test_encoding.py
Due: none

Fix subprocess integration test
  tests_integration/test_encoding.py
Due: none

Remove strict mode to reduce scope
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Reduce number of tests
  tests/api/test_secure_path.py
  tests_integration/test_encoding.py
Due: none

Fix
  tests_integration/test_encoding.py
Due: none

Add encoding validation
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix encoding PR review issues: DRIVER_PATH crash, fragile mocks, TOML encoding
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/api/config.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix flaky integration test by preserving existing loggers during dictConfig
  src/snowflake/cli/_app/loggers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Revert "Fix flaky integration test by preserving existing loggers during dictConfig"
  src/snowflake/cli/_app/loggers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-3383590 Fix flaky integration test by preserving existing loggers during dictConfig
  src/snowflake/cli/_app/loggers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps telemetry spans (#2873)
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Stream build and deploy logs during artifact repo deploy
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Poll logs continuously and add unit tests for log streaming
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update help message snapshot for --hide-logs flag
  tests/__snapshots__/test_help_messages.ambr
Due: none

Assert all sleep calls use 1s interval, not just the last one
  tests/apps/test_commands.py
Due: none

Add content assertions to deploy log streamer tests
  tests/apps/test_commands.py
Due: none

Clean up: proper import, nonlocal, SELECT LOG instead of SELECT *
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --hide-logs flag to disable live log streaming during deploy
  src/snowflake/cli/_plugins/apps/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
