Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

fixup! fixup! fixup! fixup! Fix tests
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! fixup! fixup! Fix tests
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Support project definition V2 in streamlit deploy command (#1369)
  src/snowflake/cli/api/project/schemas/entities/streamlit_entity.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/plugins/streamlit/commands.py
  src/snowflake/cli/plugins/streamlit/manager.py
  src/snowflake/cli/templates/default_streamlit/snowflake.yml
  tests/app/test_telemetry.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/conftest.py
  tests/streamlit/test_commands.py
  tests/test_data/projects/example_streamlit_v2/environment.yml
  tests/test_data/projects/example_streamlit_v2/pages/my_page.py
  tests/test_data/projects/example_streamlit_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_v2/streamlit_app.py
  tests/test_data/projects/streamlit_full_definition/extra_file.py
  tests_integration/conftest.py
  tests_integration/test_data/projects/streamlit_v1/environment.yml
  tests_integration/test_data/projects/streamlit_v1/pages/my_page.py
  tests_integration/test_data/projects/streamlit_v1/snowflake.yml
  tests_integration/test_data/projects/streamlit_v1/streamlit_app.py
  tests_integration/test_data/projects/streamlit_v1/utils/utils.py
  tests_integration/test_data/projects/streamlit_v2/environment.yml
  tests_integration/test_data/projects/streamlit_v2/pages/my_page.py
  tests_integration/test_data/projects/streamlit_v2/snowflake.yml
  tests_integration/test_data/projects/streamlit_v2/streamlit_app.py
  tests_integration/test_data/projects/streamlit_v2/utils/utils.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update help and snapshot
  src/snowflake/cli/plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add interval filtering to `snow app events`
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1544013 Add interval filtering to `snow app events` (#1354)
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

decouple pdf from processors
  src/snowflake/cli/plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add more tests and some refactor
  src/snowflake/cli/api/project/schemas/entities/application_entity.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/project/schemas/updatable_model.py
  src/snowflake/cli/api/project/util.py
  src/snowflake/cli/api/utils/definition_rendering.py
  src/snowflake/cli/api/utils/models.py
  src/snowflake/cli/api/utils/templating_functions.py
  tests/api/project/schemas/test_updatable_model.py
  tests/api/utils/test_definition_rendering.py
  tests/project/test_util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add missing type hint
  src/snowflake/cli/api/utils/definition_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

pass bundle context
  src/snowflake/cli/plugins/nativeapp/artifacts.py
  src/snowflake/cli/plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Drop support for Python <3.10 (#1014)
  .github/workflows/matrix.yaml
  CONTRIBUTING.md
  README.md
  RELEASE-NOTES.md
  pyproject.toml
Due: dependencies-sync

Docs generation updates. New line replace in help and docstring, changed rich markup mode to markdown, added docstring split by headers
  src/snowflake/cli/api/commands/snow_typer.py
  src/snowflake/cli/app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/app/dev/docs/templates/usage.rst.jinja2
  src/snowflake/cli/plugins/git/commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add --limit to `snow app events`
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update snapshot
  tests/__snapshots__/test_help_messages.ambr
Due: none

Cross-product parametrization
  tests/nativeapp/test_manager.py
Due: none

Fix pdf v2 integ tests
  src/snowflake/cli/api/utils/definition_rendering.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Split --limit into --first and --last
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/test_events.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add from_na_project method
  src/snowflake/cli/plugins/nativeapp/artifacts.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1544013 Add `--first` and `--last` to `snow app events` (#1370)
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/test_events.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

project root
  tests/nativeapp/test_artifacts.py
Due: none

Add `--type` and `--scope` filters
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Scope is an object, we need to filter on its name field
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add to snapshot test
  tests/__snapshots__/test_help_messages.ambr
Due: none

Update tests
  tests/nativeapp/test_manager.py
Due: none

Add integration test for --type
  tests_integration/nativeapp/test_events.py
Due: none

extract bundle context to a module
  src/snowflake/cli/plugins/nativeapp/artifacts.py
  src/snowflake/cli/plugins/nativeapp/bundle_context.py
  src/snowflake/cli/plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move get_bundle_context() to NAPM
  src/snowflake/cli/plugins/nativeapp/bundle_context.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  src/snowflake/cli/plugins/nativeapp/project_model.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
  tests/nativeapp/test_project_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

🥐
  src/snowflake/cli/api/feature_flags.py
  src/snowflake/cli/plugins/streamlit/manager.py
  tests/project/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update tests_integration/nativeapp/test_events.py
  tests_integration/nativeapp/test_events.py
Due: none

named params
  src/snowflake/cli/plugins/nativeapp/project_model.py
  tests/nativeapp/test_project_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add `--type` and `--scope` filters (#1379)
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/test_events.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Decouple project definition object from artifact processors (#1374)
  src/snowflake/cli/plugins/nativeapp/bundle_context.py
  src/snowflake/cli/plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  src/snowflake/cli/plugins/nativeapp/project_model.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
  tests/nativeapp/test_project_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add fn.get_username() and fn.clean_id() template functions
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/rendering/jinja.py
  src/snowflake/cli/api/rendering/sql_templates.py
  src/snowflake/cli/api/utils/templating_functions.py
  tests/api/test_rendering.py
  tests/api/utils/test_definition_rendering.py
  tests/nativeapp/test_post_deploy.py
  tests/project/test_config.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

🍍
  src/snowflake/cli/plugins/streamlit/manager.py
  tests/streamlit/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Enable spcs and cortex search int tests
  tests_integration/spcs/test_services.py
  tests_integration/test_cortex.py
Due: none
