Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

fix: [SNOW-2309835] dcm: wrap aliases in double quotes
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Sign MSI installer as well
  scripts/packaging/win/build_installer.bat
Due: none

fix: [SNOW-2309835] dcm: wrap aliases in double quotes (#2581)
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update scripts/packaging/win/build_installer.bat
  scripts/packaging/win/build_installer.bat
Due: none

after-merge fixes
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: none

feat: [SNOW-2254023] be more specific about dbt projects that don't exist
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Jw/snow 2254023 add support for default target (#2575)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/__snapshots__/test_dbt.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2273956] add a spinner to console api
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  tests/api/console/test_cli_console_output.py
  tests/api/console/test_console_abc.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2273956] refactor dcm create, list-deployments and drop-deployment
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2273956] respond to initial batch of comments
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  tests/api/artifacts/test_bundle_map.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

cleanup: [SNOW-2273956] remove DCMProjectEntity
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/dcm/test_project_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2273956] fix unit test
  tests/dcm/test_manager.py
Due: none

style: [SNOW-2273956] style spinner
  src/snowflake/cli/api/console/console.py
Due: check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2273956] respond to initial batch of comments
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2273956] wip: prevent redos
  src/snowflake/cli/api/artifacts/bundle_map.py
  tests/api/artifacts/test_bundle_map.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2273956] refactor dcm plan and deploy
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/constants.py
  tests/api/artifacts/test_bundle_map.py
  tests/dcm/test_commands.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1555911: Update build script to introduce new way of signing artifacts (#2582)
  scripts/packaging/win/build_installer.bat
Due: none

feat: [SNOW-2306298] improve UX of dcm commands
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/entities/utils.py
  tests/dcm/test_commands.py
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove unused command
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/codeowners-cleanup: remove nade team
  .github/CODEOWNERS
Due: none

SNOW-2295467 Reflect renaming `version` to `deployment` in DCM (#2560)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/codeowners-cleanup: remove nade team (#2584)
  .github/CODEOWNERS
Due: none

mraba/bump-typer: bump typer to 0.17.3
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  tests/__snapshots__/test_help_messages.ambr
Due: dependencies-sync

mraba/bump-typer: bump typer to 0.17.3
  RELEASE-NOTES.md
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
Due: none

mraba/bump-typer: bump typer to 0.17.3
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Add spec generation utils Register the remote dev plugin and add remote dev container spec
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/__init__.py
  tests/remote/test_container_spec.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Register remote dev plugin
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/remote/__init__.py
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/plugin_spec.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

enable remote ssh connection
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add basic remote commands
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/bump-typer: bump typer to 0.17.3 (#2585)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: dependencies-sync

SNOW-2280069: resolve ctx.var in JINJA templating
  src/snowflake/cli/api/rendering/sql_templates.py
  tests/sql/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2280069: resolve ctx.var in JINJA templating
  RELEASE-NOTES.md
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
