Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Update description of runtime name & compute pool
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add SPCS runtime v2 support for Streamlit apps
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add comprehensive tests for SPCS runtime v2 feature
  tests/streamlit/test_streamlit_entity.py
  tests/test_data/projects/streamlit_spcs_v2/pages/my_page.py
  tests/test_data/projects/streamlit_spcs_v2/requirements.txt
  tests/test_data/projects/streamlit_spcs_v2/snowflake.yml
  tests/test_data/projects/streamlit_spcs_v2/streamlit_app.py
  tests/test_data/projects/streamlit_spcs_v2/utils/utils.py
Due: none

add integration test for SPCS runtime v2 functionality
  tests_integration/test_data/projects/streamlit_spcs_v2/pages/my_page.py
  tests_integration/test_data/projects/streamlit_spcs_v2/requirements.txt
  tests_integration/test_data/projects/streamlit_spcs_v2/snowflake.yml
  tests_integration/test_data/projects/streamlit_spcs_v2/streamlit_app.py
  tests_integration/test_data/projects/streamlit_spcs_v2/utils/utils.py
  tests_integration/test_streamlit.py
Due: none

Fix integration test external_access_integrations
  tests_integration/test_data/projects/streamlit_spcs_v2/snowflake.yml
Due: none

Fix Compute Pool Name in Integration Test
  tests_integration/test_data/projects/streamlit_spcs_v2/snowflake.yml
  tests_integration/test_streamlit.py
Due: none

SNOW-2258879 show compute pool instance families
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_compute_pool.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes
  RELEASE-NOTES.md
Due: none

SNOW-2259409: delete user only if is federated user
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2259409: fix typo
  src/snowflake/cli/_plugins/auth/oidc/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2256576] dbt deploy - handle quoted names gracefully (#2530)
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2259409: delete user only if is federated user (#2534)
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix logging f-string errors (G004) in container runtime commands and manager
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  tests/container_runtime/README.md
  tests/container_runtime/test_commands.py
  tests_integration/tests_using_container_services/test_container_runtime.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2261820] dcm: use temp stages to store project files
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.11.0-rc1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/rc-311-update: fix release notes for oidc (#2529)
  RELEASE-NOTES.md
Due: none

SNOW-2176180: renamed setup to create-user, dropped list in snow auth oidc
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update integration tests
  tests_integration/test_oidc.py
Due: none

SNOW-2176180: support for workload identity provider in snow connection add
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: fix typos
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: fix typos 2
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: renamed federated-user to user-name and RELEASE-NOTES update
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_manager.py
  tests_integration/test_oidc.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: remove redundant check
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add ssh key generation
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  src/snowflake/cli/_plugins/container_runtime/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: pre release connector test
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: restore dependencies
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: add connection option workload-identity-provider
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_workload_identity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: do not log to console oidc auto detection
  src/snowflake/cli/_app/auth/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: use oidc for auto detection only if provider is OIDC
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update the value checks
  src/snowflake/cli/_plugins/auth/oidc/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update test snapshots
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
Due: none

SNOW-2176180: bump connetor python to 3.17
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: make workload-identity-provider short verion uppercase W
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: cr fixes - p1
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/__snapshots__/test_connection.ambr
  tests_integration/test_oidc.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NO-SNOW] update release notes for 3.10.1
  RELEASE-NOTES.md
Due: none

mraba/bump-connector
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

chore: [NO-SNOW] update subdependencies for 3.10.1
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

mraba/bump-connector: add pyarrow
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync
