Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

fix: table snapshots wrap to 80 columns when TERM is dumb (#291)
  src/snowflake/cli/_app/printing.py
  tests/output/test_printing.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-3723127: Add git_url flag to dbt project (#161)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-4096180: dbt execute: allow source, docs, clean, debug, ls, deps_compile (#293)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4072323] add installer PATH cleanup helper (#276)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/installer_path.py
  tests/helpers/test_clean_installer_path.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4087660] upgrade GitPython to 3.1.62 (#301)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Escape angle brackets in generated documentation MDX (#284)
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/_macros.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.mdx.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/test_docs_generation_output.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-2148567] add opt-in prompt format for the SQL REPL (#270)
  README.md
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/prompt_format.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/sql_execution.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_sql_execution.py
  tests/sql/test_prompt_format.py
  tests/sql/test_repl.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Stage upload: raise default concurrency to 32 (benchmarked) (#93)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add CommandDocs metadata and declare it for snow cortex complete (#288)
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/api/commands/test_snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] store and read CommandDocs on the built command (#289)
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/api/commands/test_snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add snow --docs-pages full MDX generator (#290)
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/generator.py
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/api/commands/command_docs.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/test_snow_typer.py
  tests/test_docs_generation_output.py
  tests/test_main.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] show command documentation sections in help (#295)
  .pre-commit-config.yaml
  src/snowflake/cli/api/commands/docs_help.py
  src/snowflake/cli/api/commands/snow_typer.py
  src/snowflake/cli/api/feature_flags.py
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/api/commands/test_docs_help.py
  tests/api/commands/test_snow_typer.py
  tests/output/test_silent_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4075464] accept a user as a grantee in snowflake.yml grants (#285)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/project/test_grants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

DCM: add `snow dcm compile` command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_analyze_reporter.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: add `snow dcm dependencies` command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/dependencies.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_dependencies_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DCM: add `snow dcm init` command
  RELEASE-NOTES.md
  docs/dcm/README.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! DCM: add `snow dcm compile` command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: restore DCM analyze result constant after rebase
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Split nativeapp into its own parallel integration job (#113)
  .github/workflows/test_integration.yaml
  pyproject.toml
Due: dependencies-sync

feat: [SNOW-2005573] allow configuring a default output format (#317)
  README.md
  RELEASE-NOTES.md
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/output/formats.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/output/test_default_output_format.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2101026] declare artifact repository packages from requirements.txt (#222)
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/models.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/api/feature_flags.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/test_data/projects/snowpark_artifact_repository_requirements/app.py
  tests/test_data/projects/snowpark_artifact_repository_requirements/requirements.snowflake.txt
  tests/test_data/projects/snowpark_artifact_repository_requirements/requirements.txt
  tests/test_data/projects/snowpark_artifact_repository_requirements/snowflake.yml
  tests/test_utils.py
  tests_integration/conftest.py
  tests_integration/test_data/projects/snowpark_artifact_repository_requirements/app.py
  tests_integration/test_data/projects/snowpark_artifact_repository_requirements/requirements.txt
  tests_integration/test_data/projects/snowpark_artifact_repository_requirements/snowflake.yml
  tests_integration/test_snowpark.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-1848370] stop wrapping login failures as invalid config (#318)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/api/test_connections.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4133979] upgrade snowflake-connector-python to 4.7.4 (#327)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

feat: [SNOW-4138711] report installation_source on snow --info (#325)
  RELEASE-NOTES.md
  scripts/packaging/build_isolated_binary_with_hatch.py
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/cli_app.py
  tests/test_installation_source.py
  tests/test_main.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: stop snow dcm commands from crashing with RecursionError (#328)
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix(dcm): restore compile and dependencies after rebase
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix(dcm): prevent recursive connection lookup
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-4072321] stop macOS pkg from appending PATH on every upgrade
  RELEASE-NOTES.md
  scripts/packaging/macos/Resources/snowflake-cli_welcome.html
  scripts/packaging/macos/postinstall
  tests/packaging/__init__.py
  tests/packaging/test_macos_postinstall.py
Due: none

feat: [SNOW-2200621] print elapsed time after snow sql REPL queries (#303)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: avoid-snowcli, use-local-requirements-model

fix: explain OAuth connection recovery requirements (#315)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note DCM assets support in unreleased release notes (#329)
  RELEASE-NOTES.md
Due: none

SNOW-3914210 add new Copybara workflow for importing community PRs
  .github/workflows/changes.yaml
Due: none

fix: escape option metavars and collapse help whitespace in generated MDX
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/_macros.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.mdx.jinja2
  tests/test_docs_generation_output.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add structured usage notes foundation
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/command_docs_rendering.py
  src/snowflake/cli/api/commands/docs_help.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/test_docs_help.py
  tests/api/commands/test_snow_typer.py
  tests/test_docs_generation_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4138712] add snowflake-managed layout and atomic shim library
  src/snowflake/cli/_plugins/upgrade/__init__.py
  src/snowflake/cli/_plugins/upgrade/layout.py
  tests/upgrade/test_layout.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add helpers to copy generated command docs
  scripts/command_docs_paths.yaml
  scripts/publish_command_docs.py
Due: none

feat: [SNOW-3930151] copy generated command docs into snowflake-prod-docs
  scripts/publish_command_docs.md
  scripts/publish_command_docs.py
Due: none

dbt: env vars, writeback, auto-compile, and imports are GA — remove feature flags
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feature: register 'snow feature' plugin scaffold
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/feature/__init__.py
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/plugin_spec.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/feature/__init__.py
  tests/feature/test_plugin_registration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4075464] share a Streamlit app with a user from the CLI
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/project_grants.py
  src/snowflake/cli/api/feature_flags.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/project/test_grants.py
  tests/streamlit/test_project_grants.py
  tests/streamlit/test_streamlit_commands.py
  tests/streamlit/test_streamlit_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
