Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

mitigate connector bug
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update snowflake-connector-python to 3.16.0 (#2506)
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-2176180: POC of snow auth workflow-identity
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/workflow_identity/__init__.py
  src/snowflake/cli/_plugins/auth/workflow_identity/commands.py
  src/snowflake/cli/_plugins/auth/workflow_identity/manager.py
  src/snowflake/cli/_plugins/auth/workflow_identity/plugin_spec.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: rename to workload-identity from workflow-identity
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/workload_identity/__init__.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  src/snowflake/cli/_plugins/auth/workload_identity/plugin_spec.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: auth workflow-identity read command
  src/snowflake/cli/_plugins/auth/workflow_identity/commands.py
  src/snowflake/cli/_plugins/auth/workflow_identity/manager.py
  src/snowflake/cli/_plugins/auth/workflow_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workflow_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: add logging
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: refactor read command to allow usage in automation
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: add 'id' as project dependency
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-2176180: code cleanup
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: pre-commit mess cleanup
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: code cleanup
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: code cleanup
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: snapshot updates
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-2176180: deps cleanup
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: reset pyproject
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: restore pyproject
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: auto discovery when proper authenticator
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: code refactor 1
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: pyproject issues
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: code refactor 2
  src/snowflake/cli/_app/auth/__init__.py
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: auth workload-idenity commands refactor 1
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_commands.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: fix tests for running outside github CI
  tests/auth/test_oidc_providers.py
Due: none

SNOW-2176180: auth workload-idenity commands for managing integrations
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
  tests_integration/test_workload_identity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: restore read-token auto discovery
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update snapshots for e2e tests 3
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

SNOW-2176180: update snapshots for e2e tests 2
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

SNOW-2176180: release notes update for wif
  RELEASE-NOTES.md
Due: none

SNOW-2176180: update snapshots for e2e tests
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

SNOW-2176180: bump snowflake-connector-python to 3.16
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: after rebase fixes
  pyproject.toml
  tests/__snapshots__/test_help_messages.ambr
Due: dependencies-sync

SNOW-2176180: after rebase fixes
  tests/__snapshots__/test_help_messages.ambr
Due: none

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

mraba/deps-lock: use `uv pip compile` to lock dependencies
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  pylock.toml
  pyproject.toml
  scripts/lock_subdependencies.py
  snyk/dependency-sync.py
  snyk/requirements.txt
Due: dependencies-sync

mraba/deps-lock: install `uv`
  .github/workflows/lint.yaml
Due: none

mraba/deps-lock: make `uv pip compile verbose`
  .pre-commit-config.yaml
Due: none

mraba/deps-lock: run lint to python 3.10
  .github/workflows/lint.yaml
Due: none
