Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

test fix
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test fix
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixes
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/feature_flags.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/nativeapp/test_children.py
  tests/streamlit/__snapshots__/test_actions.ambr
  tests/streamlit/__snapshots__/test_streamlit_entity.ambr
  tests/streamlit/test_actions.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Moved default streamlit warehouse from model (#1952)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/project/schemas/v1/streamlit/streamlit.py
  tests/api/utils/test_definition_rendering.py
  tests/streamlit/test_streamlit_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Execute
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address comments
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/__snapshots__/test_application_package_entity.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update commands
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add release channels list support (#1953)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/__init__.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/__snapshots__/test_application_package_entity.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Execute
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

replace test data with factory
  tests_integration/nativeapp/test_bundle.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_version.py
  tests_integration/test_data/projects/napp_stage_subdirs/app/v1/README.md
  tests_integration/test_data/projects/napp_stage_subdirs/app/v1/manifest.yml
  tests_integration/test_data/projects/napp_stage_subdirs/app/v1/setup_script.sql
  tests_integration/test_data/projects/napp_stage_subdirs/app/v2/README.md
  tests_integration/test_data/projects/napp_stage_subdirs/app/v2/manifest.yml
  tests_integration/test_data/projects/napp_stage_subdirs/app/v2/setup_script.sql
  tests_integration/test_data/projects/napp_stage_subdirs/snowflake.yml
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v1/README.md
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v1/manifest.yml
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v1/module-echo-v1/echo-v1.py
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v1/setup_script.sql
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v2/README.md
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v2/manifest.yml
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v2/module-echo-v2/echo-v2.py
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/app/v2/setup_script.sql
  tests_integration/test_data/projects/napp_stage_subdirs_w_snowpark/snowflake.yml
  tests_integration/testing_utils/project_fixtures.py
Due: none

import fixture
  tests_integration/nativeapp/test_version.py
Due: none

Fix Co-authored-by: Patryk Czajka <patryk.czajka@snowflake.com>
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mock snowpark entities
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

new table format and new test and new snapshot
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add release channels add-accounts remove-accounts commands
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/errno.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

comments
  tests_integration/nativeapp/__snapshots__/test_deploy.ambr
  tests_integration/nativeapp/test_bundle.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_version.py
  tests_integration/testing_utils/project_fixtures.py
Due: none

[SNOW-1833500] New hidden command: snow helpers import-snowsql-connections
  src/snowflake/cli/_plugins/helpers/commands.py
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
  tests_e2e/config/empty.toml
  tests_e2e/config/snowsql/config
  tests_e2e/config/snowsql/integration_config
  tests_e2e/config/snowsql/overriding_config
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fix
  tests_e2e/test_import_snowsql_connections.py
Due: none

Fix test
  tests_e2e/test_import_snowsql_connections.py
Due: none

Address comments
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_run_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

tests
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/test_snowpark_entities.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix comment
  src/snowflake/cli/_plugins/spcs/common.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add release channels add-accounts remove-accounts commands (#1955)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/errno.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

release notes
  RELEASE-NOTES.md
Due: none

absolute import
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Tests
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Tests
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Tests
  tests/nativeapp/test_children.py
Due: none

Add streamlit entities (#1934)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/feature_flags.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/nativeapp/test_children.py
  tests/streamlit/__snapshots__/test_actions.ambr
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/__snapshots__/test_streamlit_entity.ambr
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_entity.py
  tests/test_data/projects/example_streamlit_v2/snowflake.yml
  tests/test_data/projects/example_streamlit_v2/utils/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add snow app release-channel add-version and remove-version commands
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Make the command visible and add release note
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Improve error handling
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update release notes to combine release channels in one section
  RELEASE-NOTES.md
Due: none

Add snow app release-channel add-version and remove-version commands (#1958)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/errno.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

get_deploy
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

get_deploy
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_snowpark_entity.py
  tests/streamlit/test_actions.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
