Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

SNOW-1282073: repl poc - cli MODE for telemetry test fix
  tests/app/test_telemetry.py
Due: none

SNOW-1282073: repl poc - restore full tests
  pyproject.toml
Due: dependencies-sync

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope 2
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - update lexer for better syntax handling
  src/snowflake/cli/_plugins/sql/lexer.py
  src/snowflake/cli/_plugins/sql/lexer/__init__.py
  src/snowflake/cli/_plugins/sql/lexer/completer.py
  src/snowflake/cli/_plugins/sql/lexer/functions.py
  src/snowflake/cli/_plugins/sql/lexer/keywords.py
  src/snowflake/cli/_plugins/sql/lexer/lexer.py
  src/snowflake/cli/_plugins/sql/lexer/types.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - fix snyk
  snyk/requirements.txt
Due: none

SNOW-1282073: repl poc - update connector tests for keep_alive param
  tests/sql/__snapshots__/test_repl.ambr
  tests/test_snow_connector.py
Due: none

SNOW-1282073: repl poc - skip win test 2
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - sort dependencies
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1282073: repl poc - use regular enter before `;` after send query
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - revert silent output changes
  tests/output/test_silent_output.py
Due: none

SNOW-1282073: repl poc - os_agnostic_snapshots limit test scope
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - syntax highlighting
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - no VerboseCursor for REPL
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - history is back
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - os_agnostic_snapshots
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - remove comments
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - after rebase fixes
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1282073: repl poc - win32_dummy_console typo fix
  conftest.py
Due: none

SNOW-1282073: repl poc - test fixes
  src/snowflake/cli/_plugins/sql/commands.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - precommit update
  .pre-commit-config.yaml
Due: none

SNOW-1282073: REPL - update welcome message
  tests/sql/__snapshots__/test_repl.ambr
Due: none

SNOW-1282073: REPL - snyk requirements
  snyk/requirements.txt
Due: none

SNOW-1282073: REPL - improve exit prompt handling to remove artifacts
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - use config manager as base for history file
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - release notes
  RELEASE-NOTES.md
Due: none

SNOW-1282073: REPL - update welcome message tests
  tests/sql/__snapshots__/test_sql.ambr
Due: none

SNOW-1282073: REPL - typo
  src/snowflake/cli/_plugins/sql/lexer/lexer.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - before review cleanup
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - use keep_alive also for temporary connections
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - client_session_keep_alive
  src/snowflake/cli/_app/snow_connector.py
  tests/api/test_connections.py
  tests/test_connection.py
  tests/test_main.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: REPL - client_session_keep_alive
  tests/api/test_connections.py
  tests/test_connection.py
  tests/test_main.py
  tests/test_oauth.py
  tests/test_snow_connector.py
Due: none

SNOW-1282073: REPL - client_session_keep_alive fix
  tests/test_connection.py
  tests/test_snow_connector.py
Due: none

SNOW-1282073: REPL - client_session_keep_alive fix
  pyproject.toml
  snyk/requirements.txt
  tests/test_snow_connector.py
Due: dependencies-sync

Snow 1282073 interactive sql mode for snowflake cli (#2125)
  .pre-commit-config.yaml
  RELEASE-NOTES.md
  conftest.py
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/lexer/__init__.py
  src/snowflake/cli/_plugins/sql/lexer/completer.py
  src/snowflake/cli/_plugins/sql/lexer/functions.py
  src/snowflake/cli/_plugins/sql/lexer/keywords.py
  src/snowflake/cli/_plugins/sql/lexer/lexer.py
  src/snowflake/cli/_plugins/sql/lexer/types.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  src/snowflake/cli/api/console/enum.py
  tests/__snapshots__/test_repl.ambr
  tests/api/console/test_console_abc.py
  tests/api/test_connections.py
  tests/app/test_telemetry.py
  tests/output/test_silent_output.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
  tests/test_connection.py
  tests/test_main.py
  tests/test_oauth.py
  tests/test_snow_connector.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Cleaning up output directory (#2225)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/project/project_paths.py
  tests/dcm_project/test_commands.py
  tests/notebook/test_notebook_commands.py
  tests/spcs/test_services.py
  tests/streamlit/test_artifacts.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test fixes
  tests_integration/test_snowpark_external_access.py
  tests_integration/test_streamlit.py
  tests_integration/test_streamlit_old.py
  tests_integration/testing_utils/streamlit_utils.py
Due: none

Test fixes
  tests_integration/testing_utils/streamlit_utils.py
Due: none

working queries command
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/source_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2057618] add project drop alias
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2057618] add project drop alias (#2224)
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
