Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

feat: [SNOW-1890085] check if dbt project exists before deploying
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1890085] set dbt execute subcommand metavar
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/commands/snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1890085] reimplement dbt execute as pass-through command group
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1966187] remove StdoutExecutionMixin
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fix
  tests_integration/test_streamlit.py
Due: none

fix dcm test mock
  tests/dcm_project/test_dcm_project.py
Due: none

Snow 1922856 refactor and unify uploading artifact to stage (#2133)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/identifiers.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_dcm_project.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_artifacts.py
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_manager.py
  tests_integration/test_notebooks.py
  tests_integration/test_snowpark.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - update connector tests for keep_alive param
  tests/sql/__snapshots__/test_repl.ambr
  tests/test_snow_connector.py
Due: none

SNOW-1282073: repl poc 2
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
  tests/__snapshots__/test_repl.ambr
  tests/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - skip win test 4
  tests/sql/conftest.py
Due: none

SNOW-1282073: repl poc - patch win32 output in tests
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - test fixes
  src/snowflake/cli/_plugins/sql/commands.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - revert os_agnostic_snapshot
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - fix win test
  tests/api/console/test_console_abc.py
  tests/sql/test_sql.py
Due: none

SNOW-1282073: repl poc - syntax highlighting
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - capsys update
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - revert silent output changes
  tests/output/test_silent_output.py
Due: none

SNOW-1282073: repl poc - test fixes 2
  src/snowflake/cli/_plugins/sql/commands.py
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - update lexer for better syntax handling
  src/snowflake/cli/_plugins/sql/lexer.py
  src/snowflake/cli/_plugins/sql/lexer/__init__.py
  src/snowflake/cli/_plugins/sql/lexer/completer.py
  src/snowflake/cli/_plugins/sql/lexer/functions.py
  src/snowflake/cli/_plugins/sql/lexer/keywords.py
  src/snowflake/cli/_plugins/sql/lexer/lexer.py
  src/snowflake/cli/_plugins/sql/lexer/types.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - fix keep_alive in tests
  tests/test_connection.py
Due: none

SNOW-1282073: repl poc - win32_dummy_console typo fix
  conftest.py
Due: none

SNOW-1282073: repl poc - os_agnostic_snapshot
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - skip win test 3
  tests/api/test_connections.py
  tests/output/test_silent_output.py
  tests/sql/conftest.py
  tests/sql/test_repl.py
  tests/test_main.py
Due: none

SNOW-1282073: repl poc - unified prompt for repl and exit marks & tests
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/console/abc.py
  src/snowflake/cli/api/console/console.py
  src/snowflake/cli/api/console/enum.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - win32_dummy_output
  conftest.py
  tests/sql/conftest.py
Due: none

SNOW-1282073: repl poc - remove comments
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - fix snyk
  snyk/requirements.txt
Due: none

SNOW-1282073: repl poc - history is back
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - fix keep_alive in tests p2
  tests/sql/__snapshots__/test_sql.ambr
  tests/sql/test_sql.py
  tests/test_connection.py
  tests/test_snow_connector.py
Due: none

SNOW-1282073: repl poc
  .pre-commit-config.yaml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/lexer.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-1282073: repl poc - test fixes 3
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - support for ctrl+j on some terminals
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - multiline edit
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - no VerboseCursor for REPL
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/__snapshots__/test_sql.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - drop debug change
  tests/test_snow_connector.py
Due: none

SNOW-1282073: repl poc - fix win test
  snyk/requirements.txt
Due: none

SNOW-1282073: repl poc - win32_dummy_output
  conftest.py
Due: none

SNOW-1282073: repl poc - fix repl test mock_cursor values
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1282073: repl poc - run Windows tests on shell
  .github/workflows/test.yaml
  conftest.py
  tests/sql/test_repl.py
Due: none

SNOW-1282073: repl poc - skip win test 2
  tests/sql/test_sql.py
Due: none
