Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

docs: [SNOW-2134871] update release notes
  RELEASE-NOTES.md
Due: none

SNOW-2149992 fix BINARY datatype json/table output + add integration test for some other types (#2406)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/printing.py
  tests/output/test_printing.py
  tests_integration/sql/test_sql.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-988145] Add snow connection remove command
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

POC using snowpy for snow notebook
  src/snowflake/cli/_plugins/notebook/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2154833] Add shell expansion guidance for version names with '$'
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bring `SqlExecutionMixin` back
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/api/sql_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update RELEASE-NOTES.md (#2429)
  RELEASE-NOTES.md
Due: none

init new pre-commit
  .pre-commit-config.yaml
  scripts/debug.py
Due: none

Detect dependencies on level 1
  scripts/debug.py
Due: none

integration test
  src/snowflake/cli/_plugins/notebook/manager.py
  tests_integration/notebook/__snapshots__/test_notebooks.ambr
  tests_integration/notebook/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add SnowpyExecutionMixin
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/api/snowpy_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove snowpy from BaseSqlExecutor
  src/snowflake/cli/api/sql_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2157330] add --from option to project execute and dry-run commands
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added packages alias for artifact_repository_packages (#2385)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  tests/snowpark/__snapshots__/test_models.ambr
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_function.py
  tests/snowpark/test_function_old_build.py
  tests/snowpark/test_procedure.py
  tests/snowpark/test_procedure_old_build.py
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix spcs test
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

Update snowflake-snowpark-python dependency to version 1.33.0 and add deprecation warning in Snowpark processor
  RELEASE-NOTES.md
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  tests_e2e/test_data/nativeapp/.gitignore
  tests_e2e/test_data/nativeapp/python/cli_gen/accepted.py
  tests_e2e/test_data/nativeapp/python/cli_gen/errors/e1.py
  tests_e2e/test_data/nativeapp/python/cli_gen/ignored/i1.py
  tests_e2e/test_data/nativeapp/python/cli_gen/udaf/custom_udaf.py
  tests_e2e/test_data/nativeapp/python/cli_gen/udtf/custom_udtf.py
  tests_e2e/test_data/nativeapp/python/user_gen/echo.py
  tests_e2e/test_data/nativeapp/resources/unused.py
  tests_e2e/test_data/nativeapp/root_files/README.md
  tests_e2e/test_data/nativeapp/root_files/_manifest.yml
  tests_e2e/test_data/nativeapp/root_files/setup_scripts/setup.sql
  tests_e2e/test_data/nativeapp/root_files/setup_scripts/user_gen_procs.sql
  tests_e2e/test_data/nativeapp/root_files/setup_scripts/user_gen_udf.sql
  tests_e2e/test_data/nativeapp/snowflake.yml
  tests_e2e/test_nativeapp.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/project_fixtures.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

Update snowflake-snowpark-python dependency to version 1.33.0 and add deprecation warning in Snowpark processor
  tests_integration/test_snowpark.py
Due: none

Update urllib3 requirement from <2.5,>=1.24.3 to >=1.24.3,<2.6
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

feat: [SNOW-2157330] align on user facing messages ending with a dot
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2157330] fix for double dots
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update snowflake-snowpark-python dependency to version 1.33.0 and add deprecation warning in Snowpark processor
  tests_e2e/test_nativeapp.py
Due: none

Add comment
  scripts/debug.py
Due: none

Update snowflake-snowpark-python dependency to version 1.33.0 and add… (#2255)
  RELEASE-NOTES.md
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  tests_e2e/test_data/nativeapp/.gitignore
  tests_e2e/test_data/nativeapp/python/cli_gen/accepted.py
  tests_e2e/test_data/nativeapp/python/cli_gen/errors/e1.py
  tests_e2e/test_data/nativeapp/python/cli_gen/ignored/i1.py
  tests_e2e/test_data/nativeapp/python/cli_gen/udaf/custom_udaf.py
  tests_e2e/test_data/nativeapp/python/cli_gen/udtf/custom_udtf.py
  tests_e2e/test_data/nativeapp/python/user_gen/echo.py
  tests_e2e/test_data/nativeapp/resources/unused.py
  tests_e2e/test_data/nativeapp/root_files/README.md
  tests_e2e/test_data/nativeapp/root_files/_manifest.yml
  tests_e2e/test_data/nativeapp/root_files/setup_scripts/setup.sql
  tests_e2e/test_data/nativeapp/root_files/setup_scripts/user_gen_procs.sql
  tests_e2e/test_data/nativeapp/root_files/setup_scripts/user_gen_udf.sql
  tests_e2e/test_data/nativeapp/snowflake.yml
  tests_e2e/test_nativeapp.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/testing_utils/project_fixtures.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

feat: [SNOW-2157330] add --from option to project execute and dry-run… (#2435)
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix SPCS test
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

feat: [SNOW-2154833] implement project drop-version command
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2154833] update drop-version help, quoting in add version, and tests
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2154833] support deleting default version
  tests_integration/test_dcm_project.py
Due: none

cleanup: [SNOW-2134871] cleanup
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2154833] fix merge conflicts
  src/snowflake/cli/_plugins/project/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Filter false positives from flaky test detection
  tests_common/deflake.py
Due: none

Add deliberately flaky test
  pyproject.toml
  tests_integration/test_debug.py
Due: dependencies-sync

reduce matrix
  .github/workflows/matrix.yaml
Due: none

bump
  tests_integration/test_debug.py
Due: none

Add deliberately flaky test to known issues|
  tests_common/deflake.py
Due: none

add modifying pyproject.toml
  pyproject.toml
  scripts/debug.py
  snyk/requirements.txt
Due: dependencies-sync

Remove debug; refactor
  .pre-commit-config.yaml
  scripts/lock_subdependencies.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
