Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Fix help messages snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

Fix unit tests
  tests/test_command_registration.py
Due: none

enable spcs commands by default (#2032)
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixes
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/api/stage_path.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests_integration/test_notebooks.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix tests
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
Due: none

debug
  src/snowflake/cli/api/stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add test to fix
  tests/stage/test_stage_path.py
Due: none

Add notebook to supported objects
  src/snowflake/cli/api/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/object/__snapshots__/test_object.ambr
  tests/object/test_object.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update release notes
  RELEASE-NOTES.md
Due: none

fix drop test
  tests/object/__snapshots__/test_object.ambr
  tests/object/test_object.py
Due: none

Add notebook to supported objects (#2033)
  RELEASE-NOTES.md
  src/snowflake/cli/api/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/object/__snapshots__/test_object.ambr
  tests/object/test_object.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix console steps
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests_integration/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Build PyApp binary
  build_binary.py
  build_pyapp_binary.sh
  pyproject.toml
Due: dependencies-sync

Plugins in external directory - working poc
  build_binary.py
  build_pyapp_binary.sh
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/commands_registration/__init__.py
  src/snowflake/cli/_plugins/plugin/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1769565] wip: first working version of stage create by snowapis
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/stage_entity.py
  src/snowflake/cli/_plugins/stage/stage_entity_model.py
  tests/stage/test_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1769565] wip: first iteration on stage entity and model
  src/snowflake/cli/_plugins/stage/stage_entity.py
  src/snowflake/cli/_plugins/stage/stage_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1769565] wip: adapt to yaml workflow
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/stage_entity.py
  src/snowflake/cli/_plugins/stage/stage_entity_model.py
  src/snowflake/cli/api/entities/common.py
  tests/nativeapp/patch_utils.py
  tests/stage/test_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1769565] wip: adapt to yaml workflow
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/stage_entity.py
  src/snowflake/cli/_plugins/stage/stage_entity_model.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snow 1761248 introduce notebook entity (#2007)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/exceptions.py
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  src/snowflake/cli/_plugins/notebook/notebook_project_paths.py
  src/snowflake/cli/_plugins/notebook/types.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/commands/utils.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  src/snowflake/cli/api/stage_path.py
  tests/__snapshots__/test_help_messages.ambr
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests/notebook/test_notebook_manager.py
  tests/stage/test_stage_path.py
  tests/test_data/projects/notebook_v2/notebook.ipynb
  tests/test_data/projects/notebook_v2/snowflake.yml
  tests/test_data/projects/notebooks_multiple_v2/notebook1/my_notebook.ipynb
  tests/test_data/projects/notebooks_multiple_v2/notebook2/my_notebook.ipynb
  tests/test_data/projects/notebooks_multiple_v2/snowflake.yml
  tests_integration/spcs/test_services.py
  tests_integration/test_data/projects/notebook_v2/notebook.ipynb
  tests_integration/test_data/projects/notebook_v2/snowflake.yml
  tests_integration/test_data/projects/notebooks_multiple_v2/notebook1/my_notebook.ipynb
  tests_integration/test_data/projects/notebooks_multiple_v2/notebook2/my_notebook.ipynb
  tests_integration/test_data/projects/notebooks_multiple_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add support for containerized notebooks
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests/test_data/projects/notebook_containerized_v2/notebook.ipynb
  tests/test_data/projects/notebook_containerized_v2/snowflake.yml
  tests_integration/test_data/projects/notebook_containerized_v2/notebook.ipynb
  tests_integration/test_data/projects/notebook_containerized_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added missing keyring dependency when building binaries
  RELEASE-NOTES.md
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/win/build_snowflake_cli.bat
Due: none

Bump python connector to 3.13.2
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Fix
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add support for containerized notebooks (#2039)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests/test_data/projects/notebook_containerized_v2/notebook.ipynb
  tests/test_data/projects/notebook_containerized_v2/snowflake.yml
  tests_integration/test_data/projects/notebook_containerized_v2/notebook.ipynb
  tests_integration/test_data/projects/notebook_containerized_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Solution
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_snowpark.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump python connector to 3.13.2 (#2042)
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Added missing keyring and shellingham dependencies in binaries (#2038)
  RELEASE-NOTES.md
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_darwin_package.sh
  scripts/packaging/win/build_snowflake_cli.bat
Due: none

--force -replace flag in snowpark deploy (#2043)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_snowpark.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add project definition file support in notebook create command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  tests/__snapshots__/test_help_messages.ambr
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests_integration/test_notebooks.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix behavior if PDF is detected
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/notebook/test_notebook_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix
  src/snowflake/cli/_plugins/notebook/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix Windows test
  tests/notebook/test_notebook_commands.py
Due: none

update snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

add comments to integration tests
  tests_integration/test_notebooks.py
Due: none

mark integration; update snapshots
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests_integration/test_notebooks.py
Due: none

unify create commands output
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/notebook/test_notebook_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix typo in help messages
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix typo in help messages (#2046)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Collate test
  scripts/table.sql
Due: none
