Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Rename dcm analyze to analyze-errors and show finding positions
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_analyze_reporter.py
  tests/dcm/test_reporters/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add snow dcm analyze command with severity-driven output
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/styles.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_analyze_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dcm analyze-errors: use canonical compile phases (no visible ANALYZE)
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dcm compile: rename analyze-errors to compile and save rendered output
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

dcm dependencies: add command rendering a Mermaid dependency diagram
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/dependencies.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_dependencies_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: always use a workspace for personal-database destinations (#3095)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Color 'changed' sub-change keyword yellow in plan/deploy output
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Render ALTER rows as a tree with per-change details in plan/deploy output
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_reporters/__snapshots__/test_plan_reporter.ambr
  tests/dcm/test_reporters/test_plan_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

move to bundle
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/bundle/__init__.py
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  src/snowflake/cli/_plugins/bundle/plugin_spec.py
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/__init__.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: support bare string for snowflake-app build_eai
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: add CLI design principles to adding-commands.md (#3093)
  docs/contributing/adding-commands.md
Due: none

Add a test with redirect to output file
  tests_integration/test_encoding.py
Due: none

Add support for changing stdout encoding
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add release notes
  RELEASE-NOTES.md
Due: none

Test fixes
  tests/helpers/test_detect_encoding.py
  tests/test_config.py
Due: none

Fix stdout encoding side effects in tests
  tests/test_config.py
Due: none

Use CSV format in stdout encoding integration tests
  tests_integration/test_encoding.py
Due: none

Use a single consistent blue across DCM output
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/styles.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: clearer deploy errors and Windows workspace upload fix
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: add release note for Windows app deploy workspace upload fix
  RELEASE-NOTES.md
Due: none

execute
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: support bare string for snowflake-app build_eai (#3098)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add integration test for app deploy workspace code upload
  tests_integration/apps/test_snowflake_apps_deploy.py
Due: none

feat: support warehouse, database and schema overrides in snow app setup
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: require --schema when --database is specified in snow app setup
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support execute arg
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

async
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create from local
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/test_bundle_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: skip system-default parameters in fetch_snow_apps_parameters
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: add release note for system-default parameter fix
  RELEASE-NOTES.md
Due: none

Fallback to default Snowsight root when URL cannot be resolved (SNOW-2904031)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/util.py
  tests/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Print `Time Elapsed` after each REPL query (SNOW-2200621)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
Due: avoid-snowcli, use-local-requirements-model

Add Cortex AI end-to-end PR review workflow
  .github/scripts/cortex_e2e_review.py
  .github/workflows/cortex_review.yaml
Due: none

Restrict Cortex AI review workflow to maintainers
  .github/workflows/cortex_review.yaml
Due: none

Add no prompt exit option to repl
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Also get no_prompt_exit option from env var or config
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
