Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Delete the hidden `snow app init` command (#1762)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump rc version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump rc version (#1765)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove static method for action_version_list
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/fixtures.py
  tests/nativeapp/test_application_package_entity.py
  tests_common/conftest.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1706990 Remove static method for action_version_list (#1766)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/fixtures.py
  tests/nativeapp/test_application_package_entity.py
  tests_common/conftest.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

event table check for NONE case
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/api/exceptions.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

mock correct return value
  tests/nativeapp/test_manager.py
Due: none

revert default value, just keep check for the NONE case
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

wip Use entity instances to call methods
  tests/nativeapp/test_create_or_upgrade_app.py
  tests/nativeapp/test_teardown.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/test_version_drop.py
Due: none

Inline ApplicationEntity.deploy into action_deploy, make create_or_upgrade_app an instance method
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_run_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

new mock executor class
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  tests/nativeapp/test_new_sql_facade.py
  tests/nativeapp/test_post_deploy_for_app.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Inline drop for both entities
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_teardown.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Inline ApplicationEntity.execute_post_deploy_hooks
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_post_deploy_for_app.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Inline ApplicationPackageEntity.version_create
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Prettify test_get_events IDs
  tests/nativeapp/test_manager.py
Due: none

Prettify test_get_events IDs (#1773)
  tests/nativeapp/test_manager.py
Due: none

SNOW-1758715 Inline ApplicationEntity.deploy into action_deploy, make create_or_upgrade_app an instance method (#1768)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_run_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1758715 Inline drop for both entities (#1770)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_teardown.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1758715 Inline ApplicationPackageEntity.version_create (#1771)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add error handling for dne and tests for covered cases
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Log Streaming
  src/snowflake/cli/_plugins/spcs/common.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

solution
  src/snowflake/cli/api/project/schemas/project_definition.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixes
  src/snowflake/cli/api/project/schemas/project_definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Another solution
  src/snowflake/cli/api/project/schemas/project_definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Grammar fixes in use-facing strings
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/extension_function_utils.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/snowpark/package/anaconda_packages.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/stage/md5.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1754872: display warning on windows for too wide permissions
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Solution
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/utils/definition_rendering.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

notes
  RELEASE-NOTES.md
Due: none

SNOW-1754872: display warning on windows for too wide permissions - mark test skip
  tests/test_config.py
Due: none

Add package scripts warning back
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix integration tests for emitting package scripts metric
  tests_integration/nativeapp/test_feature_metrics.py
Due: none

Grammar fixes in use-facing strings (#1777)
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/extension_function_utils.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/snowpark/package/anaconda_packages.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/stage/md5.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add event table check for NONE case and fix error message formatting (#1767)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/api/exceptions.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1754872: display warning on windows for too wide permissions (#1778)
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added release notes
  RELEASE-NOTES.md
Due: none

Changes
  src/snowflake/cli/_plugins/stage/manager.py
  tests_integration/__snapshots__/test_git.ambr
  tests_integration/__snapshots__/test_stage.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix multiple snowpark sessions in tests
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Tests failing with current implementation
  tests_integration/test_data/projects/stage_execute_without_requirements/script_template.py
  tests_integration/test_git.py
  tests_integration/test_stage.py
Due: none

fix
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/project_definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix
  src/snowflake/cli/api/project/definition_conversion.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
