Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Image repository model in snowflake yml (#2004)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/image_repository/image_repository_entity.py
  src/snowflake/cli/_plugins/spcs/image_repository/image_repository_entity_model.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/project/definition_helper.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/spcs/test_image_repository.py
  tests/test_data/projects/spcs_image_repository/snowflake.yml
  tests/test_data/projects/spcs_multiple_image_repositories/snowflake.yml
  tests_integration/spcs/test_image_repository.py
  tests_integration/spcs/testing_utils/image_repository_utils.py
  tests_integration/test_data/projects/spcs_image_repository/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added snow spcs service deploy command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  src/snowflake/cli/_plugins/spcs/services/service_project_paths.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_services.py
  tests/test_data/projects/spcs_multiple_services/snowflake.yml
  tests/test_data/projects/spcs_multiple_services/spec.yml
  tests/test_data/projects/spcs_service/snowflake.yml
  tests/test_data/projects/spcs_service/spec.yml
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_data/projects/spcs_service/snowflake.yml
  tests_integration/test_data/projects/spcs_service/spec.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after rebase
  src/snowflake/cli/_plugins/spcs/services/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

improve help messages
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

snapshot update
  tests/__snapshots__/test_help_messages.ambr
Due: none

Fixes after review
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove if-not-exists
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests_integration/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added snow spcs service deploy command (#2026)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/spcs/services/service_entity.py
  src/snowflake/cli/_plugins/spcs/services/service_entity_model.py
  src/snowflake/cli/_plugins/spcs/services/service_project_paths.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_services.ambr
  tests/spcs/test_services.py
  tests/test_data/projects/spcs_multiple_services/snowflake.yml
  tests/test_data/projects/spcs_multiple_services/spec.yml
  tests/test_data/projects/spcs_service/snowflake.yml
  tests/test_data/projects/spcs_service/spec.yml
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_data/projects/spcs_service/snowflake.yml
  tests_integration/test_data/projects/spcs_service/spec.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Integ tests for release channels, directives, publish command, and run from release channel (#2020)
  tests_integration/nativeapp/conftest.py
  tests_integration/nativeapp/native_apps_utils.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_publish.py
  tests_integration/nativeapp/test_release_channels.py
  tests_integration/nativeapp/test_release_directives.py
Due: none

Fix failure to SQL scripts when there is a comment at the end of the file (#2022)
  src/snowflake/cli/api/sql_execution.py
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/app_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/package_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/app_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/package_post_deploy2.sql
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add remove-accounts and add-accounts commands for release directives
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add integration test
  tests_integration/nativeapp/test_release_directives.py
Due: none

Add remove-accounts and add-accounts commands for release directives (#2024)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/test_release_directives.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add commands to set-accounts for release channels (add-accounts/remove-accounts already exist)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/test_release_channels.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Post merge
  src/snowflake/cli/api/entities/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add commands to set-accounts for release channels (add-accounts/remove-accounts already exist) (#2023)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/entities/common.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/test_release_channels.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

split logic into actions
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

IN PROGRESS
  src/snowflake/cli/_plugins/notebook/commands.py
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/api/commands/utils.py
  tests_integration/test_data/projects/notebook_v2/notebook.ipynb
  tests_integration/test_data/projects/notebook_v2/snowflake.yml
  tests_integration/test_data/projects/notebooks_multiple_v2/notebook1/my_notebook.ipynb
  tests_integration/test_data/projects/notebooks_multiple_v2/notebook2/my_notebook.ipynb
  tests_integration/test_data/projects/notebooks_multiple_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Post merge
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Moved spcs compute-pool deploy to create command
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/test_compute_pool.py
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixes after rebase
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fixes after review
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/test_compute_pool.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Depends on in `snowflake.yml` (#1993)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/release_channel/commands.py
  src/snowflake/cli/_plugins/nativeapp/release_directive/commands.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/resolver.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/secure_path.py
  src/snowflake/cli/api/utils/graph.py
  tests/api/utils/test_graph.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/project/test_depends_on.py
  tests/test_data/projects/depends_on_basic/app.py
  tests/test_data/projects/depends_on_basic/environment.yml
  tests/test_data/projects/depends_on_basic/pages/my_page.py
  tests/test_data/projects/depends_on_basic/requirements.txt
  tests/test_data/projects/depends_on_basic/snowflake.yml
  tests/test_data/projects/depends_on_basic/streamlit_app.py
  tests/test_data/projects/depends_on_with_cyclic_dependency/app.py
  tests/test_data/projects/depends_on_with_cyclic_dependency/environment.yml
  tests/test_data/projects/depends_on_with_cyclic_dependency/pages/my_page.py
  tests/test_data/projects/depends_on_with_cyclic_dependency/requirements.txt
  tests/test_data/projects/depends_on_with_cyclic_dependency/snowflake.yml
  tests/test_data/projects/depends_on_with_cyclic_dependency/streamlit_app.py
  tests/workspace/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added snow_api_root object (#2014)
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Moved spcs compute-pool deploy to create command (#2015)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/compute_pool/commands.py
  src/snowflake/cli/_plugins/spcs/compute_pool/compute_pool_entity_model.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/__snapshots__/test_compute_pool.ambr
  tests/spcs/test_compute_pool.py
  tests_integration/spcs/test_compute_pool.py
  tests_integration/spcs/testing_utils/compute_pool_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

integration tests
  tests_integration/test_data/projects/notebook_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: none

fix help message
  src/snowflake/cli/_plugins/notebook/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

unit tests
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/notebook/test_notebook_commands.py
  tests/test_data/projects/notebook_v2/notebook.ipynb
  tests/test_data/projects/notebook_v2/snowflake.yml
  tests/test_data/projects/notebooks_multiple_v2/notebook1/my_notebook.ipynb
  tests/test_data/projects/notebooks_multiple_v2/notebook2/my_notebook.ipynb
  tests/test_data/projects/notebooks_multiple_v2/snowflake.yml
Due: none

Add complimentary actions
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update release notes
  RELEASE-NOTES.md
Due: none

Windows test fix
  tests/notebook/test_notebook_commands.py
  tests_integration/test_notebooks.py
Due: none

Add artifacts to notebook
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  src/snowflake/cli/_plugins/notebook/notebook_entity_model.py
  src/snowflake/cli/_plugins/notebook/notebook_project_paths.py
  src/snowflake/cli/api/artifacts/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

small SPCS refactor
  src/snowflake/cli/_plugins/spcs/services/manager.py
  tests_integration/spcs/test_services.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

[SNOW-1747473] snow plugin enable/disable
  src/snowflake/cli/_app/api_impl/plugin/plugin_config_provider_impl.py
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_app/commands_registration/commands_registration_with_callbacks.py
  src/snowflake/cli/_plugins/plugin/__init__.py
  src/snowflake/cli/_plugins/plugin/commands.py
  src/snowflake/cli/_plugins/plugin/plugin_spec.py
  src/snowflake/cli/api/__init__.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/plugins/plugin_config.py
  test_external_plugins/snowpark_hello_single_command/src/snowflakecli/test_plugins/snowpark_hello/manager.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/config/config.toml
  tests_e2e/test_installation.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test fixes
  tests_e2e/config/config.toml
  tests_e2e/test_installation.py
Due: none

fix tests
  src/snowflake/cli/_plugins/notebook/notebook_entity.py
  tests/notebook/__snapshots__/test_notebook_commands.ambr
  tests/test_data/projects/notebook_v2/snowflake.yml
  tests/test_data/projects/notebooks_multiple_v2/snowflake.yml
  tests_integration/test_data/projects/notebook_v2/snowflake.yml
  tests_integration/test_data/projects/notebooks_multiple_v2/snowflake.yml
  tests_integration/test_notebooks.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

enable spcs commands by default
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/spcs/test_services.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none
