Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Skip grants verification step to avoid CI role assignment issues
  tests_integration/test_streamlit.py
Due: none

Use dynamic role discovery for grants validation tests
  tests_integration/test_streamlit.py
Due: none

Simplify grants tests to use session role directly
  tests_integration/test_streamlit.py
Due: none

pin pip and packaging
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Remove unnecessary comments from grants tests
  tests_integration/test_streamlit.py
  tests_integration/testing_utils/streamlit_utils.py
Due: none

chore: [NOSNOW] update release notes
  RELEASE-NOTES.md
Due: none

fix pip version
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

chore: [NOSNOW] update release notes (#2631)
  RELEASE-NOTES.md
Due: none

pin pip and packaging (#2630)
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2206349 Fix Streamlit Entity Grants (#2615)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests_integration/test_streamlit.py
  tests_integration/testing_utils/streamlit_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixed flaky test for Native Apps
  tests_integration/nativeapp/test_post_deploy.py
  tests_integration/nativeapp/test_project_templating.py
Due: none

feat: [SNOW-2251150] relax validation around single defined profile
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-23306184: make connection cache not persist between runs
  src/snowflake/cli/api/cli_global_context.py
  tests/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-23306184: recreate definition manager
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-23306184: recreate tmp dir for definition conversion
  src/snowflake/cli/api/project/definition_conversion.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-23306184: recreate SnowflakeSQLFacade
  src/snowflake/cli/_plugins/nativeapp/sf_facade.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

skeleton for ANALYZE
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-23306184: clear ui parameters cache
  src/snowflake/cli/_plugins/connection/util.py
  tests/conftest.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-23306184: clean logging handlers
  tests/conftest.py
Due: none

SNOW-23306184: fix global_cli_context test
  src/snowflake/cli/api/cli_global_context.py
  tests/api/test_global_cli_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2251150] relax more validations, but ensure role exists
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/constants.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix bugs and address feedbacks
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/remote/test_commands.py
  tests/remote/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2251150] adjust tests to relaxed requirements
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/dbt_project/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add SiS on SPCS vNext support in Snow Cli (#2531)
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  src/snowflake/cli/api/feature_flags.py
  tests/streamlit/test_streamlit_entity.py
  tests_integration/test_data/projects/streamlit_spcs_v2/pages/my_page.py
  tests_integration/test_data/projects/streamlit_spcs_v2/requirements.txt
  tests_integration/test_data/projects/streamlit_spcs_v2/snowflake.yml
  tests_integration/test_data/projects/streamlit_spcs_v2/streamlit_app.py
  tests_integration/test_data/projects/streamlit_spcs_v2/utils/utils.py
  tests_integration/tests_using_container_services/test_streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2229491 Fixed flaky test for Native Apps teardown (#2632)
  tests_integration/nativeapp/test_post_deploy.py
  tests_integration/nativeapp/test_project_templating.py
Due: none

SNOW-2306184: ms fixes
  src/snowflake/cli/_app/loggers.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reformat test_services.py
  tests/spcs/test_services.py
Due: none

SNOW-2306184: ms fixes p2
  tests/spcs/test_services.py
Due: none

SNOW-2306184: replace import level singleton with factory created
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/logs/snowflake-cli.log
  tests/test_config.py
  tests/test_main.py
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: ms fixes p3
  tests_common/conftest.py
Due: none

SNOW-2306184: rename processor class used for tests
  tests/nativeapp/codegen/test_compiler.py
Due: none

SNOW-2305287 make non-flaky version of testing show warehouses
  tests_integration/test_object.py
Due: none

feat: [SNOW-2314571] add dbt drop and describe commands
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2314571] add dbt drop and describe commands (#2641)
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory entry point guarded by env
  src/snowflake/cli/api/config_provider.py
  tests/api/test_config_provider.py
  tests/snowpark/__snapshots__/test_function_old_build.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory entry point guarded by env - fix snapshot
  tests/snowpark/__snapshots__/test_function_old_build.ambr
Due: none

SNOW-2306184: config refactory - core abstraction
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  tests/config_ng/__init__.py
  tests/config_ng/test_config_value.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_source_priority.py
  tests/config_ng/test_value_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - top tier configuration sources
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/handlers.py
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/test_cli_argument_source.py
  tests/config_ng/test_configuration_source.py
  tests/config_ng/test_environment_source.py
  tests/config_ng/test_file_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2187773 Allow configurable precision for Decimal
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  tests_integration/sql/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Added release notes
  RELEASE-NOTES.md
Due: none
