Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Snow 1999047 fix binaries visible as pypi in telemetry (#2141)
  scripts/packaging/build_isolated_binary_with_hatch.py
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix typo in error message
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Change default model for Snowflake Complete CLI
  src/snowflake/cli/_plugins/cortex/constants.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Auth rotate only overwrite connection
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/_plugins/auth/keypair/manager.py
  tests/auth/__snapshots__/test_auth.ambr
  tests/auth/test_auth.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added file execute log for stage and git (#2139)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/git/test_git_commands.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.6.0-rc1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Auth rotate only overwrite connection (#2142)
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/_plugins/auth/keypair/manager.py
  tests/auth/__snapshots__/test_auth.ambr
  tests/auth/test_auth.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Solution
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/utils.py
  tests/nativeapp/test_children.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/__snapshots__/test_streamlit_entity.ambr
  tests/streamlit/streamlit_test_class.py
  tests/streamlit/test_artifacts.py
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_entity.py
  tests/streamlit/test_streamlit_manager.py
  tests/test_data/projects/example_streamlit_multiple_v2/app_1.py
  tests/test_data/projects/example_streamlit_multiple_v2/app_2.py
  tests/test_data/projects/example_streamlit_multiple_v2/snowflake.yml
  tests/test_data/projects/glob_patterns/snowflake.yml
  tests_integration/test_streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Review fixes
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove leftover file
  main.py
Due: none

feat: [SNOW-2002186] save password based connection if subsequent key pair setup fails
  src/snowflake/cli/_plugins/connection/commands.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2002186] display different messages when key pair cannot be set
  src/snowflake/cli/_plugins/auth/keypair/manager.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/exceptions.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix dcm tests
  tests/dcm_project/test_dcm_project.py
Due: none

fix dcm tests
  src/snowflake/cli/_plugins/project/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove trailing whitespaces in e2e snapshots (#2138)
  tests_e2e/__snapshots__/test_error_handling.ambr
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/__snapshots__/test_nativeapp.ambr
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
Due: none

feat: [SNOW-2002186] code review fixes
  src/snowflake/cli/_plugins/auth/keypair/manager.py
  src/snowflake/cli/api/exceptions.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Tag command
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

Fix
  scripts/release-plugin/src/snowflakecli/internal/release_plugin/commands.py
Due: none

feat: [SNOW-2002186] save password based connection if subsequent key… (#2149)
  src/snowflake/cli/_plugins/auth/keypair/manager.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/exceptions.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test fixes
  tests/streamlit/streamlit_test_class.py
  tests/streamlit/test_artifacts.py
Due: none

SNOW-1980772: move detect env vars
  output/bundle/streamlit/main.py
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/test_snowsql_env_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: PR cleanup
  output/bundle/streamlit/main.py
  src/snowflake/cli/_plugins/helpers/check_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: PR cleanup
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/test_snowsql_env_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: PR cleanup
  tests/helpers/test_snowsql_env_vars.py
Due: none

SNOW-1980772: command for checking variables
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/test_snowsql_env_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: PR cleanup
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/snowsl_vars_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: PR cleanup
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/conn_import_helpers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: build vars mapping - part 1
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: move helpers to separate modules
  src/snowflake/cli/_plugins/helpers/check_vars.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/conn_import_helpers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1980772: comleted vars mapping
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Test fixes
  tests/streamlit/streamlit_test_class.py
Due: none

Test fix
  tests/streamlit/streamlit_test_class.py
Due: none

chore: speed up unit tests
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-1980772: command for checking variables (#2127)
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/snowsl_vars_reader.py
  tests/helpers/test_snowsql_env_vars.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Change cortex calls to use REST
  pyproject.toml
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/constants.py
  src/snowflake/cli/_plugins/cortex/manager.py
  src/snowflake/cli/_plugins/cortex/types.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
