Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

chore: [NOSNOW] now fix mypy complaints
  .pre-commit-config.yaml
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NOSNOW] now fix mypy complaints
  .pre-commit-config.yaml
  tests_integration/conftest.py
Due: none

fix: [SNOW-2629712] fix altering dbt object with external access inte… (#2682)
  .pre-commit-config.yaml
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/dbt/test_manager.py
  tests_integration/conftest.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

NO-CONN Support decimal_precision in config file (#2680)
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests_integration/sql/test_sql_decfloat.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump version to v3.13.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-2683903] fix installation instructions
  scripts/packaging/macos/Resources/snowflake-cli_get_started.html
  scripts/packaging/win/snowflake_cli_exitdlg.wxs
Due: none

chore: [SNOW-2683903] fix installation instructions (#2690)
  scripts/packaging/macos/Resources/snowflake-cli_get_started.html
  scripts/packaging/win/snowflake_cli_exitdlg.wxs
Due: none

SNOW-2416541 allow passing PYTEST_ARGS in run_tests_preprod.sh
  pyproject.toml
  scripts/run_tests_preprod.sh
Due: dependencies-sync

SNOW-2416541 allow passing PYTEST_ARGS in run_tests_preprod.sh (#2691)
  pyproject.toml
  scripts/run_tests_preprod.sh
Due: dependencies-sync

added support for telemetry: LOG_LEVEL, TRACE_LEVEL, METRIC_LEVEL
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

added/updated unit tests
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/conftest.py
  tests/snowpark/test_common.py
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2464939 Update snowflake-snowpark-python version to 1.41.0 (#2672)
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  tests/stage/test_stage.py
  tests_integration/test_snowpark.py
  tests_integration/test_stage.py
Due: dependencies-sync

feat: [NOSNOW] dcm deploy: add skip plan option
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326969] implement dcm refresh
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/utils.py
  src/snowflake/cli/api/output/types.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2412813] wip: analyze
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326970] implement dcm test command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326971] implement dcm preview command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add spec generation utils Register the remote dev plugin and add remote dev container spec
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/__init__.py
  tests/remote/test_container_spec.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Register remote dev plugin
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/remote/__init__.py
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/plugin_spec.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add basic remote commands
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Multi Node PoC
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/manager.py
  tests/remote/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

enable remote ssh connection
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add default block volume for persistent storage
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/container_spec.py
  src/snowflake/cli/_plugins/remote/manager.py
  tests/remote/test_container_spec.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Use container-runtime 1.9.1 by default
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Address feedbacks
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  tests/remote/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix bugs and address feedbacks
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/remote/test_commands.py
  tests/remote/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

bug fix and feature improvement
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix unit tests for versioned Streamlit deployment
  tests/streamlit/streamlit_test_class.py
  tests/streamlit/test_streamlit_entity.py
Due: none

Add documentation for deprecated --experimental flag and parameter naming
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix test_streamlit_deploy_prune_flag: test with --legacy flag
  tests_integration/test_streamlit_old.py
Due: none

Fix test_streamlit_deploy_prune_flag: add --overwrite flag for streamlit stage
  tests_integration/test_streamlit_old.py
Due: none

Make versioned Streamlit deployment the default behavior
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/feature_flags.py
  tests/streamlit/test_streamlit_commands.py
  tests_integration/test_streamlit.py
  tests_integration/test_streamlit_old.py
  tests_integration/tests_using_container_services/test_streamlit.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add validation to prevent SPCS runtime v2 usage with --legacy flag
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Use positive condition for legacy flag check
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix integration tests for versioned Streamlit deployment
  tests_integration/test_streamlit.py
  tests_integration/test_streamlit_old.py
Due: none

Fix help message snapshots - restore oauth-token-request-url for all commands except streamlit
  tests/__snapshots__/test_help_messages.ambr
Due: none
