Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

rename init to setup
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests/project/__snapshots__/test_config.ambr
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

windows fix
  tests/api/artifacts/test_bundle_map.py
Due: none

feat: add ignore patterns for artifact bundling
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/api/artifacts/test_bundle_map.py
  tests/project/__snapshots__/test_config.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: rename init to setup, simplify queries with DictCursor, extract spec helpers
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add image_repository config and --skip-build flag for deploy
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add a new "dcm purge" command. It executes `EXECUTE DCM PROJECT <name> PURGE` command.
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added warning
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add --no-prompt-exit-repl note to RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

Fix test_no_prompt_exit_repl config getter mock
  tests/sql/test_repl.py
Due: none

Run unit tests and regenerate snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

fix: address PR review — use FQN.sql_identifier, reject schema-only config, add call assertions
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: use fnmatchcase for consistent cross-platform behavior, filter files upfront
  src/snowflake/cli/api/artifacts/bundle_map.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: use case-insensitive comparison in get_service_endpoint_url
  src/snowflake/cli/_plugins/apps/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Updated snapshot tests
  tests/__snapshots__/test_help_messages.ambr
Due: none

Concise danger message
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't quote project name
  src/snowflake/cli/_plugins/dcm/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: unify Jinja pre-render, strip SQL comments, propagate pre_render to !source files
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_sql.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps image_repository config and --skip-build flag (#2828)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps to support ignore patterns for artifact bundling (#2829)
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/api/artifacts/test_bundle_map.py
  tests/project/__snapshots__/test_config.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps rename init to setup + refactors (#2830)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
  tests_integration/tests_using_container_services/spcs/test_snowflake_apps.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Prompt for either "purge <project_identifier>" or "cancel"
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Simplify the implementation
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixup failing instruction
  pyproject.toml
Due: dependencies-sync

Case-insensitive comparison of project identifiers
  src/snowflake/cli/_plugins/dcm/commands.py
  tests/dcm/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add `snow run` command for project scripts
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/run/__init__.py
  src/snowflake/cli/_plugins/run/commands.py
  src/snowflake/cli/_plugins/run/manager.py
  src/snowflake/cli/_plugins/run/plugin_spec.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/project/schemas/scripts.py
  tests/run/__init__.py
  tests/run/test_commands.py
  tests/run/test_integration.py
  tests/run/test_schema.py
  tests/test_data/projects/run_manifest_only/manifest.yml
  tests/test_data/projects/run_manifest_scripts/manifest.yml
  tests/test_data/projects/run_manifest_scripts/snowflake.yml
  tests/test_data/projects/run_scripts/snowflake.yml
  tests/test_data/projects/run_scripts_conflict/manifest.yml
  tests/test_data/projects/run_scripts_conflict/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: escape interpolated vars in shell mode and preserve exit codes
  src/snowflake/cli/_plugins/run/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: quote extra_args with shlex.quote to handle spaces and special chars
  src/snowflake/cli/_plugins/run/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add circular dependency detection for composite scripts
  src/snowflake/cli/_plugins/run/manager.py
  tests/run/test_commands.py
  tests/test_data/projects/run_scripts_cycle/snowflake.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add tests for shell escaping, extra_args quoting, and exit code preservation
  tests/run/test_commands.py
  tests/test_data/projects/run_scripts/snowflake.yml
Due: none

fix: resolve CI failures for snow run command
  src/snowflake/cli/_plugins/run/commands.py
  src/snowflake/cli/_plugins/run/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/run/test_commands.py
  tests/run/test_integration.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: sort imports in project_definition.py for ruff I001
  src/snowflake/cli/api/project/schemas/project_definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add release note for custom-image validate command
  RELEASE-NOTES.md
Due: none

reformat the output of vulnerability scan
  src/snowflake/cli/_plugins/custom_images/constants.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  tests/custom_images/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support image name and image hash in the commands
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/config/image_validation.yaml
  src/snowflake/cli/_plugins/custom_images/constants.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/custom_images/plugin_spec.py
  tests/custom_images/test_commands.py
  tests/custom_images/test_manager.py
  tests_integration/tests_using_container_services/custom_images/test_validate_custom_image.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update the release note
  RELEASE-NOTES.md
Due: none

fix the precommit error
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove the CVE whitelist
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/config/grype_cpu.yaml
  src/snowflake/cli/_plugins/custom_images/config/grype_gpu.yaml
  src/snowflake/cli/_plugins/custom_images/manager.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove tests/logs/snowflake-cli.log
  tests/logs/snowflake-cli.log
Due: none

add a command: snow validate custom-image
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/custom_images/__init__.py
  src/snowflake/cli/_plugins/custom_images/commands.py
  src/snowflake/cli/_plugins/custom_images/config/grype_cpu.yaml
  src/snowflake/cli/_plugins/custom_images/config/grype_gpu.yaml
  src/snowflake/cli/_plugins/custom_images/config/image_validation.yaml
  src/snowflake/cli/_plugins/custom_images/constants.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/custom_images/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/custom_images/__init__.py
  tests/custom_images/test_commands.py
  tests/custom_images/test_manager.py
  tests/logs/snowflake-cli.log
  tests_integration/tests_using_container_services/custom_images/__init__.py
  tests_integration/tests_using_container_services/custom_images/docker/test_invalid_image/Dockerfile
  tests_integration/tests_using_container_services/custom_images/docker/test_missing_packages/Dockerfile
  tests_integration/tests_using_container_services/custom_images/docker/test_missing_packages/entrypoint.sh
  tests_integration/tests_using_container_services/custom_images/docker/test_valid_image/Dockerfile
  tests_integration/tests_using_container_services/custom_images/docker/test_valid_image/entrypoint.sh
  tests_integration/tests_using_container_services/custom_images/test_validate_custom_image.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix the test failure
  src/snowflake/cli/_plugins/custom_images/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/custom_images/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
