Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

more
  .cargo/config.toml
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

pyfix
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

static linking
  .cargo/config.toml
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

static linking
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

here we go again
  .cargo/config.toml
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Update README.md to show uv instead of pipx (#2518)
  README.md
Due: none

SNOW-2176180: restore pyproject
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: code cleanup
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: refactor read command to allow usage in automation
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: reset pyproject
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: rename to workload-identity from workflow-identity
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/workload_identity/__init__.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  src/snowflake/cli/_plugins/auth/workload_identity/plugin_spec.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: deps cleanup
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: auto discovery when proper authenticator
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: fix tests for running outside github CI
  tests/auth/test_oidc_providers.py
Due: none

SNOW-2176180: update snapshots for e2e tests
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

SNOW-2176180: auth workflow-identity read command
  src/snowflake/cli/_plugins/auth/workflow_identity/commands.py
  src/snowflake/cli/_plugins/auth/workflow_identity/manager.py
  src/snowflake/cli/_plugins/auth/workflow_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workflow_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update snapshots for e2e tests 3
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

SNOW-2176180: pre-commit mess cleanup
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: code refactor 2
  src/snowflake/cli/_app/auth/__init__.py
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: add 'id' as project dependency
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

SNOW-2176180: code refactor 1
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: code cleanup
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: auth workload-idenity commands refactor 1
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_commands.py
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: auth workload-idenity commands for managing integrations
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_providers.py
  tests/auth/test_workload_identity_manager.py
  tests_integration/test_workload_identity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: code cleanup
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: POC of snow auth workflow-identity
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/workflow_identity/__init__.py
  src/snowflake/cli/_plugins/auth/workflow_identity/commands.py
  src/snowflake/cli/_plugins/auth/workflow_identity/manager.py
  src/snowflake/cli/_plugins/auth/workflow_identity/plugin_spec.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: add logging
  src/snowflake/cli/_plugins/auth/workload_identity/manager.py
  src/snowflake/cli/_plugins/auth/workload_identity/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update snapshots for e2e tests 2
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

SNOW-2176180: snapshot updates
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-2176180: restore read-token auto discovery
  src/snowflake/cli/_plugins/auth/workload_identity/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_workload_identity_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: pyproject issues
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: refactor fixes
  tests/auth/test_oidc_manager.py
  tests_integration/test_oidc.py
Due: none

SNOW-2176180: after rebase fixes 2
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_manager.py
  tests/auth/test_oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: after rebase fixes
  pyproject.toml
  tests/__snapshots__/test_help_messages.ambr
Due: dependencies-sync

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
