Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

extract common message telemetry test util function
  tests_integration/nativeapp/test_feature_metrics.py
  tests_integration/nativeapp/test_telemetry_errors.py
  tests_integration/test_utils.py
Due: none

Extract non action-related fields in ActionContext to new WorkspaceContext, which is stored as instance field on entities
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/workspace/context.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/common.py
  tests/workspace/test_application_package_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

top level import causing test fails to local import
  tests/app/test_telemetry.py
Due: none

SNOW-1706990 Extract non action-related fields in ActionContext to new WorkspaceContext (#1652)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/workspace/context.py
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/entities/common.py
  tests/workspace/test_application_package_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Use kwargs
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Extract APP_AND_PACKAGE_OPTIONS
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Extract _find_app_and_package_entities function
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1706990 Extract fields in compat module (#1663)
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add test for not programming error
  tests_integration/nativeapp/test_telemetry_errors.py
Due: none

wip
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/policy.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  src/snowflake/cli/api/commands/policy.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/test_version_drop.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add decorator to extract a single app and package from a PDFv2
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Propagate args
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add secret support to spec generation
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/spcs/services/job_utils.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Run int and e2e test after push to main
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_integration_spcs.yaml
Due: none

Run int and e2e test after push to main (#1664)
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_integration_spcs.yaml
Due: none

Use FQN for tmp stage
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Allow converting PDFv1 to PDFv2 in-memory only
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

create abc
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/sql_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Allow converting PDFv1 to PDFv2 in-memory only (#1670)
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add decorator to extract a single app and package from a PDFv2
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  tests_integration/nativeapp/test_bundle.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Introduce StagePath for working with files on stages
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/identifiers.py
  src/snowflake/cli/api/stage_path.py
  tests/git/__snapshots__/test_git_commands.ambr
  tests/git/test_git_commands.py
  tests/stage/test_stage.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1706990 Add decorator to extract a single app and package from a PDFv2 (#1667)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  tests_integration/nativeapp/test_bundle.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Convert `snow app diff` to v2-native
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1706990 Convert `snow app diff` to v2-native (#1671)
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

rewrite tests using factories, fix telemetry logic
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
  tests/test_data/projects/napp_project_with_incorrect_pkg_warehouse/001-shared.sql
  tests/test_data/projects/napp_project_with_incorrect_pkg_warehouse/setup.sql
  tests/test_data/projects/napp_project_with_incorrect_pkg_warehouse/snowflake.yml
  tests_integration/conftest.py
  tests_integration/nativeapp/test_telemetry_errors.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

make errors more generic
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/exceptions.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/exceptions.py
  tests/app/test_telemetry.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1639544: update scripts for building binaries
  .compat/build_snowflake-cli-labs.sh
  scripts/packaging/docker-compose.yaml
  scripts/packaging/python/test_cli_labs_whl.sh
  scripts/packaging/python/test_cli_whl.sh
Due: none

add Windows tests for connections.toml file
  tests/test_config.py
Due: none

SNOW-1639544 automate manual WHL test 3.0.1 (#1676)
  .compat/build_snowflake-cli-labs.sh
  scripts/packaging/docker-compose.yaml
  scripts/packaging/python/test_cli_labs_whl.sh
  scripts/packaging/python/test_cli_whl.sh
Due: none

review fix
  tests/test_config.py
Due: none

add Windows tests for connections.toml permissions (#1677)
  tests/test_config.py
Due: none
