Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Update typing-extensions to 4.16.0
  pylock.toml
Due: none

Add missing new line in pylock file
  RELEASE-NOTES.md
  pylock.toml
Due: none

Sync with 3.27.0 release and Update release notes
  RELEASE-NOTES.md
Due: none

fix(deps): bump jaraco-context to patch CVE-2026-23949
  snyk/requirements.txt
Due: none

Remove parameters to enable remote-build option from cli (#268)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_remote_build.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: table snapshots wrap to 80 columns when TERM is dumb (#291)
  src/snowflake/cli/_app/printing.py
  tests/output/test_printing.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-3723127: Add git_url flag to dbt project (#161)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-4096180: dbt execute: allow source, docs, clean, debug, ls, deps_compile (#293)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4072323] add installer PATH cleanup helper (#276)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/installer_path.py
  tests/helpers/test_clean_installer_path.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4087660] upgrade GitPython to 3.1.62
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

debug: debug
  README.md
Due: none

chore: [SNOW-4087660] upgrade GitPython to 3.1.62 (#301)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Escape angle brackets in generated documentation MDX (#284)
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/_macros.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.mdx.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/test_docs_generation_output.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-2148567] add opt-in prompt format for the SQL REPL (#270)
  README.md
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/prompt_format.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/sql_execution.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_sql_execution.py
  tests/sql/test_prompt_format.py
  tests/sql/test_repl.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Stage upload: raise default concurrency to 32 (benchmarked) (#93)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add CommandDocs metadata and declare it for snow cortex complete (#288)
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/api/commands/test_snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] store and read CommandDocs on the built command (#289)
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/api/commands/test_snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add snow --docs-pages full MDX generator (#290)
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/generator.py
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/api/commands/command_docs.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/test_snow_typer.py
  tests/test_docs_generation_output.py
  tests/test_main.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] show command documentation sections in help (#295)
  .pre-commit-config.yaml
  src/snowflake/cli/api/commands/docs_help.py
  src/snowflake/cli/api/commands/snow_typer.py
  src/snowflake/cli/api/feature_flags.py
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/api/commands/test_docs_help.py
  tests/api/commands/test_snow_typer.py
  tests/output/test_silent_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4075464] accept a user as a grantee in snowflake.yml grants (#285)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/project/test_grants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: accept app.yml version 2 exactly (#171)
  .github/scripts/create_jira_tickets.py
  .github/workflows/daily-cve-check.yaml
  RELEASE-NOTES.md
  docs/dcm/README.md
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/models.py
  src/snowflake/cli/_plugins/dcm/reporters/__init__.py
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  src/snowflake/cli/_plugins/dcm/reporters/base.py
  src/snowflake/cli/_plugins/dcm/reporters/dependencies.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_app_yml.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters/test_analyze_reporter.py
  tests/dcm/test_reporters/test_dependencies_reporter.py
  tests/dcm/test_reporters/utils.py
  tests/dcm/test_utils.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: generate app.yml from snow app setup (feature-flagged) (#169)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/api/feature_flags.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: upgrade python version bundled in binaries (#173)
  RELEASE-NOTES.md
  scripts/linux-binary-testing/README.md
  scripts/linux-binary-testing/test_snowflake_cli_aws.sh
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_python.sh
Due: none

Don't read "errors" property in `snow dcm raw-analyze` command (#175)
  src/snowflake/cli/_plugins/dcm/reporters/analyze.py
  tests/dcm/test_commands.py
  tests/dcm/test_reporters/test_analyze_reporter.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Progress tracking for `snow dcm plan` (#174)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/exceptions.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_progress.py
  tests/dcm/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't require a warehouse for DCM commands (#180)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/progress.py
  tests/dcm/test_progress.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Restrict Snowflake Apps CNG support to app.yml v2 (#203)
  src/snowflake/cli/_plugins/apps/app_yml.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  src/snowflake/cli/api/feature_flags.py
  tests/apps/test_app_yml.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: [SNOW-3972005] upgrade pip to 26.2.1 (#178)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SAR: cleanup failures should never fail a command (#192)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_project_paths.py
  tests/apps/test_snowflake_app_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Render the DCM changeset tree with Rich's `Tree` component (#201)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dcm/multistep_progress.py
  src/snowflake/cli/_plugins/dcm/progress.py
  src/snowflake/cli/_plugins/dcm/reporters/plan.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/tree.py
  src/snowflake/cli/api/console/abc.py
  tests/api/console/test_cli_console_output.py
  tests/dcm/test_manager.py
  tests/dcm/test_multistep_progress.py
  tests/dcm/test_progress.py
  tests/dcm/test_reporters/test_plan_reporter.py
  tests/dcm/test_reporters/utils.py
  tests/dcm/test_tree.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-3659937: remove ENABLE_DBT_PROJECT_PROFILES_FILE_PRECEDENCE flag (#206)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/conftest.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SAR: only delete the bundle directory we created (#193)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/snowflake_app_project_paths.py
  tests/apps/test_snowflake_app_project_paths.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add --instance flag to snow app events for per-instance log retrieval (#207)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

DOC-15509: correct --install-local-deps help text (#219)
  src/snowflake/cli/_plugins/dbt/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump release notes 3.25.0 (#223)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
