Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli.app imports in cli.api
  entry: ^from snowflake\.cli\.app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli.plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-1639544 automate manual WHL checks 2.8.2 (#1675)
  .compat/build_snowflake-cli-labs.sh
  scripts/packaging/docker-compose.yaml
  scripts/packaging/python/test_cli_labs_whl.sh
  scripts/packaging/python/test_cli_whl.sh
Due: none

move temp_dir fixture to tests_common and make more robust
  tests/testing_utils/fixtures.py
  tests_common/conftest.py
  tests_e2e/conftest.py
  tests_integration/conftest.py
Due: none

remove unnecessary import
  tests_common/conftest.py
Due: none

invert with and try-finally block
  tests_common/conftest.py
Due: none

Enforce that paths used for BundleMap and NativeAppCompiler are always absolute
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix tests
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
  tests/workspace/test_application_package_entity.py
Due: none

first draft
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/service.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/exception_handler.py
  tests/api/test_service.py
  tests/nativeapp/test_package_scripts.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add a comment
  src/snowflake/cli/api/entities/service.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove extraneous noqa
  tests_integration/conftest.py
Due: none

add back unused import in case it's needed
  tests_integration/conftest.py
Due: none

SNOW-1639544 disable publishing in gh
  .github/workflows/publish.yaml
Due: none

SNOW-1639544 drop publishing job
  .github/workflows/publish.yaml
Due: none

SNOW-1639544 disable publishing in gh 3.0.1 (#1689)
  .github/workflows/publish.yaml
Due: none

SNOW-1639544 disable publishing in gh 2.8.2 (#1688)
  .github/workflows/publish.yaml
Due: none

Enforce that paths used for BundleMap and NativeAppCompiler are always absolute (#1678)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/codegen/compiler.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_artifacts.py
  tests/workspace/test_application_package_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1639544 automate manual WHL test 3.0.1 (#1676)
  .compat/build_snowflake-cli-labs.sh
  scripts/packaging/docker-compose.yaml
  scripts/packaging/python/test_cli_labs_whl.sh
  scripts/packaging/python/test_cli_whl.sh
Due: none

SNOW-1639544: snowflake-cli-labs 3.0.1 PyPi repo change (#1662)
  .compat/build_snowflake-cli-labs.sh
  .compat/snowflake-cli-labs/LICENSE
  .compat/snowflake-cli-labs/README.md
  .compat/snowflake-cli-labs/RELEASE-NOTES.md
  .compat/snowflake-cli-labs/pyproject.toml
  .compat/snowflake-cli-labs_version_sync.py
  .github/workflows/publish.yaml
  pyproject.toml
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/test_external_plugins.py
Due: dependencies-sync

SNOW-1727801: changes from 3.0.1 release
  .github/workflows/publish.yaml
  README.md
  RELEASE-NOTES.md
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/conftest.py
  tests_e2e/test_error_handling.py
  tests_e2e/test_installation.py
  tests_e2e/test_nativeapp.py
  tests_integration/test_external_plugins.py
Due: none

re ove todo
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

execute script
  src/snowflake/cli/api/entities/service.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

make common test files shared code ownership
  .github/CODEOWNERS
Due: none

Fix package installation for integration tests
  pyproject.toml
Due: dependencies-sync

uninstall non-dev package
  pyproject.toml
Due: dependencies-sync

replace __class__ with type() and is with ==
  src/snowflake/cli/_app/telemetry.py
  tests_integration/nativeapp/test_telemetry_errors.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Uninstall non-dev package before running integration tests
  pyproject.toml
Due: dependencies-sync

first commit - make contract
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/errno.py
  src/snowflake/cli/api/sql_contract.py
  src/snowflake/cli/api/sql_execution.py
  tests/api/test_sql_contract.py
  tests/nativeapp/test_package_scripts.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Change mapping direction
  src/snowflake/cli/_plugins/snowpark/common.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Differentiate test behavior depending on env
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/package/anaconda_packages.py
  tests/snowpark/test_common.py
  tests_integration/conftest.py
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix Snowpark type casting
  src/snowflake/cli/_plugins/snowpark/common.py
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

disable flaky test
  tests_integration/nativeapp/test_bundle.py
Due: none

SNOW-1694005: add runtime option for signing with entitlements
  scripts/packaging/build_darwin_package.sh
Due: none

fixup! disable flaky test
  pyproject.toml
Due: dependencies-sync

Add test
  tests/snowpark/test_function.py
Due: none

test other types
  tests/snowpark/test_function.py
Due: none

fixup! fixup! disable flaky test
  tests_integration/nativeapp/test_large_upload.py
Due: none

fixup! fixup! fixup! disable flaky test
  tests_integration/nativeapp/test_large_upload.py
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$
