Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

dummy commit to trigger tests
  RELEASE-NOTES.md
Due: none

Revert "dummy commit to trigger tests"
  RELEASE-NOTES.md
Due: none

Cherrypicks v3.7.0 (#2208)
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test fix
  tests_integration/test_data/projects/streamlit_v2/snowflake.yml
  tests_integration/test_snowpark.py
  tests_integration/test_streamlit.py
  tests_integration/testing_utils/streamlit_utils.py
Due: none

debug
  scripts/packaging/build_darwin_package.sh
Due: none

remove sudo
  scripts/packaging/build_darwin_package.sh
Due: none

Revert "debug"
  scripts/packaging/build_darwin_package.sh
Due: none

fix installer
  scripts/packaging/build_darwin_package.sh
Due: none

refactor: [SNOW-1890085] set dbt execute subcommand metavar
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/commands/snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] check if dbt project exists before deploying
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

test: [SNOW-1890085] add integration test for simple dbt workflow
  tests_integration/conftest.py
  tests_integration/test_data/projects/dbt_project/dbt_project.yml
  tests_integration/test_data/projects/dbt_project/models/example/my_first_dbt_model.sql
  tests_integration/test_data/projects/dbt_project/models/example/my_second_dbt_model.sql
  tests_integration/test_data/projects/dbt_project/models/example/schema.yml
  tests_integration/test_dbt.py
Due: none

feat: [SNOW-1890085] add dbt command group; add dbt list command
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/dbt/__init__.py
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/_plugins/dbt/plugin_spec.py
  tests/dbt/__init__.py
  tests/dbt/test_dbt_commands.py
  tests/test_help_messages.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] wip: capture success code from server
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] add run_async option
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] implement StdoutExecutionMixin for demo purposes
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] dbt deploy: add support for dbt-version flag
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] add spinner to dbt execute
  src/snowflake/cli/_plugins/dbt/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] update command help texts
  src/snowflake/cli/_plugins/dbt/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] dbt deploy: add execute_in_warehouse flag
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] remove options for dbt_version and dbt_adapter_version
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1890085] reimplement dbt execute as pass-through command group
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-1890085] rename sql object DBT -> DBT PROJECT
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] add dbt execute command
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-1890085] restore lost changes during rebasing
  tests/conftest.py
Due: none

feat: [SNOW-1890085] dbt deploy: use --force to create or replace
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] dbt deploy: provide main file param
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] dbt deploy: add support for dbt-adapter-version flag
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1890085] post code review fixes
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/sql_execution.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: [SNOW-1890085] rename feature flag
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] remove execute_in_warehouse option
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] limit supported dbt commands
  src/snowflake/cli/_plugins/dbt/constants.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1966187] update commands according to backend implementation
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-1890085] use object plugin for listing dbt projects
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/constants.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

test: [SNOW-1890085] unlock dbt help snapshots
  tests/__snapshots__/test_help_messages.ambr
  tests/test_help_messages.py
Due: none

refactor: [SNOW-1890085] hide dbt app behind feature flag
  src/snowflake/cli/_plugins/dbt/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] use SecurePath
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/secure_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1966187] remove StdoutExecutionMixin
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1890085] implement dbt deploy command
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
