Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-2306184: config refactor - track resolution history only when requested
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/observers.py
  src/snowflake/cli/api/config_ng/presentation.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_ng/telemetry_integration.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_connection_replacement.py
  tests/config_ng/test_resolution_logger.py
  tests/config_ng/test_sources.py
  tests/config_ng/test_telemetry_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - ensure file permissions checks - plugins test update
  tests_integration/conftest.py
  tests_integration/plugin/test_broken_plugin.py
  tests_integration/plugin/test_failing_plugin.py
  tests_integration/plugin/test_override_by_external_plugins.py
Due: none

SNOW-2306184: config refactor - top level conn params
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/api/config_provider.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - after rebase fixes 2
  tests/output/test_format_silent_enforcement.py
  tests/output/test_printing.py
Due: none

SNOW-2306184: config refactor - after rebase fixes
  tests/output/test_format_silent_enforcement.py
  tests/output/test_printing.py
Due: none

SNOW-2306184: config refactor - remove tomli conditional import
  src/snowflake/cli/api/config_ng/parsers.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - separate parsing from reading and move history handling logic to own class
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/constants.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/dict_utils.py
  src/snowflake/cli/api/config_ng/merge_operations.py
  src/snowflake/cli/api/config_ng/parsers.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/source_factory.py
  src/snowflake/cli/api/config_ng/source_manager.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/api/test_config_provider.py
  tests/config_ng/test_constants.py
  tests/config_ng/test_merge_operations.py
  tests/config_ng/test_parsers.py
  tests/config_ng/test_snowsql_variables.py
  tests/config_ng/test_sources.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - improve performance for key discovery
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/test_sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - telemetry
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/telemetry_integration.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/metrics.py
  tests/app/test_telemetry.py
  tests/config_ng/test_telemetry_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - telemetry test update
  tests_integration/nativeapp/test_metrics.py
Due: none

SNOW-2306184: config refactor - in memory pk
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/config_ng/test_private_key_cleanup.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - silent exceptions logged as warning with sanitisation
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/sanitizers.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - allow empty connections
  src/snowflake/cli/api/config_provider.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - track resolution history only when requested - fix rebase
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326971] implement dcm preview command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/console/console.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326971] implement dcm preview command (#2701)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/console/console.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326971] cleanup reporting for test and refresh commands
  .pre-commit-config.yaml
  src/snowflake/cli/_app/printing.py
  src/snowflake/cli/_plugins/dcm/reporting.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2412813] single files analyze
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2326969] implement dcm refresh command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/utils.py
  src/snowflake/cli/api/output/types.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: rename processor class used for tests
  tests/nativeapp/codegen/test_compiler.py
Due: none

SNOW-2306184: ms fixes p2
  tests/spcs/test_services.py
Due: none

SNOW-2306184: reformat test_services.py
  tests/spcs/test_services.py
Due: none

SNOW-2306184: ms fixes
  src/snowflake/cli/_app/loggers.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: remove useless comments
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/spcs/test_services.py
  tests/test_config.py
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reorganize imports
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: replace import level singleton with factory created
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/config.py
  tests/conftest.py
  tests/logs/snowflake-cli.log
  tests/test_config.py
  tests/test_main.py
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: reorganize imports 2
  src/snowflake/cli/api/cli_global_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: ms fixes p3
  tests_common/conftest.py
Due: none

SNOW-2306184: config refactory - core abstraction
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  tests/config_ng/__init__.py
  tests/config_ng/test_config_value.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_source_priority.py
  tests/config_ng/test_value_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - cleanup source ConfigValue creation
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/env_handlers.py
  tests/config_ng/test_configuration_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - move key mappings to module level
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/env_handlers.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - helpers command integration
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  tests/config_ng/test_resolution_logger.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - drop tests for language functionality p2
  tests/config_ng/test_config_value.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_source_priority.py
Due: none

SNOW-2306184: config refactor - simplify abstractions
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/env_handlers.py
  src/snowflake/cli/api/config_ng/file_handlers.py
  src/snowflake/cli/api/config_ng/handlers.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/conftest.py
  tests/config_ng/test_cli_argument_source.py
  tests/config_ng/test_config_value.py
  tests/config_ng/test_configuration_resolver.py
  tests/config_ng/test_env_handler_migration.py
  tests/config_ng/test_environment_source.py
  tests/config_ng/test_file_handler_migration.py
  tests/config_ng/test_file_source.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_resolution_history_tracker.py
  tests/config_ng/test_resolver_integration.py
  tests/config_ng/test_snowcli_env_handler.py
  tests/config_ng/test_snowsql_config_handler.py
  tests/config_ng/test_snowsql_config_paths.py
  tests/config_ng/test_snowsql_env_handler.py
  tests/config_ng/test_source_priority.py
  tests/config_ng/test_toml_file_handler.py
  tests/config_ng/test_value_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - gh workflows
  .github/workflows/test.yaml
  .github/workflows/test_integration.yaml
Due: none

SNOW-2306184: config refactory - config testing setup
  tests/config_ng/README_TESTING.md
  tests/config_ng/configs/cli.env
  tests/config_ng/configs/config
  tests/config_ng/configs/config.toml
  tests/config_ng/configs/connections.toml
  tests/config_ng/configs/snowsql.env
  tests/config_ng/conftest.py
  tests/config_ng/test_configuration.py
Due: none

SNOW-2306184: config refactory entry point guarded by env - fix snapshot
  tests/snowpark/__snapshots__/test_function_old_build.ambr
Due: none

SNOW-2306184: config refactory - env vars discovery
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/env_handlers.py
  tests/config_ng/test_env_handler_migration.py
  tests/config_ng/test_snowcli_env_handler.py
  tests/config_ng/test_snowsql_env_handler.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory entry point guarded by env
  src/snowflake/cli/api/config_provider.py
  tests/api/test_config_provider.py
  tests/snowpark/__snapshots__/test_function_old_build.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
