Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Fix numerical version when reading from manifest file (#1602)
  src/snowflake/cli/_plugins/nativeapp/artifacts.py
  src/snowflake/cli/_plugins/nativeapp/version/version_processor.py
  tests/nativeapp/test_artifacts.py
  tests_integration/nativeapp/test_version.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added class to hide variables in tracebacks
  src/snowflake/cli/_app/secret.py
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
  tests/test_snow_connector.py
  tests_integration/snowflake_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added class to hide variables in tracebacks (#1599)
  src/snowflake/cli/_app/secret.py
  src/snowflake/cli/_app/snow_connector.py
  tests/test_connection.py
  tests/test_snow_connector.py
  tests_integration/snowflake_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! Rename ws migrate to migrate-definition
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/__init__.py
  tests/helpers/test_v1_to_v2.py
  tests/workspace/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! Rename ws migrate to migrate-definition
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/helpers/__init__.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_help_messages.py
  tests/workspace/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! fixup! Rename ws migrate to migrate-definition
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests_e2e/__snapshots__/test_installation.ambr
Due: none

Rename ws migrate to migrate-definition
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/migrate/__init__.py
  src/snowflake/cli/_plugins/migrate/commands.py
  src/snowflake/cli/_plugins/migrate/plugin_spec.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/workspace/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Rename ws migrate to migrate-definition (#1598)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/helpers/__init__.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/plugin_spec.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/helpers/__init__.py
  tests/helpers/__snapshots__/test_v1_to_v2.ambr
  tests/helpers/test_v1_to_v2.py
  tests/test_help_messages.py
  tests/workspace/test_manager.py
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! Bring back glob support in streamlit
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bring back glob support in streamlit
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bring back glob support in streamlit (#1605)
  src/snowflake/cli/_plugins/streamlit/streamlit_entity_model.py
  tests/streamlit/__snapshots__/test_commands.ambr
  tests/streamlit/test_commands.py
  tests_integration/test_streamlit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove ws from release notes
  RELEASE-NOTES.md
Due: none

set policy to alwaysallow for deploys to scratch stage
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review fixes
  src/snowflake/cli/api/utils/definition_rendering.py
  tests/api/test_metrics.py
  tests_integration/nativeapp/test_feature_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove unused code from validate
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/policy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add snapshot
  tests/__snapshots__/test_help_messages.ambr
Due: none

Catch error on deploy for package with special comment (#1600)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/application_entity.py
  src/snowflake/cli/_plugins/nativeapp/application_package_entity.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/policy.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  src/snowflake/cli/_plugins/workspace/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
  tests/workspace/test_application_package_entity.py
  tests_integration/nativeapp/test_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

extract metrics update from render_definition_template
  src/snowflake/cli/api/utils/definition_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix key being used for metrics
  src/snowflake/cli/api/utils/definition_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Don't error on a PDFv2 with multiple entities if it's not required
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/nativeapp/test_v2_to_v1.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Don't error on a PDFv2 with multiple entities if it's not required (#1606)
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/nativeapp/test_v2_to_v1.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Really boost the parallelism on integration tests
  pyproject.toml
Due: dependencies-sync

Trigger bundle before looking for manifest, allow passing BundleMap to cls.deploy
  src/snowflake/cli/_plugins/nativeapp/application_package_entity.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Move version create to app package entity
  src/snowflake/cli/_plugins/nativeapp/application_entity.py
  src/snowflake/cli/_plugins/nativeapp/application_package_entity.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/nativeapp/version/version_processor.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/entities/common.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Split nativeapp integration tests
  .github/workflows/test_integration_nativeapp.yaml
  pyproject.toml
Due: dependencies-sync

add -> increment; move snowpark counter check to e2e
  src/snowflake/cli/api/metrics.py
  src/snowflake/cli/api/utils/definition_rendering.py
  tests/api/test_metrics.py
  tests_common/__init__.py
  tests_common/telemetry_utils.py
  tests_e2e/test_nativeapp.py
  tests_integration/nativeapp/test_feature_metrics.py
  tests_integration/test_data/projects/na_snowpark_processor/.gitignore
  tests_integration/test_data/projects/na_snowpark_processor/python/cli_gen/accepted.py
  tests_integration/test_data/projects/na_snowpark_processor/python/cli_gen/errors/e1.py
  tests_integration/test_data/projects/na_snowpark_processor/python/cli_gen/ignored/i1.py
  tests_integration/test_data/projects/na_snowpark_processor/python/cli_gen/udaf/custom_udaf.py
  tests_integration/test_data/projects/na_snowpark_processor/python/cli_gen/udtf/custom_udtf.py
  tests_integration/test_data/projects/na_snowpark_processor/python/user_gen/echo.py
  tests_integration/test_data/projects/na_snowpark_processor/resources/unused.py
  tests_integration/test_data/projects/na_snowpark_processor/root_files/README.md
  tests_integration/test_data/projects/na_snowpark_processor/root_files/_manifest.yml
  tests_integration/test_data/projects/na_snowpark_processor/root_files/setup_scripts/setup.sql
  tests_integration/test_data/projects/na_snowpark_processor/root_files/setup_scripts/user_gen_procs.sql
  tests_integration/test_data/projects/na_snowpark_processor/root_files/setup_scripts/user_gen_udf.sql
  tests_integration/test_data/projects/na_snowpark_processor/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1643309 Move version create to app package entity (#1585)
  src/snowflake/cli/_plugins/nativeapp/application_entity.py
  src/snowflake/cli/_plugins/nativeapp/application_package_entity.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  src/snowflake/cli/_plugins/nativeapp/version/commands.py
  src/snowflake/cli/_plugins/nativeapp/version/version_processor.py
  src/snowflake/cli/_plugins/workspace/commands.py
  src/snowflake/cli/api/entities/common.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix DeprecationWarning
  tests_integration/testing_utils/assertions/test_result_assertions.py
Due: none

Fix DeprecationWarning in tests (#1608)
  tests_integration/testing_utils/assertions/test_result_assertions.py
Due: none

Added integration test for execute streamlit command
  tests_integration/test_streamlit.py
Due: none

Added note for execute command in release note
  RELEASE-NOTES.md
Due: none

Added execute command and tests for Streamlit app
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/stage/__snapshots__/test_stage.ambr
  tests/streamlit/test_commands.py
  tests/streamlit/test_streamlit_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
