Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

build python
  scripts/packaging/Dockerfile
  scripts/packaging/build_isolated_binary_with_hatch.py
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

build python
  .cargo/config.toml
  scripts/packaging/Dockerfile
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

build python
  .cargo/config.toml
  scripts/packaging/Dockerfile
Due: none

build python
  scripts/packaging/Dockerfile
Due: none

build python
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

build python
  scripts/packaging/build_binaries.sh
  scripts/packaging/build_isolated_binary_with_hatch.py
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

older dockerfile
  scripts/packaging/Dockerfile
Due: none

fixes
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

working but ugly version
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/constants.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  src/snowflake/cli/_plugins/container_runtime/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

runnable version
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/container_payload.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  src/snowflake/cli/_plugins/container_runtime/plugin_spec.py
  src/snowflake/cli/_plugins/container_runtime/scripts/startup.sh
  src/snowflake/cli/_plugins/container_runtime/utils.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

improve list experience
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add stage mount and ray dashboard
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/constants.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

init draft
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/container_runtime/__init__.py
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/constants.py
  src/snowflake/cli/_plugins/container_runtime/container_payload.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  src/snowflake/cli/_plugins/container_runtime/plugin_spec.py
  src/snowflake/cli/_plugins/container_runtime/scripts/startup.sh
  src/snowflake/cli/_plugins/container_runtime/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update version
  src/snowflake/cli/_plugins/container_runtime/constants.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add setup-ssh for container-runtime
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  src/snowflake/cli/_plugins/container_runtime/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

random improvement
  src/snowflake/cli/_plugins/container_runtime/constants.py
  src/snowflake/cli/_plugins/container_runtime/container_payload.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

maybe faster build
  scripts/packaging/Dockerfile
  scripts/packaging/build_isolated_binary_with_hatch.py
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Simplify implementation of remove_key_from_nested_dict_if_exists
  src/snowflake/cli/api/utils/dict_utils.py
  tests/api/utils/test_dict_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Jw/snow 2186234 rename project to dcm (#2482)
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/dcm/__init__.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/plugin_spec.py
  src/snowflake/cli/api/constants.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__init__.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_project_entity_model.py
  tests/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

check if path locally exists or is just a string
  RELEASE-NOTES.md
  src/snowflake/cli/api/stage_path.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2210870 Proper `is_dir` and `is_file` implementations
  RELEASE-NOTES.md
  src/snowflake/cli/api/stage_path.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixed transient dependencies
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

mraba/pre-commit-dep-sync: sync deps in one step
  .pre-commit-config.yaml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

update subdependencies
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

added empty file
  .empty
Due: none

dependabot/pip/snowflake-core-1.6.0: deps lock
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2210870 Proper `is_dir` and `is_file` implementations (#2501)
  RELEASE-NOTES.md
  src/snowflake/cli/api/stage_path.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix StagePath.is_dir()
  src/snowflake/cli/api/stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Some code cleanup. Still WIP
  src/snowflake/cli/_plugins/container_runtime/commands.py
  src/snowflake/cli/_plugins/container_runtime/container_spec.py
  src/snowflake/cli/_plugins/container_runtime/manager.py
  src/snowflake/cli/_plugins/container_runtime/scripts/startup.sh
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2210870 fix StagePath.is_dir() (#2504)
  src/snowflake/cli/api/stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump version to v3.10.1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix: [SNOW-2193494] Use name part of FQN for DBT temporary stage creation
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update snowflake-connector-python to 3.16.0
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
