Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-2306184: config refactor - drop examples
  src/snowflake/cli/_plugins/helpers/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - in memory pk
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/config_ng/test_private_key_cleanup.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - tests for value masking
  src/snowflake/cli/_plugins/connection/commands.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - top level conn params
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/api/config_provider.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: add --connection for resolution report
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/config_ng/presentation.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  tests/config_ng/test_resolution_logger.py
  tests/helpers/test_show_config_sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: add readme.md with design notes
  src/snowflake/cli/api/config_ng/README.md
Due: none

Adding support for private_key_file_pwd field from connections.toml
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Adding unit tests for private_key_file_pwd and ensure that PRIVATE_KEY_PASSPHRASE is prefered
  tests/test.toml
  tests/test_connection.py
  tests/test_snow_connector.py
Due: none

Use get instead of pop
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes
  RELEASE-NOTES.md
Due: none

Applying graphite suggested fixes
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: delete existing symlink before deploy root validation in symlink_or_copy
  src/snowflake/cli/api/artifacts/utils.py
  tests/api/utils/test_path_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3008909] implement version support for dbt commands
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fixed SNOW-3018675
  pyproject.toml
  src/snowflake/cli/api/secure_utils.py
  uv.lock
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Restrict pywin32 dependency to Windows platform
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  uv.lock
Due: dependencies-sync

fix quoted id in status and kill
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove default image
  src/snowflake/cli/_plugins/spark/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-3008909] follow redirect in test
  tests_integration/test_data/projects/snowpark_external_access_v1/app/app.py
  tests_integration/test_data/projects/snowpark_external_access_v2/app/app.py
Due: none

feat: [SNOW-3008909] implement version support for dbt commands (#2737)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_data/projects/snowpark_external_access_v1/app/app.py
  tests_integration/test_data/projects/snowpark_external_access_v2/app/app.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump version to v3.15.0-rc1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/snowpark-external-access-integration-update: add headers for CD… (#2735)
  tests_integration/test_data/projects/snowpark_external_access_v1/app/app.py
  tests_integration/test_data/projects/snowpark_external_access_v2/app/app.py
Due: none

NO-SNOW: Add universal driver testing
  .github/workflows/ud-manual-tests.yaml
  output/bundle/streamlit/main.py
  pyproject.toml
Due: dependencies-sync

fixup! NO-SNOW: Add universal driver testing
  .github/workflows/ud-manual-tests.yaml
  pyproject.toml
Due: dependencies-sync

fixup! fixup! NO-SNOW: Add universal driver testing
  output/bundle/streamlit/main.py
Due: none

NO-SNOW: Add universal driver testing (#2746)
  .github/workflows/ud-manual-tests.yaml
  pyproject.toml
Due: dependencies-sync

Add agent environment detection to telemetry
  src/snowflake/cli/_app/telemetry.py
  tests/app/test_telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Improve CI/CD environment detection in telemetry
  src/snowflake/cli/_app/telemetry.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add tests for new CI/CD environment detection
  tests/app/test_telemetry.py
Due: none

Revert uv.lock state
  uv.lock
Due: none

Add unit tests for AI agent environment detection
  tests/app/test_telemetry.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: dependencies-sync

fix: [SNOW-3032963] support case-insensitive authenticators
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
  tests_integration/test_temporary_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3032963] support case-insensitive authenticators (#2750)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
  tests_integration/test_temporary_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2910609] add --in-account option
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/object/command_aliases.py
  src/snowflake/cli/_plugins/object/commands.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/spcs/image_repository/commands.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/api/commands/snow_typer.py
  src/snowflake/cli/api/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/object/test_object.py
  tests_integration/test_object.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
