Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Add package scripts warning back (#1764)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/test_feature_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Test fix
  tests_integration/__snapshots__/test_git.ambr
Due: none

Grammar fixes in use-facing strings (#1777)
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/nativeapp/codegen/artifact_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/codegen/setup/native_app_setup_processor.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/extension_function_utils.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/snowpark/package/anaconda_packages.py
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/stage/md5.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add event table check for NONE case and fix error message formatting (#1767)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/api/exceptions.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1754872: display warning on windows for too wide permissions (#1778)
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump rc version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

extract base sql executor
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/sql_execution.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/utils/definition_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix
  src/snowflake/cli/api/project/schemas/project_definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix stage unit tests
  tests/stage/test_stage.py
Due: none

Convert app package deploy and validate to instance methods
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Prepare git references to merge to the main branch
  tests_integration/__snapshots__/test_git.ambr
  tests_integration/test_git.py
Due: none

fix
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/project_definition.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

simplify sql executor interface, add docstrings, update paths for mocks
  src/snowflake/cli/_plugins/cortex/manager.py
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/notebook/manager.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/package/anaconda_packages.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  src/snowflake/cli/_plugins/spcs/image_repository/manager.py
  src/snowflake/cli/_plugins/spcs/services/manager.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/manager.py
  src/snowflake/cli/api/sql_execution.py
  test_external_plugins/multilingual_hello_command_group/src/snowflakecli/test_plugins/multilingual_hello/manager.py
  test_external_plugins/snowpark_hello_single_command/src/snowflakecli/test_plugins/snowpark_hello/manager.py
  tests/git/test_git_commands.py
  tests/nativeapp/utils.py
  tests/notebook/test_notebook_manager.py
  tests/snowpark/test_package.py
  tests/spcs/test_compute_pool.py
  tests/spcs/test_image_repository.py
  tests/spcs/test_registry.py
  tests/spcs/test_services.py
  tests/stage/test_stage.py
  tests/streamlit/test_streamlit_manager.py
  tests/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Disable post-deploy hooks when deploying to scratch stage
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add pytest-xdist to optional deps, run unit tests in parallel
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

[SNOW-1758029] Removed necessity of requirements.txt for git execute (#1776)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
  tests_integration/__snapshots__/test_git.ambr
  tests_integration/__snapshots__/test_stage.ambr
  tests_integration/test_data/projects/stage_execute_without_requirements/script_template.py
  tests_integration/test_git.py
  tests_integration/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Unskip test added in #1776
  tests_integration/test_git.py
Due: none

Fix for mixins applied twice (#1779)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/utils/definition_rendering.py
  tests/project/test_project_definition_v2.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add package scripts warning back (#1764)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_version_create.py
  tests_integration/nativeapp/test_feature_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add package scripts warning back (#1764) (#1784)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_version_create.py
  tests_integration/nativeapp/test_feature_metrics.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-1758715 Convert app package deploy and validate to instance methods (#1782)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_version_create.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Convert small classmethods in entities to instance methods
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

implement metric steps with tests
  src/snowflake/cli/api/metrics.py
  tests/api/test_metrics_counters.py
  tests/api/test_metrics_steps.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Unskip test added in #1776 (#1783)
  tests_integration/test_git.py
Due: none

Remove rc suffix from 3.1.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1758715 Convert small classmethods in entities to instance methods (#1785)
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/test_version_create.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added unit test confirming the bug
  tests/test_config.py
  tests/testing_utils/fixtures.py
Due: none

Unit test fix
  tests/test_config.py
Due: none

Convert execute_post_deploy_hooks to instance method
  src/snowflake/cli/_plugins/nativeapp/entities/application.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_post_deploy_for_app.py
  tests/nativeapp/test_post_deploy_for_package.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
