Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Remove NativeAppRunProcessor
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove NativeAppVersionDropProcessor
  src/snowflake/cli/_plugins/nativeapp/version/version_processor.py
  tests/nativeapp/test_version_drop.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

convert key present check to value not falsy check
  src/snowflake/cli/_app/telemetry.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! Fix stage list-files for directory paths
  tests/__snapshots__/test_help_messages.ambr
Due: none

Add python to git execute help
  src/snowflake/cli/_plugins/git/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix stage list-files for directory paths (#1737)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_stage.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

introduce subclasses and add more telemetry for ProgrammingErrors (#1651)
  .github/CODEOWNERS
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/exceptions.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/exceptions.py
  src/snowflake/cli/api/sql_execution.py
  tests/app/test_telemetry.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_post_deploy_for_package.py
  tests/nativeapp/test_run_processor.py
  tests/test_sql.py
  tests/testing_utils/fixtures.py
  tests_common/conftest.py
  tests_e2e/conftest.py
  tests_integration/conftest.py
  tests_integration/nativeapp/test_feature_metrics.py
  tests_integration/nativeapp/test_telemetry_errors.py
  tests_integration/test_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add python to git execute help (#1741)
  src/snowflake/cli/_plugins/git/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release-notes for 3.1.0
  RELEASE-NOTES.md
  scripts/main.py
Due: none

Change version to RC
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to 3.2.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release-notes for 3.1.0 (#1742)
  RELEASE-NOTES.md
  scripts/main.py
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1706990 Remove NativeAppRunProcessor (#1738)
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Defer package script conversion until PDFv2 is loaded into Pydantic (#1735)
  src/snowflake/cli/_plugins/nativeapp/v2_conversions/compat.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/project/definition_conversion.py
  tests/project/test_project_definition_v2.py
  tests_integration/nativeapp/test_project_templating.py
  tests_integration/test_data/projects/napp_templates_processors_v1/app/setup_script.sql
  tests_integration/test_data/projects/napp_templates_processors_v2/app/setup_script.sql
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

create separate enum for use object
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/constants.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

combine CMs
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-1706990 Remove NativeAppVersionDropProcessor (#1739)
  src/snowflake/cli/_plugins/nativeapp/version/version_processor.py
  tests/nativeapp/test_version_drop.py
  tests/nativeapp/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

use kwargs to call execute
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  tests/nativeapp/test_package_scripts.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

don't pass post deploy/package scripts when validating and convert tests to use factories
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests_integration/nativeapp/test_validate.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

catch programminerror specifically, remove error message from catch all case
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update test_manager for deploy in validate with no post deploy/package scripts
  tests/nativeapp/test_manager.py
Due: none

Add SNOWFLAKE_HOME information to --info
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
  tests/test_main.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Store display_path for package scripts converted to post-deploy hooks
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests_integration/nativeapp/test_post_deploy.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

set column min width
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  tests/api/test_global_cli_context.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

add printing
  src/snowflake/cli/_app/printing.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

remove bad comment
  tests_integration/nativeapp/test_validate.py
Due: none

nativeapp_project_directory -> nativeapp_teardown
  tests_integration/nativeapp/test_validate.py
Due: none

update docstrings and log
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Make display_path private so it can't be set by the user
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/project/schemas/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add unwrapped table output support for pagers and text files.
  src/snowflake/cli/_app/printing.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

formatting
  src/snowflake/cli/api/commands/decorators.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

don't pass post deploy/package scripts when validating and convert tests to use factories (#1743)
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/test_validate.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

minor fixes
  src/snowflake/cli/_app/printing.py
  tests/api/test_global_cli_context.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Remove NativeAppManager and move NativeAppProjectModel to tests only
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/project_model.py
  src/snowflake/cli/_plugins/nativeapp/same_account_install_method.py
  tests/api/utils/test_definition_rendering.py
  tests/nativeapp/codegen/snowpark/test_python_processor.py
  tests/nativeapp/codegen/test_compiler.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_project_model.py
  tests/nativeapp/test_run_processor.py
  tests/nativeapp/utils.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update test_project_schema_is_updated_correctly_from_dict
  tests/project/test_project_schemas.py
  tests/testing_utils/fixtures.py
Due: none

fix test
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

address comments
  src/snowflake/cli/_plugins/nativeapp/sf_facade_constants.py
  src/snowflake/cli/_plugins/nativeapp/sf_facade_exceptions.py
  src/snowflake/cli/_plugins/nativeapp/sf_sql_facade.py
  src/snowflake/cli/api/constants.py
  tests/nativeapp/test_sf_sql_facade.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

mraba/generate-jwt-help-updated: update help message
  src/snowflake/cli/_plugins/connection/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

mraba/generate-jwt-help-updated: update help message (#1750)
  src/snowflake/cli/_plugins/connection/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
