Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

fix: recreate snow app code stage before upload
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add env var tests for server_session_keep_alive
  tests/config_ng/test_configuration.py
Due: none

feat: add --server-session-keep-alive flag for connections
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: add --no-server-session-keep-alive to global flag
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: add warning when overriding server_session_keep_alive
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: add release note for --server-session-keep-alive flag
  RELEASE-NOTES.md
Due: none

test: add unit tests for server_session_keep_alive
  tests/test_connection.py
  tests/test_snow_connector.py
Due: none

fix: exclude server_session_keep_alive from interactive prompts
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add --server-session-keep-alive option to snow connection add
  src/snowflake/cli/_plugins/connection/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add server_session_keep_alive to config_ng env config keys
  src/snowflake/cli/api/config_ng/sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

revert: use is_flag=True for ServerSessionKeepAliveOption
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: add server_session_keep_alive to ConnectionConfig
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

docs: move release note to unreleased version section
  RELEASE-NOTES.md
Due: none

test: update snapshot for connection add help message
  tests/__snapshots__/test_help_messages.ambr
Due: none

fix: use is_flag=True for connection add --server-session-keep-alive
  src/snowflake/cli/_plugins/connection/commands.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2457402 Encoding handling fixes
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/api/config.py
  tests/test_config.py
  tests/test_main.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: add --server-session-keep-alive flag for connections (#3100)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/config_ng/test_configuration.py
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_connection.py
  tests/test_snow_connector.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3444081] add --use-shell-env-vars to snow dbt execute
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-3444081] address PR review for env-var handling
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: [SNOW-3444081] clarify --env-vars fallback for dropped secrets
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: exclude MAIN_FILE from ALTER STREAMLIT SET for versioned (embedded-stage) apps
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: diff-based ALTER STREAMLIT — only set properties that changed
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: use ALTER STREAMLIT instead of CREATE OR REPLACE for existing apps
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: remove duplicate inline import shutil causing black to fail on Python 3.14
  tests/streamlit/test_streamlit_commands.py
Due: none

style: fix import ordering per ruff I001
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: split merged release notes bullet into two separate entries
  RELEASE-NOTES.md
Due: none

fix: use to_identifier/to_string_literal to prevent SQL injection in streamlit SQL generation
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: fix black formatting, remove uv.lock, add release notes
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: update nativeapp children test for unquoted streamlit warehouse identifier
  tests/nativeapp/test_children.py
Due: none

fix: deduplicate release notes bullets after repeated rebases
  RELEASE-NOTES.md
Due: none

test: add failing tests for sync command
  tests/feature/test_commands.py
Due: none

test: add failing tests for FeatureManager.sync
  tests/feature/test_manager_sync.py
Due: none

feat: implement snow feature sync command
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager_sync.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: update for sync command and name_filter
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

fix: raise CliError when --name filter matches no deployed objects in sync
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix(loggers): explicitly set propagate=True in LoggerConfig
  src/snowflake/cli/_app/loggers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3444081] add --use-shell-env-vars to snow dbt execute (#3108)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix test
  tests/test_main.py
Due: none

fix(loggers): preserve external root handlers across dictConfig calls
  src/snowflake/cli/_app/loggers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add deploy privilege checks to snow app validate
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
