Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-2306184: config refactor - tests-ng fix
  .github/workflows/test.yaml
Due: none

SNOW-2306184: config refactor - list connections --all
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config_provider.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_config_provider_integration.py
  tests/test_connection.py
  tests_e2e/__snapshots__/test_import_snowsql_connections_config_ng.ambr
  tests_e2e/__snapshots__/test_import_snowsql_connections_legacy.ambr
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
  tests_integration/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - snapshot COLUMNS=200
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/conftest.py
Due: none

SNOW-2306184: config refactor - e2e fix attempt 5b
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
  tests_e2e/test_import_snowsql_connections.py
Due: none

SNOW-2306184: config refactor - simplified implementation
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/config_ng/conftest.py
  tests/config_ng/test_configuration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - snapshot fix 3
  tests_integration/plugin/__snapshots__/test_broken_plugin_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_failing_plugin_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_override_by_external_plugins_config_ng.ambr
Due: none

SNOW-2306184: config refactor - restore temp conn
  src/snowflake/cli/api/connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - connections toml merging split
  src/snowflake/cli/api/config_provider.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - e2e fix attempt 5a
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
Due: none

SNOW-2306184: config refactor - cleanup 3
  pyproject.toml
Due: dependencies-sync

SNOW-2306184: config refactor - e2e fix attempt
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/test_connection.py
  tests_e2e/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - invalidate singleton between tests
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_provider.py
  tests/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - connections.toml legacy behaviour
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_configuration.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - e2e fix attempt 3
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
Due: none

SNOW-2306184: config refactor - cli env update
  src/snowflake/cli/api/config_ng/sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - improve resolution raport
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  src/snowflake/cli/api/config_ng/resolver.py
  tests/helpers/test_show_config_sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - show-config-sources tests
  tests/helpers/test_show_config_sources.py
Due: none

SNOW-2306184: config refactor - snapshot fix 2
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/conftest.py
Due: none

SNOW-2306184: config refactor - old & new unit tests pass
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - snowsql env support
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - e2e fix attempt 5
  .github/workflows/test.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
  pyproject.toml
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
  tests_integration/plugin/__snapshots__/test_broken_plugin.ambr
  tests_integration/plugin/__snapshots__/test_failing_plugin.ambr
  tests_integration/plugin/__snapshots__/test_override_by_external_plugins.ambr
Due: dependencies-sync

SNOW-2306184: config refactor - old & new unit tests
  tests_integration/conftest.py
Due: none

SNOW-2306184: config refactor - clean tmp files
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_private_key_cleanup.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - connection level overwrite for config merging
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/presentation.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_configuration.py
  tests/config_ng/test_connection_replacement.py
  tests/config_ng/test_resolution_logger.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - improve connections env parsing
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_env_parsing.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - thread safe singleton
  src/snowflake/cli/api/config_provider.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - variables merge
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/test_snowsql_variables.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - test fix
  tests_e2e/test_error_handling.py
Due: none

SNOW-2306184: config refactor - sanitize logging
  src/snowflake/cli/api/config_ng/resolver.py
  tests/config_ng/test_resolver_logging.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - track resolution history only when requested - fix win tests
  tests/config_ng/conftest.py
  tests/config_ng/test_resolution_logger.py
Due: none

SNOW-2306184: config refactor - test fix 2
  src/snowflake/cli/api/config_provider.py
  tests/test_config_provider_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - ensure file permissions checks
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/conftest.py
  tests/config_ng/test_sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - allow empty connections test fix
  tests/config_ng/test_connection_replacement.py
Due: none

SNOW-2306184: config refactor - value masking for ResolutionHistory
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/masking.py
  src/snowflake/cli/api/config_ng/presentation.py
  tests/config_ng/test_resolution_logger.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - remove comments
  src/snowflake/cli/api/config_ng/parsers.py
  src/snowflake/cli/api/config_ng/presentation.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_ng/telemetry_integration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - Release Notes
  RELEASE-NOTES.md
Due: none

SNOW-2306184: config refactor - oauth typo
  src/snowflake/cli/api/config.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - silent exceptions logged as warning with sanitisation 2
  src/snowflake/cli/api/config_ng/sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - try_cast_to_bool compatibility added
  src/snowflake/cli/api/config_ng/sources.py
  tests/config_ng/test_configuration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - tests for value masking
  src/snowflake/cli/_plugins/connection/commands.py
  tests/test_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
