Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

SNOW-1565541 Implement fetching events shared from consumer account (#1427)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
  tests_integration/nativeapp/test_events.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix IndexError when app has no events
  src/snowflake/cli/_plugins/nativeapp/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update test case to handle it
  tests/nativeapp/test_manager.py
Due: none

entity model generic type on base class
  src/snowflake/cli/_plugins/workspace/execution_context.py
  src/snowflake/cli/api/entities/application_entity.py
  src/snowflake/cli/api/entities/application_package_entity.py
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/entities/streamlit_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix IndexError when app has no events (#1432)
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

strcuts -> common + docstrings
  src/snowflake/cli/_plugins/git/commands.py
  src/snowflake/cli/_plugins/stage/commands.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/commands/common.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/commands/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

pr nits
  src/snowflake/cli/_plugins/workspace/manager.py
  src/snowflake/cli/api/commands/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

name -> identifier
  src/snowflake/cli/api/entities/application_package_entity.py
  tests/test_data/projects/workspaces_simple/snowflake.yml
  tests_integration/test_data/projects/workspaces_simple/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add missing teardown to integration test
  tests_integration/nativeapp/test_project_templating.py
Due: none

Add missing teardown to integration test (#1438)
  tests_integration/nativeapp/test_project_templating.py
Due: none

build model_to_entity_map dynamically
  src/snowflake/cli/api/entities/common.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

remove unused execution ctx
  src/snowflake/cli/_plugins/workspace/execution_context.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

specifying generic types for snowpark entities
  src/snowflake/cli/api/entities/snowpark_entity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

action_bundle
  src/snowflake/cli/api/entities/application_package_entity.py
  src/snowflake/cli/api/entities/common.py
  tests/workspace/test_application_package_entity.py
  tests/workspace/test_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix git integration tests (#1414)
  tests_integration/test_git.py
Due: none

Unhide snow app events command
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add to release notes
  RELEASE-NOTES.md
Due: none

Update snapshots
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-1565544 Unhide snow app events command (#1431)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add option to pass app installation hash
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add test case
  tests/nativeapp/test_manager.py
Due: none

Update snapshot
  tests/__snapshots__/test_help_messages.ambr
Due: none

SNOW-1623352 Add option to pass app installation hash (#1441)
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add exception and OverridableParamete
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/commands/overridable_parameter.py
  src/snowflake/cli/api/exceptions.py
  tests/api/commands/__snapshots__/test_flags.ambr
  tests/api/commands/test_flags.py
  tests/cortex/test_cortex_commands.py
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/spcs/test_image_repository.py
  tests/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add incompatible error message to app events command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/object/commands.py
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/commands/overrideable_parameter.py
  src/snowflake/cli/api/exceptions.py
  tests/__snapshots__/test_help_messages.ambr
  tests/__snapshots__/test_sql.ambr
  tests/api/commands/__snapshots__/test_flags.ambr
  tests/cortex/test_cortex_commands.py
  tests/object/test_object.py
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/test_sql.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_events.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Update error message to be more understandable
  src/snowflake/cli/api/exceptions.py
  tests/api/commands/__snapshots__/test_flags.ambr
  tests/cortex/test_cortex_commands.py
  tests/object/test_object.py
  tests/spcs/__snapshots__/test_image_repository.ambr
  tests/test_sql.py
  tests/testing_utils/result_assertions.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_events.py
  tests_integration/testing_utils/assertions/test_result_assertions.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add ignore type flag
  tests_integration/testing_utils/assertions/test_result_assertions.py
Due: none

Update test name
  tests/test_sql.py
Due: none

Remove unused imports
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/_plugins/sql/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Rename option and argument
  src/snowflake/cli/_plugins/cortex/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add command
  src/snowflake/cli/_plugins/cortex/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix pre-commit files
  src/snowflake/cli/_plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Solution
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Reformat
  tests/test_connection.py
Due: none
