Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-2176180: use oidc for auto detection only if provider is OIDC
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: do not log to console oidc auto detection
  src/snowflake/cli/_app/auth/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: debug2
  pyproject.toml
  tests_integration/test_oidc.py
Due: dependencies-sync

SNOW-2176180: pre release connector test
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: add connection option workload-identity-provider
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_workload_identity.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update the value checks
  src/snowflake/cli/_plugins/auth/oidc/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: bump connetor python to 3.17
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: update integration tests
  tests_integration/test_oidc.py
Due: none

SNOW-2176180: restore dependencies
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: fix typos 2
  src/snowflake/cli/api/commands/flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: cr fixes - p1
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/__snapshots__/test_connection.ambr
  tests_integration/test_oidc.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: snaptshot updates
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_oidc.py
Due: none

SNOW-2176180: CR remove comments
  tests/auth/test_oidc_manager.py
Due: none

SNOW-2176180: bump connector to 3.17.1
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

SNOW-2176180: renamed setup to create-user, dropped list in snow auth oidc
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: update test snapshots
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
Due: none

SNOW-2176180: debug
  tests_integration/test_oidc.py
Due: none

SNOW-2176180: support for workload identity provider in snow connection add
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2176180: renamed federated-user to user-name and RELEASE-NOTES update
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_manager.py
  tests_integration/test_oidc.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2264068 auth OIDC updated (#2541)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/auth/test_oidc_manager.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_connection.py
  tests/test_snow_connector.py
  tests/test_workload_identity.py
  tests_integration/test_oidc.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

feat: [SNOW-2261820] dcm: use temp stages to store project files (#2539)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project/snowflake.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/snowflake.yml
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [NO-SNOW] update release notes for 3.10.1 (#2543)
  RELEASE-NOTES.md
Due: none

Bump version to v3.11.0-rc1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try to minimize the binary
  scripts/packaging/Dockerfile
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2264068 auth OIDC updated (#2541) (#2552)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/commands/decorators.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/connections.py
  tests/__snapshots__/test_connection.ambr
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/auth/test_oidc_manager.py
  tests/nativeapp/test_sf_sql_facade.py
  tests/output/__snapshots__/test_silent_output.ambr
  tests/test_common_decorators.py
  tests/test_connection.py
  tests/test_snow_connector.py
  tests/test_workload_identity.py
  tests_integration/test_oidc.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

bring libffi back
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

stripping python from not needed stuff
  scripts/packaging/Dockerfile
Due: none

remove more
  scripts/packaging/Dockerfile
Due: none

enable remote ssh connection
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

keep `_distutils_hack`
  scripts/packaging/Dockerfile
Due: none

keep pip and setuptools
  scripts/packaging/Dockerfile
Due: none

selectively copy python
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

just install uv and hatch
  scripts/packaging/Dockerfile
Due: none

keep venv, pyapp needs it
  scripts/packaging/Dockerfile
Due: none

SNOW-2247516-spsc-tests-warmup
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

SNOW-2247516: move warm up to fixture after set up before tests
  tests_integration/tests_using_container_services/spcs/test_services.py
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

SNOW-2247516: fix typo in command name
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none

keep venv, pyapp needs it
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2247516: show output_result on failed assertion
  tests_integration/tests_using_container_services/spcs/testing_utils/spcs_services_utils.py
Due: none
