Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

SNOW-3475086 Added a new --delta option to the snow dcm plan command (#2961)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Move unreleased release notes into v3.17.0 section (#3000)
  RELEASE-NOTES.md
Due: none

Snowflake Apps: support managed compute pools (#2952)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: pin step-7 verifier-parser brittleness contract
  tests/feature/test_bug_bash_consistency.py
Due: none

test: pin step-17 declarative-cleanup contract on doc + verify script
  tests/feature/test_bug_bash_consistency.py
Due: none

test: end-to-end re-plan idempotency tests for FeatureManager
  tests/feature/test_replan_idempotency.py
Due: none

test: red phase for verify_bug_bash.sh wheel-staleness preflight
  tests/feature/test_verify_script_preflight.py
Due: none

style: black-reformat test_verify_script_preflight.py
  tests/feature/test_verify_script_preflight.py
Due: none

fix: bump GitPython to 3.1.49 (CVE-2026-44244)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
Due: dependencies-sync

fix: Failing sandbox test on macOS
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing test pinning manager.plan name case-preservation
  tests/feature/test_replan_idempotency.py
Due: none

fix(plan): preserve op name case in manager.plan op stream
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: pin refused-status plan-file lifecycle in manager apply path
  tests/feature/test_manager.py
Due: none

docs: enumerate apply() status values in CLI DESIGN.md
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

update test
  lib/snowflake_ml_feature_store_decl-0.1.0-py3-none-any.whl
Due: none

feat: [SNOW-3492124] set hostArchitectures attribute (#2992)
  RELEASE-NOTES.md
  scripts/packaging/macos/Distribution.xml
Due: none

review: address sfc-gh-jwilkowski feedback
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: support private_key_file_pwd in connections.toml (SNOW-3012806)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config.py
  tests/test_connection.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

style: apply black formatting to _load_pem_to_der
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: update assert_called_with for new _load_pem_to_der signature
  tests/test_snow_connector.py
Due: none

fix: address code review feedback for streamlit logs command
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: switch from websockets to websocket-client library
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

chore: move local imports to top level and update copyright to 2026
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address self-review findings for streamlit logs command
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: add proto_codec layer, DeveloperApiToken, tests, and polish
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add --name flag and SPCSv2 runtime validation to streamlit logs
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: add `snow streamlit logs` command for live log streaming
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/developer/v1/logs_service.proto
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

fix: update help message snapshots for streamlit logs command
  tests/__snapshots__/test_help_messages.ambr
Due: none

Address PR #2773 follow-up review comments (round 2)
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/README.md
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/logs_service_pb2.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: address review feedback for streamlit logs command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/streamlit/commands.py
  src/snowflake/cli/_plugins/streamlit/log_streaming.py
  src/snowflake/cli/_plugins/streamlit/proto/README.md
  src/snowflake/cli/_plugins/streamlit/proto/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/developer/v1/logs_service.proto
  src/snowflake/cli/_plugins/streamlit/proto/generated/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto/generated/developer/v1/__init__.py
  src/snowflake/cli/_plugins/streamlit/proto_codec.py
  tests/streamlit/__init__.py
  tests/streamlit/test_streamlit_logs.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Bump version to v3.17.0
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: refresh streamlit logs help snapshot for --secondary-roles
  tests/__snapshots__/test_help_messages.ambr
Due: none

Emit MDX from the --docs generator
  RELEASE-NOTES.md
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/project_definition_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/definition_description.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/definition_description.rst.jinja2
  src/snowflake/cli/_app/dev/docs/templates/overview.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/overview.rst.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.rst.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/test_docs_generation_output.py
Due: avoid-snowcli, use-local-requirements-model

docs: move streamlit logs release note to Unreleased
  RELEASE-NOTES.md
Due: none

Snowflake Apps: add loading spinner to all "snow app" queries (#3001)
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
