Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

chore: general improvements
  .gitignore
  RELEASE-NOTES.md
  conftest.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/spcs/compute_pool/manager.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/project/util.py
  src/snowflake/cli/api/secure_path.py
  src/snowflake/cli/api/secure_utils.py
  src/snowflake/cli/api/stage_path.py
  tests/api/test_secure_path.py
  tests/api/test_secure_utils.py
  tests/app/test_version_check.py
  tests/custom_images/test_commands.py
  tests/git/test_git_commands.py
  tests/project/test_util.py
  tests/spcs/test_compute_pool.py
  tests/stage/test_stage.py
  tests/stage/test_stage_path.py
  tests/test_config.py
  tests/test_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Bump release notes 3.27.0
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: fix release notes for v3.27.0 (#282)
  RELEASE-NOTES.md
Due: none

Don't let telemetry open a connection (SNOW-4065113)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/telemetry.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/connections.py
  tests/api/test_connections.py
  tests/app/test_telemetry.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Remove parameters to enable remote-build option from cli
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/spcs/services/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/spcs/test_remote_build.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: table snapshots wrap to 80 columns when TERM is dumb
  src/snowflake/cli/_app/printing.py
  tests/output/test_printing.py
Due: avoid-snowcli, use-local-requirements-model

SNOW-3723127: Add git_url flag to dbt project
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-4096180: dbt execute: allow source, docs, clean, debug, ls, deps_compile
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/constants.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4072323] add installer PATH cleanup helper
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/helpers/installer_path.py
  tests/helpers/test_clean_installer_path.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4087660] upgrade GitPython to 3.1.62
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Escape angle brackets in generated documentation MDX
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/_macros.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.mdx.jinja2
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/test_docs_generation_output.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-2148567] add opt-in prompt format for the SQL REPL
  README.md
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/prompt_format.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/sql_execution.py
  tests/__snapshots__/test_help_messages.ambr
  tests/api/test_sql_execution.py
  tests/sql/test_prompt_format.py
  tests/sql/test_repl.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Stage upload: raise default concurrency to 32 (benchmarked)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add CommandDocs metadata and declare it for snow cortex complete
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/api/commands/test_snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] store and read CommandDocs on the built command
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/snow_typer.py
  tests/api/commands/test_snow_typer.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add snow --docs-pages full MDX generator
  src/snowflake/cli/_app/cli_app.py
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/generator.py
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/api/commands/command_docs.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/test_snow_typer.py
  tests/test_docs_generation_output.py
  tests/test_main.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] show command documentation sections in help
  .pre-commit-config.yaml
  src/snowflake/cli/api/commands/docs_help.py
  src/snowflake/cli/api/commands/snow_typer.py
  src/snowflake/cli/api/feature_flags.py
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/api/commands/test_docs_help.py
  tests/api/commands/test_snow_typer.py
  tests/output/test_silent_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4075464] accept a user as a grantee in snowflake.yml grants
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/project/test_grants.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Split nativeapp into its own parallel integration job
  .github/workflows/test_integration.yaml
  pyproject.toml
Due: dependencies-sync

feat: [SNOW-2005573] allow configuring a default output format
  README.md
  RELEASE-NOTES.md
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/output/formats.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/__snapshots__/test_help_messages.ambr
  tests/api/commands/__snapshots__/test_snow_typer.ambr
  tests/output/__snapshots__/test_silent_output.ambr
  tests/output/test_default_output_format.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2101026] declare artifact repository packages from requirements.txt
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/models.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/api/feature_flags.py
  tests/snowpark/test_build.py
  tests/snowpark/test_function.py
  tests/test_data/projects/snowpark_artifact_repository_requirements/app.py
  tests/test_data/projects/snowpark_artifact_repository_requirements/requirements.snowflake.txt
  tests/test_data/projects/snowpark_artifact_repository_requirements/requirements.txt
  tests/test_data/projects/snowpark_artifact_repository_requirements/snowflake.yml
  tests/test_utils.py
  tests_integration/conftest.py
  tests_integration/test_data/projects/snowpark_artifact_repository_requirements/app.py
  tests_integration/test_data/projects/snowpark_artifact_repository_requirements/requirements.txt
  tests_integration/test_data/projects/snowpark_artifact_repository_requirements/snowflake.yml
  tests_integration/test_snowpark.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-1848370] stop wrapping login failures as invalid config
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/api/test_connections.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: [SNOW-4133979] upgrade snowflake-connector-python to 4.7.4
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

feat: [SNOW-4138711] report installation_source on snow --info
  RELEASE-NOTES.md
  scripts/packaging/build_isolated_binary_with_hatch.py
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/cli_app.py
  tests/test_installation_source.py
  tests/test_main.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: stop snow dcm commands from crashing with RecursionError
  src/snowflake/cli/_plugins/dcm/manager.py
  tests/dcm/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-4072321] stop macOS pkg from appending PATH on every upgrade
  RELEASE-NOTES.md
  scripts/packaging/macos/Resources/snowflake-cli_welcome.html
  scripts/packaging/macos/postinstall
  tests/packaging/__init__.py
  tests/packaging/test_macos_postinstall.py
Due: none

feat: [SNOW-2200621] print elapsed time after snow sql REPL queries
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/sql/repl.py
  tests/sql/__snapshots__/test_repl.ambr
  tests/sql/test_repl.py
  tests/sql/test_sql.py
Due: avoid-snowcli, use-local-requirements-model

fix: explain OAuth connection recovery requirements
  RELEASE-NOTES.md
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: note DCM assets support in unreleased release notes (#329)
  RELEASE-NOTES.md
Due: none

SNOW-3914210 add new Copybara workflow for importing community PRs
  .github/workflows/changes.yaml
Due: none

fix: escape option metavars and collapse help whitespace in generated MDX
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/_macros.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/_app/dev/docs/templates/usage.mdx.jinja2
  tests/test_docs_generation_output.py
Due: avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add structured usage notes foundation
  src/snowflake/cli/_app/dev/docs/commands_docs_generator.py
  src/snowflake/cli/_app/dev/docs/templates/page.mdx.jinja2
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/api/commands/command_docs.py
  src/snowflake/cli/api/commands/command_docs_rendering.py
  src/snowflake/cli/api/commands/docs_help.py
  tests/__snapshots__/test_docs_generation_output.ambr
  tests/api/commands/test_docs_help.py
  tests/api/commands/test_snow_typer.py
  tests/test_docs_generation_output.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-4138712] add snowflake-managed layout and atomic shim library
  src/snowflake/cli/_plugins/upgrade/__init__.py
  src/snowflake/cli/_plugins/upgrade/layout.py
  tests/upgrade/test_layout.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3930151] add helpers to copy generated command docs
  scripts/command_docs_paths.yaml
  scripts/publish_command_docs.py
Due: none

feat: [SNOW-3930151] copy generated command docs into snowflake-prod-docs
  scripts/publish_command_docs.md
  scripts/publish_command_docs.py
Due: none

dbt: env vars, writeback, auto-compile, and imports are GA — remove feature flags
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feature: register 'snow feature' plugin scaffold
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/feature/__init__.py
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/plugin_spec.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/feature/__init__.py
  tests/feature/test_plugin_registration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add `snow bundle` command group
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/bundle/__init__.py
  src/snowflake/cli/_plugins/bundle/commands.py
  src/snowflake/cli/_plugins/bundle/manager.py
  src/snowflake/cli/_plugins/bundle/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/bundle/__init__.py
  tests/bundle/test_bundle_commands.py
  tests/logs/snowflake-cli.log
  tests_e2e/__snapshots__/test_installation.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create IT tests
  tests_integration/test_bundle.py
Due: none

update release note
  RELEASE-NOTES.md
Due: none
