Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

fix jira creation + closure
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/workflows/jira_close.yml
  .github/workflows/jira_issue.yml
Due: none

Update .github/workflows/jira_close.yml
  .github/workflows/jira_close.yml
Due: none

graphite-app suggestions
  .github/workflows/jira_close.yml
  .github/workflows/jira_issue.yml
Due: none

NO-SNOW fix jira creation + closure (#2722)
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/workflows/jira_close.yml
  .github/workflows/jira_issue.yml
Due: none

add unit test for submit command
  src/snowflake/cli/_plugins/scls/commands.py
  tests/scls/__init__.py
  tests/scls/test_submit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add unit test for manager
  src/snowflake/cli/_plugins/scls/manager.py
  tests/scls/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

change status
  src/snowflake/cli/_plugins/scls/commands.py
  src/snowflake/cli/_plugins/scls/manager.py
  tests/scls/test_manager.py
  tests/scls/test_submit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support python application
  src/snowflake/cli/_plugins/scls/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support application arguments
  src/snowflake/cli/_plugins/scls/manager.py
  tests/scls/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

rename scls to spark
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/spark/__init__.py
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  src/snowflake/cli/_plugins/spark/plugin_spec.py
  tests/spark/__init__.py
  tests/spark/test_manager.py
  tests/spark/test_submit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix spark name issue
  src/snowflake/cli/_plugins/spark/commands.py
  tests/spark/test_submit.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

create query builder
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

updated to target and replaced with literal
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

update image
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

rename scls to snow
  src/snowflake/cli/_plugins/spark/__init__.py
  src/snowflake/cli/_plugins/spark/commands.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor config
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add warehouse config
  src/snowflake/cli/_plugins/remote/container_spec.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support multiple jars
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add comprehensive plan to fix snow streamlit deployment issues
  STREAMLIT_FIX_PLAN.md
  snowcli_feedback.md
Due: none

feat: Add --if-exists flag to snow object drop command
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/object/command_aliases.py
  src/snowflake/cli/_plugins/object/commands.py
  src/snowflake/cli/_plugins/object/manager.py
  tests/object/__snapshots__/test_object.ambr
  tests/object/test_object.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: Add integration tests for --if-exists flag on object drop
  tests/object/__snapshots__/test_object.ambr
  tests_integration/test_object.py
Due: none

rename spark_configuration
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support py-files
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2930627] use warehouse provisioned in integration test account
  tests_integration/test_dcm_project.py
Due: none

fix: [SNOW-2930191] fix integration tests for decimal precision
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/utils/types.py
  tests_integration/sql/test_sql_decfloat.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

test: [SNOW-2930191] add unit tests
  src/snowflake/cli/api/utils/types.py
  tests/api/utils/test_types.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Jw/snow 2930627 fix dcm and decimal integration tests (#2727)
  src/snowflake/cli/api/commands/flags.py
  src/snowflake/cli/api/utils/types.py
  tests/api/utils/test_types.py
  tests_integration/sql/test_sql_decfloat.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

NOSNOW add a global --color flag to disable colored output
  RELEASE-NOTES.md
  src/snowflake/cli/_app/cli_app.py
Due: avoid-snowcli, use-local-requirements-model

support conf
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2869663] raise regular CliError and other after code review fixes
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/reporters.py
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/test_reporters.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2869663] implement dcm test command
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/__snapshots__/test_reporters.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2869663] fix unit tests
  src/snowflake/cli/_plugins/dcm/utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2984982] fix remaining tests; update release notes
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/object/__snapshots__/test_object.ambr
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test_integration_tests
  README.md
Due: none

2nd
  README.md
Due: none

feat: [SNOW-2869663] implement dcm test command (#2718)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/dcm/manager.py
  src/snowflake/cli/_plugins/dcm/reporters.py
  src/snowflake/cli/_plugins/dcm/styles.py
  src/snowflake/cli/_plugins/dcm/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/__snapshots__/test_commands.ambr
  tests/dcm/__snapshots__/test_reporters.ambr
  tests/dcm/test_commands.py
  tests/dcm/test_manager.py
  tests/dcm/test_reporters.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support name
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

support files
  src/snowflake/cli/_plugins/spark/commands.py
  src/snowflake/cli/_plugins/spark/manager.py
  tests/spark/test_submit.py
  tests/spark/test_submit_query_builder.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
