Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Add integration test
  tests_integration/nativeapp/test_events.py
Due: none

Fix @with_project_definition
  src/snowflake/cli/plugins/nativeapp/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add unit tests
  tests/nativeapp/test_manager.py
  tests/nativeapp/utils.py
Due: none

Instructions update
  src/snowflake/cli/plugins/nativeapp/exceptions.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add test warehouse
  scripts/cleanup.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/test_object.py
Due: none

refactor of imports
  tests_integration/test_object.py
Due: none

SNOW-1544012 Validate that account has an event table set up (#1337)
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/exceptions.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/nativeapp/test_manager.py
  tests/nativeapp/utils.py
  tests_integration/nativeapp/test_events.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

run tests
  tests_integration/nativeapp/test_init_run.py
Due: none

version tests
  tests_integration/nativeapp/__snapshots__/test_version.ambr
  tests_integration/nativeapp/test_version.py
Due: none

Update post_install default database to point to application database
  RELEASE-NOTES.md
  src/snowflake/cli/plugins/nativeapp/run_processor.py
  tests/nativeapp/test_post_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

minor update to remove f'' from string
  tests/nativeapp/test_post_deploy.py
Due: none

add unit tests
  tests/nativeapp/test_v2_to_v1.py
  tests_integration/nativeapp/test_init_run.py
Due: none

Updated release notes
  RELEASE-NOTES.md
Due: none

Refactor run_processor
  src/snowflake/cli/plugins/nativeapp/run_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

project name tests
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/nativeapp/test_v2_to_v1.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test data path fix
  tests_integration/nativeapp/test_init_run.py
Due: none

Update post_install default database to point to application database (#1341)
  RELEASE-NOTES.md
  src/snowflake/cli/plugins/nativeapp/run_processor.py
  tests/nativeapp/test_post_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Support project definition v2 in "app version" and "app run" (#1353)
  src/snowflake/cli/plugins/nativeapp/commands.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  src/snowflake/cli/plugins/nativeapp/version/commands.py
  tests/nativeapp/test_v2_to_v1.py
  tests/test_data/projects/integration_external_v2/app/README.md
  tests/test_data/projects/integration_external_v2/app/manifest.yml
  tests/test_data/projects/integration_external_v2/app/setup.sql
  tests/test_data/projects/integration_external_v2/package/001-shared.sql
  tests/test_data/projects/integration_external_v2/package/002-shared.sql
  tests/test_data/projects/integration_external_v2/snowflake.local.yml
  tests/test_data/projects/integration_external_v2/snowflake.yml
  tests/test_data/projects/integration_v2/app/README.md
  tests/test_data/projects/integration_v2/app/manifest.yml
  tests/test_data/projects/integration_v2/app/setup.sql
  tests/test_data/projects/integration_v2/package/001-shared.sql
  tests/test_data/projects/integration_v2/package/002-shared.sql
  tests/test_data/projects/integration_v2/snowflake.yml
  tests_integration/nativeapp/__snapshots__/test_version.ambr
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_version.py
  tests_integration/test_data/projects/napp_application_post_deploy_v1/app/README.md
  tests_integration/test_data/projects/napp_application_post_deploy_v1/app/manifest.yml
  tests_integration/test_data/projects/napp_application_post_deploy_v1/app/setup_script.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/post_deploy1.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/snowflake.yml
  tests_integration/test_data/projects/napp_application_post_deploy_v2/app/README.md
  tests_integration/test_data/projects/napp_application_post_deploy_v2/app/manifest.yml
  tests_integration/test_data/projects/napp_application_post_deploy_v2/app/setup_script.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/post_deploy1.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/snowflake.yml
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Squash single integration testing commit
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/plugins/lsp/commands.py
  src/snowflake/cli/plugins/lsp/utils.py
  tests_integration/lsp/test_lsp_server.py
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

Snow 1482578 add integration tests for create task warehouse (#1347)
  scripts/cleanup.py
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/test_object.py
Due: none

Solution + unit tests
  src/snowflake/cli/plugins/snowpark/common.py
  tests/snowpark/test_common.py
  tests/testing_utils/fixtures.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update TargetField Model, move functions to fn namespace, refactor field collections
  src/snowflake/cli/api/project/schemas/entities/application_entity.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/project/schemas/updatable_model.py
  src/snowflake/cli/api/utils/definition_rendering.py
  tests/api/utils/test_definition_rendering.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Integration tests
  src/snowflake/cli/plugins/snowpark/commands.py
  src/snowflake/cli/plugins/snowpark/common.py
  tests/snowpark/test_common.py
  tests/testing_utils/fixtures.py
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test fix
  tests/snowpark/test_function.py
Due: none

Removed supporting git copy to for user stages
  RELEASE-NOTES.md
  src/snowflake/cli/plugins/git/manager.py
  src/snowflake/cli/plugins/stage/manager.py
  tests/git/test_git_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

add fields
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/nativeapp/test_v2_to_v1.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

intg todos
  tests_integration/nativeapp/test_open.py
  tests_integration/nativeapp/test_teardown.py
Due: none

test fix
  src/snowflake/cli/plugins/snowpark/common.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
  tests_integration/test_snowpark.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test debug intg test
  tests_integration/nativeapp/test_debug_mode.py
Due: none

events intg test
  tests_integration/nativeapp/test_events.py
Due: none

Support regionless host URLs
  src/snowflake/cli/plugins/connection/util.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

templating intg tests
  tests/test_data/projects/integration_templated_v2/app/README.md
  tests/test_data/projects/integration_templated_v2/app/manifest.yml
  tests/test_data/projects/integration_templated_v2/app/setup.sql
  tests/test_data/projects/integration_templated_v2/package/001-shared.sql
  tests/test_data/projects/integration_templated_v2/package/002-shared.sql
  tests/test_data/projects/integration_templated_v2/snowflake.yml
  tests_integration/nativeapp/test_project_templating.py
Due: none

Add test coverage
  tests/test_utils.py
Due: none

Add release note
  RELEASE-NOTES.md
Due: none

Bring back local deployment detection
  src/snowflake/cli/plugins/connection/util.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add local deployment test
  tests/test_utils.py
Due: none
