Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

Update release notes
  RELEASE-NOTES.md
Due: none

Updated integration tests account setup scripts (#1445) + override workflows with ones from main
  .github/workflows/cleanup.yaml
  .github/workflows/jira_issue.yml
  .github/workflows/matrix.yaml
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_fork.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
  CONTRIBUTING.md
  scripts/cleanup.py
  scripts/run_tests_with_retry.py
  src/snowflake/cli/app/build_and_push.sh
  tests_integration/config/connection_configs.toml
  tests_integration/scripts/integration_account_setup.sql
  tests_integration/spcs/docker/build_and_push.sh
  tests_integration/spcs/docker/build_and_push_all.sh
  tests_integration/spcs/test_image_repository.py
  tests_integration/spcs/test_services.py
  tests_integration/spcs/testing_utils/spcs_services_utils.py
  tests_integration/test_object.py
  tests_integration/test_snowpark_external_access.py
  tests_integration/test_streamlit.py
Due: none

Fix incorrect import for plugins
  tests/nativeapp/test_post_deploy_for_package.py
Due: none

Fix for failing code quality checks (#1412)
  .pre-commit-config.yaml
Due: none

Rename clean_id to sanitize_id and limit functionality. Also rename id_concat to concat_ids (#1447)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/definition.py
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/project/util.py
  src/snowflake/cli/api/utils/definition_rendering.py
  src/snowflake/cli/api/utils/templating_functions.py
  tests/api/utils/test_templating_functions.py
  tests/project/test_config.py
  tests/project/test_util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Add package post-deploy scripts in project definition file (#1399)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/plugins/nativeapp/manager.py
  src/snowflake/cli/plugins/nativeapp/project_model.py
  src/snowflake/cli/plugins/nativeapp/run_processor.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  src/snowflake/cli/plugins/nativeapp/version/version_processor.py
  tests/nativeapp/test_manager.py
  tests/nativeapp/test_post_deploy_for_app.py
  tests/nativeapp/test_post_deploy_for_package.py
  tests/nativeapp/test_v2_to_v1.py
  tests/nativeapp/test_version_create_processor.py
  tests/nativeapp/utils.py
  tests/project/__snapshots__/test_config.ambr
  tests/test_data/projects/integration_external_v2/package/001-shared.sql
  tests/test_data/projects/integration_external_v2/package/002-shared.sql
  tests/test_data/projects/integration_v2/package/001-shared.sql
  tests/test_data/projects/integration_v2/package/002-shared.sql
  tests/test_data/projects/napp_post_deploy/scripts/app_post_deploy1.sql
  tests/test_data/projects/napp_post_deploy/scripts/app_post_deploy2.sql
  tests/test_data/projects/napp_post_deploy/scripts/package_post_deploy1.sql
  tests/test_data/projects/napp_post_deploy/scripts/package_post_deploy2.sql
  tests/test_data/projects/napp_post_deploy/snowflake.yml
  tests/test_data/projects/napp_post_deploy_missing_file/snowflake.yml
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_post_deploy.py
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/app_post_deploy1.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/app_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/package_post_deploy1.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/package_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/scripts/post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v1/snowflake.yml
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/app_post_deploy1.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/app_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/package_post_deploy1.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/package_post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/scripts/post_deploy2.sql
  tests_integration/test_data/projects/napp_application_post_deploy_v2/snowflake.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Changed integration tests user auth to private key (#1389)
  .github/workflows/cleanup.yaml
  .github/workflows/jira_issue.yml
  .github/workflows/matrix.yaml
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  scripts/cleanup.py
  src/snowflake/cli/app/snow_connector.py
  tests_integration/snowflake_connector.py
  tests_integration/test_temporary_connection.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Add support for defaults in project definition file templating (#1330)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/schemas/entities/application_entity.py
  src/snowflake/cli/api/project/schemas/entities/application_package_entity.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  src/snowflake/cli/api/project/schemas/native_app/application.py
  src/snowflake/cli/api/project/schemas/native_app/native_app.py
  src/snowflake/cli/api/project/schemas/native_app/package.py
  src/snowflake/cli/api/project/schemas/project_definition.py
  src/snowflake/cli/api/project/schemas/snowpark/callable.py
  src/snowflake/cli/api/project/schemas/updatable_model.py
  src/snowflake/cli/api/project/util.py
  src/snowflake/cli/api/rendering/jinja.py
  src/snowflake/cli/api/rendering/sql_templates.py
  src/snowflake/cli/api/utils/definition_rendering.py
  src/snowflake/cli/api/utils/models.py
  src/snowflake/cli/api/utils/templating_functions.py
  src/snowflake/cli/plugins/nativeapp/v2_conversions/v2_to_v1_decorator.py
  tests/api/project/schemas/test_updatable_model.py
  tests/api/test_rendering.py
  tests/api/utils/test_definition_rendering.py
  tests/api/utils/test_templating_functions.py
  tests/project/test_config.py
  tests/project/test_util.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

update release notes
  RELEASE-NOTES.md
Due: none

bump version
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Build snowpark deps only if any exist
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

v2.8.0 release notes
  RELEASE-NOTES.md
Due: none

Change SQL rendering to choose syntax depending on template
  src/snowflake/cli/api/rendering/sql_templates.py
  tests/test_sql.py
  tests_integration/test_sql_templating.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix
  RELEASE-NOTES.md
  tests/__snapshots__/test_help_messages.ambr
  tests/project/__snapshots__/test_config.ambr
  tests/test_data/projects/migration_snowpark_V2/snowflake.yml
  tests/test_data/projects/migration_streamlit_V2/pages/my_page.py
  tests/workspace/__snapshots__/test_manager.ambr
  tests/workspace/test_manager.py
Due: none

revert nativeapp changes
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/_plugins/nativeapp/run_processor.py
  tests/nativeapp/test_post_deploy_for_app.py
  tests/nativeapp/test_post_deploy_for_package.py
  tests/nativeapp/test_run_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Build snowpark deps only if any exist (#1481)
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Refactor snowpark commands to be entity-centric
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/manager.py
  src/snowflake/cli/api/project/schemas/entities/common.py
  tests/snowpark/test_common.py
  tests/snowpark/test_function.py
  tests/snowpark/test_procedure.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Move deploy method to manager
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/manager.py
  tests/snowpark/test_common.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! Move deploy method to manager
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/manager.py
  tests/snowpark/test_common.py
  tests/streamlit/test_streamlit_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fixup! fixup! Move deploy method to manager
  src/snowflake/cli/_plugins/snowpark/common.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor nativeapp usage
  src/snowflake/cli/_plugins/nativeapp/manager.py
  src/snowflake/cli/api/rendering/jinja.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

use SecurePath to open files
  src/snowflake/cli/_plugins/nativeapp/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Build snowpark deps only if any exist (#1481)
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests/test_data/projects/snowpark_templated_v1/requirements.txt
  tests/test_data/projects/snowpark_templated_v1/snowflake.yml
  tests/test_data/projects/snowpark_templated_v1/template.yml
  tests/test_data/projects/streamlit_templated_v1/common/hello.py
  tests/test_data/projects/streamlit_templated_v1/environment.yml
  tests/test_data/projects/streamlit_templated_v1/pages/my_page.py
  tests/test_data/projects/streamlit_templated_v1/snowflake.yml
  tests/test_data/projects/streamlit_templated_v1/streamlit_app.py
  tests/test_data/projects/streamlit_templated_v1/template.yml
  tests/workspace/__snapshots__/test_manager.ambr
  tests/workspace/test_manager.py
  tests_integration/test_snowpark.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fix
  tests/workspace/__snapshots__/test_manager.ambr
Due: none

Update list of whitelisted users on Windows
  src/snowflake/cli/api/secure_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Specify project directory explicitly
  tests_integration/nativeapp/conftest.py
Due: none

Remove useless checks
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_version.py
Due: none

Allow passing custom env to teardown command
  tests_integration/nativeapp/conftest.py
  tests_integration/nativeapp/test_project_templating.py
Due: none

Auto-teardown Native App
  tests_integration/nativeapp/conftest.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/nativeapp/test_debug_mode.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_events.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_large_upload.py
  tests_integration/nativeapp/test_open.py
  tests_integration/nativeapp/test_post_deploy.py
  tests_integration/nativeapp/test_project_templating.py
  tests_integration/nativeapp/test_teardown.py
  tests_integration/nativeapp/test_validate.py
  tests_integration/nativeapp/test_version.py
Due: none

Fix param
  tests_integration/nativeapp/conftest.py
Due: none

Add docstrings
  tests_integration/nativeapp/conftest.py
Due: none

SNOW-1636849 Auto-teardown Native App in integration tests (#1478)
  tests_integration/nativeapp/conftest.py
  tests_integration/nativeapp/test_bundle.py
  tests_integration/nativeapp/test_debug_mode.py
  tests_integration/nativeapp/test_deploy.py
  tests_integration/nativeapp/test_events.py
  tests_integration/nativeapp/test_init_run.py
  tests_integration/nativeapp/test_large_upload.py
  tests_integration/nativeapp/test_open.py
  tests_integration/nativeapp/test_post_deploy.py
  tests_integration/nativeapp/test_project_templating.py
  tests_integration/nativeapp/test_teardown.py
  tests_integration/nativeapp/test_validate.py
  tests_integration/nativeapp/test_version.py
Due: none

Cast version to identifier
  src/snowflake/cli/_plugins/nativeapp/version/version_processor.py
  tests/nativeapp/test_version_create_processor.py
  tests/nativeapp/test_version_drop_processor.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model
