Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/app/printing.py$| ^src/snowflake/cli/app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/plugins/spcs/common.py$| ^src/snowflake/cli/plugins/snowpark/venv.py$| ^src/snowflake/cli/app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/plugins/snowpark/models.py$

refactor
  scripts/release-plugin/pyproject.toml
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/__init__.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/plugin_spec.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/repo_manager.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/utils.py
Due: none

add latest released tag to release_info
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/repo_manager.py
Due: none

validate
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
Due: none

Add readme
  scripts/release-plugin/README.md
Due: none

init
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/api/sql_execution.py
  tests/streamlit/streamlit_test_class.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

init
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/api/sql_execution.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2036324] validate dbt profile
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/test_data/projects/dbt_project/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2036324] PR fixes
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: none

Jw/snow 2036324 include dbt profile (#2196)
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests_integration/test_data/projects/dbt_project/profiles.yml
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix README example
  scripts/release-plugin/README.md
Due: none

init
  src/snowflake/cli/api/entities/common.py
  tests/streamlit/test_streamlit_commands.py
  tests_integration/test_snowpark.py
  tests_integration/test_streamlit.py
  tests_integration/test_streamlit_old.py
  tests_integration/testing_utils/snowpark_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

bump: update snowflake.core to version 1.3.0
  pyproject.toml
Due: dependencies-sync

Bump snowflake-snowpark-python to version 1.30.0
  pyproject.toml
  snyk/requirements.txt
Due: dependencies-sync

Added log levels
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  src/snowflake/cli/_plugins/logs/utils.py
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
  tests/logs/test_logs_utils.py
  tests_integration/test_data/projects/snowpark_v2/c.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test fix
  tests/logs/__snapshots__/test_logs.ambr
Due: none

JENKINS remove_cargo_install
  scripts/packaging/build_darwin_package.sh
Due: none

revert; skip sudo
  scripts/packaging/build_darwin_package.sh
Due: none

test fix
  tests/__snapshots__/test_help_messages.ambr
Due: none

move instructions from groovy for mac64
  scripts/packaging/build_darwin_package.sh
Due: none

refactor
  scripts/packaging/build_darwin_package.sh
Due: none

remove sudo
  scripts/packaging/build_darwin_package.sh
Due: none

setup virtualenv
  scripts/packaging/build_darwin_package.sh
Due: none

`Snow logs` fixes part 2: logs strike back (#2203)
  src/snowflake/cli/_plugins/logs/commands.py
  src/snowflake/cli/_plugins/logs/manager.py
  src/snowflake/cli/_plugins/logs/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/logs/__snapshots__/test_logs.ambr
  tests/logs/test_logs.py
  tests/logs/test_logs_utils.py
  tests_integration/test_data/projects/snowpark_v2/c.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try installing cargo on x64
  scripts/packaging/build_darwin_package.sh
Due: none

fix
  scripts/packaging/build_darwin_package.sh
Due: none

Use 3.11 explicitely; refactor
  scripts/packaging/build_darwin_package.sh
Due: none

use export
  scripts/packaging/build_darwin_package.sh
Due: none

rm rustup
  scripts/packaging/build_darwin_package.sh
Due: none

debug
  scripts/packaging/build_darwin_package.sh
Due: none
