Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

fix: snowpark deploy --replace recreates object when argument signature changes (SNOW-2207)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  tests/snowpark/test_common.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2067317] drop removed snowpark entities on `deploy --prune`
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests/snowpark/test_common.py
  tests/snowpark/test_procedure.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: add account-parameter test coverage for setup (#2935)
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps.py
Due: none

feat: [SNOW-2211628] resolve snowpark deps from pyproject.toml (#2497)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/commands.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_project_paths.py
  src/snowflake/cli/_plugins/snowpark/zipper.py
  tests/snowpark/test_build.py
  tests/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: fix open command to use URL from DESCRIBE (#2937)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-1904824] add `snow helpers generate-project-schema`
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/helpers/commands.py
  tests/helpers/test_generate_project_schema.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: stream artifact-repo build logs in `snow app deploy --verbose`
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat(apps): use shared SNOWFLAKE_APPS workspace when defaulting to PDB
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Revert bundle_map deploy-root recursion guard out of this PR
  src/snowflake/cli/api/artifacts/bundle_map.py
  tests/api/artifacts/test_bundle_map.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: use personal DB and workspaces when default DB param is unset (#2903)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/generate.py
  src/snowflake/cli/_plugins/apps/manager.py
  src/snowflake/cli/_plugins/apps/snowflake_app_entity_model.py
  tests/apps/test_commands.py
  tests/apps/test_snowflake_app_entity_model.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: Stream build logs in `snow app deploy --verbose` (#2951)
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix(apps): reject conflicting stage_fqn and source_uri in build_app_artifact_repo
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: add DESIGN.md for feature plugin
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

test: add failing tests for feature commands and FeatureManager
  tests/feature/test_commands.py
  tests/feature/test_manager.py
Due: none

test: add failing tests for service management commands
  tests/feature/test_commands.py
Due: none

feat: implement feature plugin (commands.py, manager.py, plugin_spec.py)
  src/snowflake/cli/_app/commands_registration/builtin_plugins.py
  src/snowflake/cli/_plugins/feature/__init__.py
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  src/snowflake/cli/_plugins/feature/plugin_spec.py
  tests/feature/test_commands.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add integration tests with real decl wheel; wire feature plugin to library
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_integration.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: implement feature example command
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing tests for feature plugin registration
  tests/feature/__init__.py
  tests/feature/test_plugin_registration.py
Due: none

test: add failing tests for feature example command
  tests/feature/test_commands.py
Due: none

fix: pass connection role to service_sql for runtime creation
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: use background thread + sys.stderr for online-service spinner
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing tests for feature export command
  tests/feature/test_commands.py
  tests/feature/test_manager.py
Due: none

fix: add SafeEncoder to handle non-serializable Snowflake types
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: online-service status shows rich formatted display
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: inject connection db/schema into plan ops and add role options
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_integration.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: merge initialize-service and destroy-service into online-service --create/--drop
  src/snowflake/cli/_plugins/feature/commands.py
  tests/feature/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: add failing tests for feature ingest and query commands
  tests/feature/test_commands.py
Due: none

feat: show per-operation details in plan and apply output
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_integration.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: rewrite export to use DESCRIBE TABLE instead of missing specification column
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: describe shows example curl commands for ingest and query
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: show spinner immediately when online-service --create starts
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: implement feature export command
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: improve export with DESCRIBE ONLINE FEATURE TABLE and PK detection
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: show feature_view name, version, and entities in list output
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: remove source column from table display (duplicates name)
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: drop resolves feature view names to OFT names via SHOW lookup
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: restrict table display to key columns for SHOW results
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: merge status into online-service as default no-arg behavior
  src/snowflake/cli/_plugins/feature/commands.py
  tests/feature/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: run CREATE + poll in background thread, spinner on main thread
  src/snowflake/cli/_plugins/feature/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
