Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

Explicitely allow github bot
  .github/workflows/jira_issue.yml
Due: none

trigger the workflow if the issue gets labeled
  .github/workflows/jira_issue.yml
Due: none

Added lazy loading for snowflake.core module
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Trigger action explicitely after creating a label (#2402)
  .github/workflows/jira_issue.yml
Due: none

support BINARY datatype + add integration test for some other types
  src/snowflake/cli/_app/printing.py
  tests/output/test_printing.py
  tests_integration/sql/test_sql.py
Due: avoid-snowcli, use-local-requirements-model

support BINARY datatype + add integration test for some other types
  RELEASE-NOTES.md
Due: none

Added lazy loading for snowflake.core module (#2398)
  src/snowflake/cli/_plugins/cortex/commands.py
  src/snowflake/cli/_plugins/cortex/manager.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/entities/common.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Fix filters for jira_issue.yml
  .github/workflows/jira_issue.yml
Due: none

Fix filters for jira_issue.yml (#2420)
  .github/workflows/jira_issue.yml
Due: none

Add deliberately flaky test
  pyproject.toml
  tests_integration/test_debug.py
Due: dependencies-sync

bump
  tests_integration/test_debug.py
Due: none

rename test
  tests_integration/test_debug.py
Due: none

reduce matrix
  .github/workflows/matrix.yaml
Due: none

switch github token
  .github/workflows/test_trusted.yaml
Due: none

feat: [SNOW-2154833] implement project drop-version command
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/dcm_project/test_commands.py
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2148471 Enable flaky test detection workflow to create jira tickets (#2424)
  .github/workflows/test_trusted.yaml
Due: none

Added packages alias for artifact_repository_packages
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/snowpark/common.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  tests/snowpark/__snapshots__/test_models.ambr
  tests/snowpark/__snapshots__/test_snowpark_entity.ambr
  tests/snowpark/test_function.py
  tests/snowpark/test_function_old_build.py
  tests/snowpark/test_procedure.py
  tests/snowpark/test_procedure_old_build.py
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

trigger tests
  RELEASE-NOTES.md
Due: none

fix: [SNOW-2154833] update drop-version help, quoting in add version, and tests
  src/snowflake/cli/_plugins/project/commands.py
  src/snowflake/cli/_plugins/project/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm_project/test_manager.py
  tests_integration/test_dcm_project.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2134871] fix remaining tests
  src/snowflake/cli/api/entities/common.py
  tests/streamlit/test_streamlit_commands.py
  tests_integration/snowflake_connector.py
  tests_integration/test_streamlit.py
  tests_integration/testing_utils/streamlit_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] Remove ENABLE_STREAMLIT_EMBEDDED_STAGE feature flag and all references
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] Remove deprecated Streamlit feature flag and related logic
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/feature_flags.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] further cleanup
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/stage_path.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] remove deprecated streamlit checkout logic
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] rename to vstage
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

wip: integration tests
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  tests_integration/test_streamlit.py
  tests_integration/testing_utils/snowpark_utils.py
  tests_integration/testing_utils/streamlit_utils.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

wip
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2134871] add support for embedded stage paths and force overwrite for streamlit
  src/snowflake/cli/_plugins/stage/diff.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/utils.py
  src/snowflake/cli/api/stage_path.py
  tests/nativeapp/test_manager.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-2134871] update StreamlitEntity methods to use new identifier functions
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/entities/common.py
  tests/nativeapp/test_children.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] cleanups
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/stage/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Added packages alias for artifact_repository_packages
  src/snowflake/cli/_plugins/snowpark/snowpark_entity.py
  src/snowflake/cli/_plugins/snowpark/snowpark_entity_model.py
  tests/snowpark/test_snowpark_entity.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] cleanup
  src/snowflake/cli/_plugins/git/manager.py
  src/snowflake/cli/_plugins/nativeapp/entities/application_package.py
  src/snowflake/cli/_plugins/stage/manager.py
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/entities/utils.py
  tests/nativeapp/test_application_package_entity.py
  tests/nativeapp/test_manager.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] cleanup
  src/snowflake/cli/_plugins/stage/manager.py
  tests/stage/test_stage_path.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Update release notes: Refactored Streamlit app deployment, removed deprecated features, improved warehouse deprecation handling
  RELEASE-NOTES.md
Due: none

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
