Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-3329144: Add Cortex Code CLI agent for autonomous E2E PR review (#2855)
  .github/scripts/cortex_e2e_review.py
  .github/workflows/cortex_review.yaml
Due: none

feat: [SNOW-2457402] Unify encoding support in SnowCLI (#2792)
  RELEASE-NOTES.md
  src/snowflake/cli/__about__.py
  src/snowflake/cli/_app/__main__.py
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/custom_images/manager.py
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/_plugins/nativeapp/codegen/sandbox.py
  src/snowflake/cli/_plugins/nativeapp/codegen/snowpark/python_processor.py
  src/snowflake/cli/_plugins/nativeapp/utils.py
  src/snowflake/cli/_plugins/snowpark/package_utils.py
  src/snowflake/cli/_plugins/spcs/image_registry/manager.py
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/project/definition_conversion.py
  src/snowflake/cli/api/secure_path.py
  tests/api/test_secure_path.py
  tests/apps/test_commands.py
  tests/custom_images/test_manager.py
  tests/helpers/test_detect_encoding.py
  tests/nativeapp/codegen/test_sandbox.py
  tests/nativeapp/test_manager.py
  tests/spcs/test_registry.py
  tests/sql/test_statement_reader.py
  tests/test_about.py
  tests/test_config.py
  tests_integration/test_encoding.py
  tests_integration/tests_using_container_services/spcs/test_registry.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [NOSNOW] fix dcm integration tests
  tests_integration/test_dcm_project.py
Due: none

fix: [SNOW-3655490] fix dcm integration tests (#3109)
  tests_integration/test_dcm_project.py
Due: none

Snowflake Apps: fix Windows UnicodeDecodeError reading non-ASCII snowflake.yml (#3107)
  RELEASE-NOTES.md
  src/snowflake/cli/api/project/definition.py
  tests/apps/test_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3253006] avoid PUT directory error on snowflake-app stage upload
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: [SNOW-3253006] escape glob metacharacters in snowflake-app PUT sources
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: clarify snowflake-app 253006 release notes
  RELEASE-NOTES.md
Due: none

test: cover Windows + glob-metacharacter PUT path deterministically
  tests/apps/test_commands.py
Due: none

Snowflake Apps: rename --deploy-only to --promote-only
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: clarify --deploy-only alias is temporary in release note
  RELEASE-NOTES.md
Due: none

test: add failing test for Bug G — allow_recreate must set PlanOptions.overwrite
  tests/feature/test_manager.py
Due: none

fix: propagate allow_recreate to PlanOptions.overwrite in _apply_from_plan_file
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

fix: make REST error handling work on connector v4 and Universal Driver v5
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/api/connector_errors.py
  src/snowflake/cli/api/rest_api.py
  tests/api/test_rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: address review feedback + fix CI (codespell, release notes)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/api/connector_errors.py
  src/snowflake/cli/api/rest_api.py
  tests/api/test_rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: source REST User-Agent from the driver (review feedback)
  src/snowflake/cli/api/connector_errors.py
  src/snowflake/cli/api/rest_api.py
  tests/api/test_rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

test(integration): assert HTTP 400 via user-facing message, not caplog
  tests_integration/test_object.py
Due: none

refactor: define REST header constants natively, drop connector.network imports
  src/snowflake/cli/api/rest_api.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Snowflake Apps: rename `--deploy-only` to `--promote-only` (#3112)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/apps/test_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review: address PR #3097 feedback
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review: always sanitize env.yml and validate before stage creation
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review: rename --default-environment to --default-env
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

review: clearer duplicate-key parse error messages
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3444080] add env.yml support to snow dbt deploy
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3444080] add env.yml support to snow dbt deploy (#3097)
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/constants.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: escape glob metacharacters in deploy PUT sources (#3110)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/apps/manager.py
  tests/apps/test_commands.py
  tests_integration/apps/test_snowflake_apps_deploy.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: scope snowflake.yml UTF-8 handling to `snow app` commands
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/project/definition.py
  src/snowflake/cli/api/project/definition_manager.py
  tests/project/test_definition_manager.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

test: add failing tests for init --python flag
  tests/feature/test_manager.py
Due: none

feat: add --python flag to snow feature init
  src/snowflake/cli/_plugins/feature/commands.py
  src/snowflake/cli/_plugins/feature/manager.py
  tests/feature/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: update CLI plugin docs for --python init flag
  src/snowflake/cli/_plugins/feature/DESIGN.md
Due: none

feat: add --python flag to snow feature init
  src/snowflake/cli/_plugins/feature/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Snowflake Apps: let cli.encoding.file_io override the app-command UTF-8 default
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  tests/nativeapp/test_app_flow_routing.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-3444081] add --use-shell-env-vars to snow dbt execute
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/conftest.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-3444081] address PR review for env-var handling
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: make snow dbt --env-vars use SQL string-literal syntax
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

chore: improve permissions in github actions
  .github/workflows/changes.yaml
  .github/workflows/lint.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
Due: none

fix: make REST error handling work on connector v4 and Universal Driver v5 (#3113)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/api/connector_errors.py
  src/snowflake/cli/api/rest_api.py
  tests/api/test_rest_api.py
  tests_integration/test_object.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

chore: improve permissions in github actions (#3117)
  .github/workflows/changes.yaml
  .github/workflows/lint.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
Due: none

Snowflake Apps: address PR review on encoding change
  tests/apps/test_commands.py
  tests/project/test_definition_manager.py
  tests_common/conftest.py
Due: none

Scope snowflake.yml UTF-8 handling to `snow app` commands (#3114)
  RELEASE-NOTES.md
  src/snowflake/cli/_plugins/apps/commands.py
  src/snowflake/cli/_plugins/nativeapp/commands.py
  src/snowflake/cli/api/cli_global_context.py
  src/snowflake/cli/api/project/definition.py
  src/snowflake/cli/api/project/definition_manager.py
  tests/apps/test_commands.py
  tests/nativeapp/test_app_flow_routing.py
  tests/project/test_definition_manager.py
  tests_common/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model
