Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

SNOW-2306184: config refactory - core abstraction
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  tests/config_ng/__init__.py
  tests/config_ng/test_config_value.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_source_priority.py
  tests/config_ng/test_value_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - restore temp conn
  src/snowflake/cli/api/connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - cleanup 1
  tests_integration/config/plugin_tests/logs/snowflake-cli.log
Due: none

SNOW-2306184: config refactor - more merging tests
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/README_TESTING.md
  tests/config_ng/configs/cli.env
  tests/config_ng/configs/config
  tests/config_ng/configs/config.toml
  tests/config_ng/configs/connections.toml
  tests/config_ng/configs/snowsql.env
  tests/config_ng/conftest.py
  tests/config_ng/test_configuration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - drop tests for language functionality p2
  tests/config_ng/test_config_value.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_source_priority.py
Due: none

SNOW-2306184: config refactor - invalidate singleton between tests
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_provider.py
  tests/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - e2e fix attempt 3
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
Due: none

SNOW-2306184: config refactor - e2e fix attempt 5
  .github/workflows/test.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
  pyproject.toml
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
  tests_integration/plugin/__snapshots__/test_broken_plugin.ambr
  tests_integration/plugin/__snapshots__/test_failing_plugin.ambr
  tests_integration/plugin/__snapshots__/test_override_by_external_plugins.ambr
Due: dependencies-sync

SNOW-2306184: config refactor - simplify abstractions
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/env_handlers.py
  src/snowflake/cli/api/config_ng/file_handlers.py
  src/snowflake/cli/api/config_ng/handlers.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/conftest.py
  tests/config_ng/test_cli_argument_source.py
  tests/config_ng/test_config_value.py
  tests/config_ng/test_configuration_resolver.py
  tests/config_ng/test_env_handler_migration.py
  tests/config_ng/test_environment_source.py
  tests/config_ng/test_file_handler_migration.py
  tests/config_ng/test_file_source.py
  tests/config_ng/test_resolution_history.py
  tests/config_ng/test_resolution_history_tracker.py
  tests/config_ng/test_resolver_integration.py
  tests/config_ng/test_snowcli_env_handler.py
  tests/config_ng/test_snowsql_config_handler.py
  tests/config_ng/test_snowsql_config_paths.py
  tests/config_ng/test_snowsql_env_handler.py
  tests/config_ng/test_source_priority.py
  tests/config_ng/test_toml_file_handler.py
  tests/config_ng/test_value_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - cleanup source ConfigValue creation
  src/snowflake/cli/api/config_ng/core.py
  src/snowflake/cli/api/config_ng/env_handlers.py
  tests/config_ng/test_configuration_source.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - config_snapshot to distingush between legacy and config_ng
  .github/workflows/test.yaml
  .github/workflows/test_e2e.yaml
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
  tests/conftest.py
  tests_e2e/__snapshots__/test_import_snowsql_connections_config_ng.ambr
  tests_e2e/__snapshots__/test_import_snowsql_connections_legacy.ambr
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
  tests_integration/conftest.py
  tests_integration/plugin/__snapshots__/test_broken_plugin_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_broken_plugin_legacy.ambr
  tests_integration/plugin/__snapshots__/test_failing_plugin_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_failing_plugin_legacy.ambr
  tests_integration/plugin/__snapshots__/test_override_by_external_plugins_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_override_by_external_plugins_legacy.ambr
  tests_integration/plugin/test_broken_plugin.py
  tests_integration/plugin/test_failing_plugin.py
  tests_integration/plugin/test_override_by_external_plugins.py
Due: none

SNOW-2306184: config refactor - list connections --all
  src/snowflake/cli/_plugins/connection/commands.py
  src/snowflake/cli/api/config_provider.py
  tests/__snapshots__/test_help_messages.ambr
  tests/test_config_provider_integration.py
  tests/test_connection.py
  tests_e2e/__snapshots__/test_import_snowsql_connections_config_ng.ambr
  tests_e2e/__snapshots__/test_import_snowsql_connections_legacy.ambr
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
  tests_integration/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - show-config-sources tests
  tests/helpers/test_show_config_sources.py
Due: none

SNOW-2306184: config refactor - e2e fix attempt 5b
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
  tests_e2e/test_import_snowsql_connections.py
Due: none

SNOW-2306184: config refactor - plugin tests in JSON format
  src/snowflake/cli/api/config_ng/sources.py
  tests_integration/config/plugin_tests/logs/snowflake-cli.log
  tests_integration/plugin/test_broken_plugin.py
  tests_integration/plugin/test_failing_plugin.py
  tests_integration/plugin/test_override_by_external_plugins.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - e2e fix attempt 4
  tests_e2e/conftest.py
  tests_e2e/test_import_snowsql_connections.py
  tests_integration/conftest.py
  tests_integration/plugin/test_broken_plugin.py
  tests_integration/plugin/test_failing_plugin.py
  tests_integration/plugin/test_override_by_external_plugins.py
Due: none

SNOW-2306184: config refactor - snowsql env support
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - snapshot COLUMNS=200
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/conftest.py
Due: none

SNOW-2306184: config refactor - old & new unit tests
  tests_integration/conftest.py
Due: none

SNOW-2306184: config refactory - cleanup source config handlers naming
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/file_handlers.py
  src/snowflake/cli/api/config_provider.py
  tests/config_ng/conftest.py
  tests/config_ng/test_file_handler_migration.py
  tests/config_ng/test_resolver_integration.py
  tests/config_ng/test_snowsql_config_handler.py
  tests/config_ng/test_snowsql_config_paths.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - e2e fix attempt
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  tests/test_connection.py
  tests_e2e/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - cleanup 5
  tests/conftest.py
  tests_common/__init__.py
  tests_common/conftest.py
  tests_e2e/conftest.py
  tests_integration/conftest.py
Due: none

SNOW-2306184: config refactor - gh workflows
  .github/workflows/test.yaml
  .github/workflows/test_integration.yaml
Due: none

SNOW-2306184: config refactory - helpers command integration
  src/snowflake/cli/_plugins/helpers/commands.py
  src/snowflake/cli/api/config_ng/__init__.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  tests/config_ng/test_resolution_logger.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - cli env update
  src/snowflake/cli/api/config_ng/sources.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactory - config testing setup
  tests/config_ng/README_TESTING.md
  tests/config_ng/configs/cli.env
  tests/config_ng/configs/config
  tests/config_ng/configs/config.toml
  tests/config_ng/configs/connections.toml
  tests/config_ng/configs/snowsql.env
  tests/config_ng/conftest.py
  tests/config_ng/test_configuration.py
Due: none

SNOW-2306184: config refactor - cleanup 3
  pyproject.toml
Due: dependencies-sync

SNOW-2306184: config refactor - connections toml merging split
  src/snowflake/cli/api/config_provider.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - cleanup 2
  .github/workflows/test_integration.yaml
Due: none

SNOW-2306184: config refactor - e2e fix attempt 5a
  tests_e2e/__snapshots__/test_import_snowsql_connections.ambr
Due: none

SNOW-2306184: config refactor - old & new unit tests pass
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/conftest.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - tests-ng fix
  .github/workflows/test.yaml
Due: none

SNOW-2306184: config refactory - drop tests for language functionality
  tests/config_ng/test_configuration_source.py
  tests/config_ng/test_value_source.py
Due: none

SNOW-2306184: config refactor - snapshot fix 3
  tests_integration/plugin/__snapshots__/test_broken_plugin_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_failing_plugin_config_ng.ambr
  tests_integration/plugin/__snapshots__/test_override_by_external_plugins_config_ng.ambr
Due: none

SNOW-2306184: config refactory - fix snowsql config format parsing
  src/snowflake/cli/api/config_ng/file_handlers.py
  src/snowflake/cli/api/config_ng/resolution_logger.py
  tests/config_ng/test_configuration.py
  tests/config_ng/test_file_handler_migration.py
  tests/config_ng/test_resolver_integration.py
  tests/config_ng/test_snowsql_config_handler.py
  tests/config_ng/test_snowsql_config_paths.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - integrations ng
  .github/workflows/test_integration.yaml
  .github/workflows/test_trusted.yaml
Due: none

SNOW-2306184: config refactor - simplified implementation
  src/snowflake/cli/api/config.py
  src/snowflake/cli/api/config_ng/resolver.py
  src/snowflake/cli/api/config_ng/sources.py
  src/snowflake/cli/api/config_provider.py
  src/snowflake/cli/api/connections.py
  tests/config_ng/conftest.py
  tests/config_ng/test_configuration.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - snapshot fix 2
  tests_e2e/__snapshots__/test_installation.ambr
  tests_e2e/conftest.py
Due: none

SNOW-2306184: config refactor - cleanup 4
  src/snowflake/cli/api/config_provider.py
  tests/test_config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2306184: config refactor - allow empty connections test fix
  tests/config_ng/test_connection_replacement.py
Due: none
