Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

try'n'error
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

feat: [SNOW-2236093] add terse and limit options to list aliases
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/object/command_aliases.py
  src/snowflake/cli/_plugins/object/commands.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/object/test_object.py
  tests_integration/test_dcm_project.py
  tests_integration/test_object.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try'n'error
  pyproject.toml
Due: dependencies-sync

SNOW-2176180: refactor method names and enum creations
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

try'n'error
  pyproject.toml
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: dependencies-sync

SNOW-2176180: tests for snow_connector.py
  src/snowflake/cli/_app/snow_connector.py
  tests/test_snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

maybe now
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

embed the python
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

embed the python and everything else
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

feat: [SNOW-2236093] add terse and limit options to list aliases (#2524)
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/_plugins/object/command_aliases.py
  src/snowflake/cli/_plugins/object/commands.py
  src/snowflake/cli/_plugins/object/manager.py
  src/snowflake/cli/_plugins/snowpark/commands.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dcm/test_commands.py
  tests/object/test_object.py
  tests_integration/test_dcm_project.py
  tests_integration/test_object.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

hopefully last fixes
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

hopefully last fixes 2
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

hopefully last fixes 3
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2176180: snapshots update
  tests/__snapshots__/test_help_messages.ambr
Due: none

uh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

uhh
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2176180: separate oidc erros from cli error
  src/snowflake/cli/_app/auth/errors.py
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  tests/auth/test_oidc_manager.py
  tests/auth/test_oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: use match instad of nested ifs
  src/snowflake/cli/_app/auth/oidc_providers.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: remove old todo
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: remove comment
  src/snowflake/cli/_app/snow_connector.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2176180: cleanup manager
  src/snowflake/cli/_plugins/auth/oidc/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

seems to work locally
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

static linking
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

static linking
  scripts/packaging/build_isolated_binary_with_hatch.py
  scripts/packaging/build_packages.sh
Due: none

all around me are familiar faces
  scripts/packaging/build_packages.sh
Due: none

Worn out places, worn out faces
  scripts/packaging/build_packages.sh
Due: none

Bright and early for the daily races
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Going nowhere, going nowhere
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

feat: [SNOW-22476552] create separate script for preprod tests
  scripts/run_tests_preprod.sh
Due: none

Their tears are filling up their glasses
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Snow 2176180 workload identity authentication support (#2490)
  RELEASE-NOTES.md
  pylock.toml
  pyproject.toml
  snyk/requirements.txt
  src/snowflake/cli/_app/auth/__init__.py
  src/snowflake/cli/_app/auth/errors.py
  src/snowflake/cli/_app/auth/oidc_providers.py
  src/snowflake/cli/_app/constants.py
  src/snowflake/cli/_app/snow_connector.py
  src/snowflake/cli/_plugins/auth/__init__.py
  src/snowflake/cli/_plugins/auth/keypair/commands.py
  src/snowflake/cli/_plugins/auth/oidc/__init__.py
  src/snowflake/cli/_plugins/auth/oidc/commands.py
  src/snowflake/cli/_plugins/auth/oidc/manager.py
  src/snowflake/cli/_plugins/auth/oidc/plugin_spec.py
  tests/__snapshots__/test_help_messages.ambr
  tests/auth/test_oidc_manager.py
  tests/auth/test_oidc_providers.py
  tests/test_snow_connector.py
  tests_e2e/__snapshots__/test_installation.ambr
  tests_integration/test_oidc.py
  uv.lock
Due: check-print-in-code, avoid-snowcli, dependencies-sync, use-local-requirements-model

No expression, no expression
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Hide my head, I wanna drown my sorrow
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

No tomorrow, no tomorrow
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none
