Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

check-print-in-code:
  language: pygrep
  name: Check for print statements
  entry: print\(|echo\(
  pass_filenames: true

check-app-imports-in-api:
  language: pygrep
  name: No top level cli._app imports in cli.api
  entry: ^from snowflake\.cli\._app
  pass_filenames: true

avoid-snowcli:
  language: pygrep
  name: Prefer snowflake CLI over snowcli
  entry: snowcli
  pass_filenames: true

dependencies-sync:
  name: Copy dependencies from pyproject.toml to requirements.txt
  language: system
  entry: python snyk/dependency-sync.py

use-local-requirements-model:
  language: pygrep
  name: Use snowflake.cli._plugins.snowpark.models.Requirement for requirements parsing
  entry: '^from requirements.* import| ^import requirements.*
  
    '
  pass_filenames: true

ci: [SNOW-2131839] improve CLI action test robustness in existing workflows
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_cli_action_main_branch.yaml
Due: none

ci: [SNOW-2131839] add GH action to test CLI on PRs to release branches
  .github/workflows/test_cli_action_release_pr.yaml
Due: none

Fix integration flaky test report mechanism
  .github/workflows/test_e2e.yaml
  .github/workflows/test_fork.yaml
  .github/workflows/test_trusted.yaml
Due: none

ci: [SNOW-2131839] allow manual trigger for release PR action
  .github/workflows/test_cli_action_release_pr.yaml
Due: none

Fix integration flaky test report mechanism (#2363)
  .github/workflows/test_e2e.yaml
  .github/workflows/test_fork.yaml
  .github/workflows/test_trusted.yaml
Due: none

test
  src/snowflake/cli/_plugins/stage/commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

ci: [SNOW-2131839] fix SQL test to use integration connection in all actions
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_cli_action_main_branch.yaml
  .github/workflows/test_cli_action_release_pr.yaml
Due: none

ci: [SNOW-2131839] specify bash shell for CLI command tests in workflow
  .github/workflows/test_cli_action.yaml
  .github/workflows/test_cli_action_main_branch.yaml
  .github/workflows/test_cli_action_release_pr.yaml
Due: none

Jw/snow 2131839 test actions on rc branches (#2368)
  .github/workflows/test_cli_action_main_branch.yaml
  .github/workflows/test_cli_action_release_pr.yaml
Due: none

refactor: [SNOW-2134871] remove deprecated streamlit checkout logic
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] Remove ENABLE_STREAMLIT_EMBEDDED_STAGE feature flag and all references
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/feature_flags.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2134871] Remove deprecated Streamlit feature flag and related logic
  src/snowflake/cli/_plugins/streamlit/streamlit_entity.py
  src/snowflake/cli/api/feature_flags.py
  tests/streamlit/test_streamlit_commands.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-208958: Update release notes (#2350)
  RELEASE-NOTES.md
Due: none

Add --disable-templating flag
  src/snowflake/cli/_plugins/sql/commands.py
  src/snowflake/cli/_plugins/sql/manager.py
  src/snowflake/cli/_plugins/sql/repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2131951] fix tests
  tests/app/test_version_check.py
Due: none

test: [SNOW-2131951] Fix version cache file creation
  src/snowflake/cli/_app/version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2131951] simplify default CLI configuration and enhance version check tests
  src/snowflake/cli/api/config.py
  tests/app/test_version_check.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2131951] add support for ignoring new version warning via config/env
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/api/config.py
  tests/app/test_version_check.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2131951] rename method
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2131951] separate CLI and logs config initialization
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2131951] show update available message only once a week
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2131951] ensure config-based ignore new version warning works in tests
  tests/app/test_version_check.py
Due: none

fix: [SNOW-2131951] fallback to default config values when config.toml is broken
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/api/config.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2131951] rename NEW_VERSION_MSG_INTERVAL to NEW_VERSION_MESSAGE_INTERVAL
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

refactor: [SNOW-2131951] extract version warning interval logic, improve testability
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

docs: [SNOW-2131951] document ignore_new_version_warning config option in release notes
  RELEASE-NOTES.md
Due: none

feat: wip add configuration option to mute new version messages
  src/snowflake/cli/_app/version_check.py
  tests/app/test_version_check.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Fixed failing snow sql command when snowflake.yml is invalid
  RELEASE-NOTES.md
  src/snowflake/cli/api/rendering/sql_templates.py
  tests/sql/test_sql.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

Jw/snow 2131951 less frequent update messages (#2352)
  RELEASE-NOTES.md
  src/snowflake/cli/_app/version_check.py
  src/snowflake/cli/api/config.py
  tests/app/test_version_check.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

debug
  src/snowflake/cli/_app/cli_app.py
Due: avoid-snowcli, use-local-requirements-model

Add tests
  tests/__snapshots__/test_help_messages.ambr
  tests_integration/sql/test_sql_templating.py
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

debug
  .github/workflows/test_cli_action_main_branch.yaml
Due: none

Fix check branch exists
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/repo_manager.py
Due: none

Add support for patch releses
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/repo_manager.py
Due: none

increase verbosity
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
Due: none

bump version on cherrypick patch
  scripts/release-plugin/src/snowflakecli_internal_release_plugin/commands.py
Due: none

bump version to 3.9.1
  src/snowflake/cli/__about__.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$
