Repository snowflakedb/snowflake-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-in-code, check-app-imports-in-api, avoid-snowcli, dependencies-sync, use-local-requirements-model

Path conditions:
  check-print-in-code: any of: ^src/snowflake/.*\.py$, but not: (?x) ^src/snowflake/cli/api/console/.*$| ^src/snowflake/cli/_app/printing.py$| ^src/snowflake/cli/_app/dev/.*$| ^src/snowflake/cli/templates/.*$| ^src/snowflake/cli/api/utils/rendering.py$| ^src/snowflake/cli/_plugins/spcs/common.py$| ^src/snowflake/cli/_plugins/snowpark/venv.py$| ^src/snowflake/cli/_plugins/sql/repl.py$| ^src/snowflake/cli/_app/cli_app.py$

  check-app-imports-in-api: any of: ^src/snowflake/cli/api/.*\.py$
  avoid-snowcli: any of: ^src/.*\.py$, but not: ^src/snowflake/cli/_app/constants.py$
  dependencies-sync: any of: ^pyproject.toml$
  use-local-requirements-model: any of: ^src/snowflake/.*\.py$, but not: ^src/snowflake/cli/_plugins/snowpark/models.py$

Fix app bundle structure: Copy executable to app bundle, library to framework
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Fix framework paths in both main Python and app bundle executable
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

Add timeout protection and optimization to framework fixing
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2126722 rename commands from snowsql to repl
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 rename commands from snowsql to repl 2
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

Optimize macOS Python copy: Only copy essential directories like Linux
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

feat: [SNOW-2273956] refactor dcm plan and deploy
  src/snowflake/cli/_plugins/dcm/commands.py
  src/snowflake/cli/api/artifacts/bundle_map.py
  src/snowflake/cli/api/artifacts/upload.py
  src/snowflake/cli/api/artifacts/utils.py
  src/snowflake/cli/api/constants.py
  tests/api/artifacts/test_bundle_map.py
  tests/dcm/test_commands.py
  tests/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project/manifest.yml
  tests_integration/test_data/projects/dcm_project_multiple_configurations/manifest.yml
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2089376 Restore original working Mac build approach while keeping Linux optimization
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

cleanup: [SNOW-2273956] remove DCMProjectEntity
  src/snowflake/cli/_plugins/dcm/dcm_project_entity_model.py
  src/snowflake/cli/api/project/schemas/entities/entities.py
  tests/dcm/test_project_entity_model.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

style: [SNOW-2273956] style spinner
  src/snowflake/cli/api/console/console.py
Due: check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2089376 Restore original working Mac build approach while keeping Linux optimization (#2571)
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2089376 fix wheel build
  scripts/packaging/build_python.sh
Due: none

SNOW-2126722 register commands with decorator, improve command dispatching
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  tests/sql/test_snowsql_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2089376 Fix Windows detection when building binary
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

SNOW-2089376 fix wheel build (#2573)
  scripts/packaging/build_python.sh
Due: none

SNOW-2089376 Fix Windows detection when building binary (#2574)
  scripts/packaging/build_isolated_binary_with_hatch.py
Due: none

bug fix and feature improvement
  src/snowflake/cli/_plugins/remote/commands.py
  src/snowflake/cli/_plugins/remote/constants.py
  src/snowflake/cli/_plugins/remote/manager.py
  src/snowflake/cli/_plugins/remote/utils.py
  tests/__snapshots__/test_help_messages.ambr
  tests/remote/test_commands.py
  tests/remote/test_container_spec.py
  tests/remote/test_manager.py
  tests/remote/test_utils.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2254023] handle setting up default targets on existing objects
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2254023] dbt deploy: add default-target option
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  src/snowflake/cli/api/feature_flags.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests/dbt/test_manager.py
  tests_integration/test_dbt.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2254023] add another option for unsetting default target
  src/snowflake/cli/_plugins/dbt/commands.py
  src/snowflake/cli/_plugins/dbt/manager.py
  tests/__snapshots__/test_help_messages.ambr
  tests/dbt/test_dbt_commands.py
  tests_integration/test_dbt.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

feat: [SNOW-2254023] cleanup
  src/snowflake/cli/_plugins/dbt/manager.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

test: [SNOW-2254023] remove snapshot from test
  tests_integration/__snapshots__/test_dbt.ambr
  tests_integration/test_dbt.py
Due: none

SNOW-2126722 handle !edit command
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 update relese notes for changes
  RELEASE-NOTES.md
Due: none

SNOW-2126722 move comments to docstings
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 update singatures for methods to match with abstract method
  src/snowflake/cli/_plugins/sql/repl_commands.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix parsing !edit arguments with `=`
  src/snowflake/cli/_plugins/sql/repl_commands.py
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 make repl_instance public
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/test_repl.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 drop unnecessary generic Exception handling
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  tests/sql/test_repl.py
Due: check-print-in-code, avoid-snowcli, use-local-requirements-model

SNOW-2126722 fix private _history access
  tests/sql/test_repl.py
Due: none

SNOW-2126722 remove unused statement
  tests/sql/test_statement_reader.py
Due: none

SNOW-2126722 make ruff precommit more verbose
  .pre-commit-config.yaml
Due: none

Change the way installer is beng signed
  scripts/packaging/win/build_installer.bat
Due: none

SNOW-2126722 add !edit command to repl
  RELEASE-NOTES.md
  performance_history_analysis.py
  src/snowflake/cli/_plugins/sql/repl.py
  src/snowflake/cli/_plugins/sql/repl_commands.py
  src/snowflake/cli/_plugins/sql/snowsql_commands.py
  src/snowflake/cli/_plugins/sql/statement_reader.py
  src/snowflake/cli/api/cli_global_context.py
  tests/sql/test_repl.py
  tests/sql/test_snowsql_commands.py
  tests/sql/test_statement_reader.py
Due: check-print-in-code, check-app-imports-in-api, avoid-snowcli, use-local-requirements-model

SNOW-2126722 remove f-string
  tests/sql/conftest.py
  tests/sql/test_sql.py
Due: none

Remove parmeter
  scripts/packaging/win/build_installer.bat
Due: none
